<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <navbar></navbar>

    <side-bar>
      <div class="administrator">
        <md-icon class="md-size-2x md-dark">account_box</md-icon>
        <h3>Administrator</h3>
      </div>

      <template slot="links">
        <mobile-menu slot="content"></mobile-menu>
        <sidebar-item :link="{ name: 'User Managemant', path: '/administrator/adusermanage'}"></sidebar-item>
        <sidebar-item
          :link="{ name: 'Package Management', path: '/administrator/packagemanagement'}"
        ></sidebar-item>
        <sidebar-item :link="{ name: 'Claim Management', path: '/administrator/claimmanagement'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Accounting', path: '/administrator/accounting'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Statistics', path: '/administrator/statistics'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Security', path: '/administrator/security'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Message', path: '/administrator/message'}"></sidebar-item>
        <sidebar-item :link="{ name: 'App Setting', path: '/administrator/appsetting'}"></sidebar-item>
      </template>
    </side-bar>

    <div class="main-panel">
      <!-- <top-navbar></top-navbar> -->
      <transition name="fade" mode="out-in">
        <nuxt />
      </transition>
    </div>
  </div>
</template>

<script>
import MobileMenu from "~/layouts/MobileNavbar.vue";
import Navbar from "~/layouts/Navbar.vue";
export default {
  components: {
    MobileMenu,
    Navbar
  }
};
</script>
