<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <navbar></navbar>

    <side-bar>
      <template slot="links">
        <mobile-menu slot="content"></mobile-menu>
        <li class="header">
          <a href="/newslists">NEWS</a>
        </li>
        <sidebar-item :link="{ name: 'Recently Opened', path: '/newslists'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Purchased', path: '/newslist'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Exclusive news', path: '/newslist'}"></sidebar-item>

        <li class="header">
          <a href="/medialists">MEDIA</a>
        </li>
        <sidebar-item :link="{ name: 'Recently Opened', path: '/medialists'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Purchased', path: '/medialist'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Exclusive media', path: '/medialist'}"></sidebar-item>
      </template>
    </side-bar>

    <div class="main-panel">
      <!-- <top-navbar></top-navbar> -->
      <transition name="fade" mode="out-in">
        <nuxt />
      </transition>
    </div>
  </div>
</template>

<script>
import MobileMenu from "~/layouts/MobileNavbar.vue";
import Navbar from "~/layouts/Navbar.vue";
export default {
  components: {
    MobileMenu,
    Navbar
  }
};
</script>
