<template>
  <div id="detailnews">
    <div class="content">
      <slot name="close"></slot>
      <h3>{{ data.title }}</h3>
      <vue-plyr v-if="data.thumbnail_type === 'video'">
        <div class="plyr__video-embed">
          <iframe :src="data.thumbnail" allowtransparency style="width:100%;"></iframe>
        </div>
      </vue-plyr>
      <vue-plyr v-else-if="data.thumbnail_type === 'audio'">
        <audio>
          <source :src="data.thumbnail" />
        </audio>
      </vue-plyr>
      <img v-else :src="data.thumbnail" alt="People" />
      <p>{{ data.full_description }}</p>
      <div class="md-layout">
        <div v-for="(image, img) in data.images" :key="img" class="item-news">
          <img :src="image.image" />
        </div>
      </div>
    </div>

    <div class="footer-detail">
      <button class="button button-5">Sale for 5 coins (publics)</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "more-news",
  props: ["data"],
  data() {
    return {};
  },
  filters: {
    subStr: function(string) {
      return string.substr(0, 250) + "...";
    }
  }
};
</script>

<style lang="scss" scoped>
#detailnews {
  display: none;
  position: fixed;
  right: 0;
  padding-bottom: 8em;
  width: 300px;
  min-height: calc(100vh - 64px);
  background-color: #1f5fb6;
  color: #ffffff !important;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;
  &.active {
    display: block;
  }
  .content {
    padding: 0 10px;
  }
  h3 {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Prompt";
    font-weight: 700;
    font-size: 1.8rem;
  }
  .md-button {
    float: right;
    &.md-icon-button {
      background-color: transparent !important;
      box-shadow: none !important;
      color: #ffffff !important;
      i {
        color: #ffffff !important;
      }
    }
  }

  .md-button i {
    color: #ffffff !important;
  }
  .md-button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .item-news {
    width: calc(33% - 6px);
    background-color: transparent;
    margin: 3px;
    img {
      width: 100%;
    }
  }

  .footer-detail {
    display: block;
    position: fixed;
    padding: 0.5em;
    bottom: 0;
    width: 300px;
    background: #1f5fb6;
    button {
      color: #ffffff;
      width: 100%;
      font-size: 18px;
      padding: 0.25em 1em;
      background: transparent;
      border: 2px solid #ffffff;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 991px) {
  #detailnews {
    position: fixed;
    display: none;
    top: 48px;
    height: 100vh;
    width: 300px;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    border-top: none;
    transform: translate3d(260px, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
</style>