<template>
  <div id="detailnews">
    <div class="content">
      <slot name="close"></slot>
      <h3>{{ data.title }}</h3>
      <vue-plyr v-if="data.type === 'video'">
        <div class="plyr__video-embed">
          <iframe :src="data.file" allowtransparency style="width:100%;"></iframe>
        </div>
      </vue-plyr>
      <vue-plyr v-else-if="data.type === 'audio'">
        <audio>
          <source :src="data.file" />
        </audio>
      </vue-plyr>
      <img v-else :src="data.file" alt="People" />
      <div class="time">
        <p>{{ data.category }}: {{data.genre}}</p>
        <p>{{ data.create_datetime | moment("DD MMMM YYYY") }}</p>
        <p>{{ data.create_datetime | moment("calendar") }}</p>
      </div>
      <div class="file">
        <p>{{ data.name }}</p>
        <p class="size">{{ (data.size / 1048576).toFixed(2) }} MB</p>
      </div>
      <div class="location">
        <p>{{ data.location }}</p>
      </div>
    </div>

    <div class="footer-detail">
      <slot name="buycoin"></slot>
      <slot name="seemore"></slot>
      <!-- <button class="button button-5">Buy media 5 coins</button> -->
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  name: "more-news",
  props: ["data"],
  data() {
    return {
      condition: false
    };
  },
  filters: {
    subStr: function(string) {
      return string.substr(0, 250) + "...";
    }
  }
};
</script>

<style lang="scss" scoped>
#detailnews {
  display: none;
  position: fixed;
  right: 0;
  padding-bottom: 8em;
  width: 300px;
  min-height: calc(100vh - 64px);
  background-color: #1f5fb6;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;
  color: #ffffff;
  &.active {
    display: block;
  }
  .content {
    padding: 0 10px;
  }
  h3 {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Prompt";
    font-weight: 700;
    font-size: 1.8rem;
  }
  .md-button {
    float: right;
    &.md-icon-button {
      background-color: transparent !important;
      box-shadow: none !important;
      color: #ffffff !important;
      i {
        color: #ffffff !important;
      }
    }
  }

  div.time,
  div.file,
  div.location {
    margin: 1em 0;
    p {
      margin: 0;
    }
  }
  p.size {
    font-weight: bold;
  }
  .md-button i {
    color: #ffffff !important;
  }
  .md-button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .item-news {
    width: calc(33% - 6px);
    background-color: #ffffff;
    margin: 3px;
    img {
      width: 100%;
    }
  }
  .footer-detail {
    display: flex;
    position: fixed;
    padding: 0.5em;
    bottom: 0;
    width: 300px;
    justify-content: space-around;
    button {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      padding: 10px 15px;
      border: 2px solid #ffffff;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 991px) {
  #detailnews {
    position: fixed;
    display: none;
    top: 0;
    height: 100vh;
    width: 300px;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    border-top: none;
    transform: translate3d(260px, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
</style>