<template>
  <ul class="nav nav-mobile-menu">
    <li>
      <sidebar-item :link="{ name: 'Add News', path: '/addnews', icon: 'add' }"></sidebar-item>
    </li>
  </ul>
</template>
<script>
export default {
  name: "mobile-menu",
  data() {
    return {
      search: null,
      selectedEmployee: null
    };
  }
};
</script>
