<template>
  <div id="navbar-default">
    <div class="toolbar dense">
      <h3 class="title">TH STRINGERS</h3>
      <div class="md-toolbar-section-end">
        <md-button id="menu" :class="{ toggled: $sidebar.showSidebar }" @click="toggleSidebar">
          <md-icon v-if="!sideActive">menu</md-icon>
          <md-icon v-else>close</md-icon>
        </md-button>
        <div class="collapse" id="action">
          <div class="dropdown__markerplace">
            <button class="markerplace">MARKERPLACE</button>
          </div>
          <div class="dropdown__noti">
            <button class="button-noti">
              <md-icon>notifications</md-icon>
            </button>
            <div class="drop-down__menu-box">
              <ul class="drop-down__menu">
                <li class="drop-down__item">
                  <p>You have purchased Media Footage...</p>
                  <span>4 days ago</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown__username">
            <button class="button-username">USERNAME</button>
            <div class="drop-down__menu-box">
              <ul class="drop-down__menu">
                <li class="drop-down__item">Profile</li>
                <li class="drop-down__item">Purchased</li>
                <li class="drop-down__item">Notification</li>
                <li class="drop-down__item">Setting</li>
                <li class="drop-down__item">Sign Out</li>
              </ul>
            </div>
          </div>
          <div class="dropdown__coin">
            <button class="coins">COIN 9999</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "navbar",
  data() {
    return {
      sideActive: false,
      selectedEmployee: null,
      view: "thumbnail-view",
      order: "order-by-date",
      arrayView: [{ name: "thumbnail-view" }, { name: "thumbnail-view 2" }],
      objectView: {
        name: "thumbnail-view"
      },
      arrayOrder: [{ name: "order-by-date" }, { name: "order-by-date 2" }],
      objectOrder: {
        name: "order-by-date"
      }
    };
  },
  methods: {
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      this.sideActive = !this.sideActive;
    },
    methodView(payload) {
      console.log(payload);
    },
    methodOrder(payload) {
      console.log(payload);
    }
  }
};
</script>

<style lang="scss" scoped>
#navbar-default {
  font-family: "Tabloid";
  width: 100%;
  position: fixed;
  z-index: 2;
  .toolbar {
    background-color: #000000;
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;
    align-content: center;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, background-color, box-shadow, transform, color,
      min-height;
    will-change: opacity, background-color, box-shadow, transform, color,
      min-height;
    .title {
      font-family: "Tabloid";
      margin: 0;
      margin-left: 8px;
      overflow: hidden;
      font-weight: 400;
      letter-spacing: 0.02em;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
      color: #ffffff !important;
    }
    #menu {
      display: none;
    }
    #action {
      display: flex;
      align-items: center;
      .md-button {
        font-size: 16px;
        background-color: transparent !important;
        box-shadow: none !important;
      }
      button {
        font-family: "Tabloid";
        padding: 0 10px;
        font-size: 18px;
        background: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;
        .md-icon {
          color: #ffffff;
        }
      }
      .dropdown__noti,
      .dropdown__username {
        .drop-down__menu-box {
          position: absolute;
          width: 25%;
          right: 10px;
          background-color: #fff;
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          font-family: "Montserrat";
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          visibility: hidden;
          opacity: 0;
          margin-top: 7px;
          .drop-down__menu {
            margin: 0;
            padding: 0 13px;
            list-style: none;
            .drop-down__item {
              font-size: 13px;
              padding: 13px 0;
              text-align: left;
              font-weight: 500;
              color: #969fb6;
              cursor: pointer;
              position: relative;
              border-bottom: 1px solid #e0e2e9;
              p {
                margin: 5px;
              }
              &:hover {
                color: #1f5fb6;
                font-weight: bold;
                &:before {
                  display: block;
                }
              }
              &:last-of-type {
                border-bottom: 0;
              }
              &:before {
                content: "";
                position: absolute;
                width: 3px;
                height: 28px;
                background-color: #1f5fb6;
                left: -13px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
              }
            }
          }
          &:before {
            content: "";
            background-color: transparent;
            border-right: 8px solid transparent;
            position: absolute;
            border-left: 8px solid transparent;
            border-bottom: 8px solid #fff;
            border-top: 8px solid transparent;
            top: -15px;
            right: 53%;
          }
          &:after {
            content: "";
            background-color: transparent;
          }
        }
      }
      .dropdown__username {
        .drop-down__menu-box {
          &:before {
            right: 35%;
          }
        }
      }
      .dropdown__noti:hover,
      .dropdown__username:hover {
        .drop-down__menu-box {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .dense {
    min-height: 48px;
  }
}

@media (max-width: 1024px) {
  #navbar-default {
    .toolbar {
      min-height: 56px;
      #action {
        display: none;
      }
      #menu {
        display: inherit;
        &.md-button {
          background-color: transparent !important;
          box-shadow: none;
          .md-ripple {
            padding: 0 !important;
            .md-button-content {
              i {
                font-size: 2rem !important;
              }
            }
          }
        }
      }
    }
  }
}
</style>