<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <navbar></navbar>

    <side-bar class="stringer">
      <div>
        <img :src="avatar" alt="People" class="stringer" />
      </div>
      <template slot="links">
        <mobile-menu slot="content"></mobile-menu>
        <sidebar-item :link="{ name: 'Profile', path: '/stringer/profile'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Follower', path: '/stringer/follower'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Earning', path: '/stringer/earning'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Total News', path: '/stringer/totalnews'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Total Media', path: '/stringer/totalmedia'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Setting', path: '/stringer/setting'}"></sidebar-item>
        <sidebar-item :link="{ name: 'FAQs', path: '/stringer/faqs'}"></sidebar-item>
        <sidebar-item :link="{ name: 'Support', path: '/stringer/support'}"></sidebar-item>
      </template>
    </side-bar>

    <div class="main-panel">
      <transition name="fade" mode="out-in">
        <nuxt />
      </transition>
    </div>
  </div>
</template>

<script>
import MobileMenu from "~/layouts/MobileNavbar.vue";
import Navbar from "~/layouts/Navbar.vue";
import Avatar from "~/assets/img/marc.jpg";
export default {
  components: {
    MobileMenu,
    Navbar
  },
  data() {
    return {
      avatar: Avatar
    };
  }
};
</script>

<style lang="scss" scoped>
h1 {
  margin: 20px;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
}
</style>
