<template>
  <md-toolbar md-elevation="0" class="md-transparent" id="top-navbar">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <p class="md-title">{{ $route.name }}</p>
        <div id="select-on-topbar">
          <div class="md-layout">
            <div class="md-layout-item md-size-50">
              <dropdown
                :options="arrayView"
                :selected="objectView"
                v-on:updateOption="methodView"
                :placeholder="'Select an Item'"
              ></dropdown>
              <!-- <md-field>
                <md-select v-model="view" name="view" id="view">
                  <md-option value="thumbnail-view">Thumbnail view</md-option>
                </md-select>
              </md-field>-->
            </div>
            <div class="md-layout-item md-size-50">
              <dropdown
                :options="arrayOrder"
                :selected="objectOrder"
                v-on:updateOption="methodOrder"
                :placeholder="'Select an Item'"
              ></dropdown>
              <!-- <md-field>
                <md-select v-model="order" name="order" id="order">
                  <md-option value="order-by-date">Order by Date</md-option>
                </md-select>
              </md-field> -->
            </div>
          </div>
        </div>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-simple md-toolbar-toggle"
          :class="{ toggled: $sidebar.showSidebar }"
          @click="toggleSidebar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

        <div class="md-collapse">
          <md-list>
            <md-list-item href="/addnews" id="btn-add-news">
              <div>
                <i class="material-icons">add</i>
                <p>add news</p>
              </div>
            </md-list-item>
            <md-list-item href="/history">
              <i class="material-icons">watch_later</i>
              <p class="hidden-lg hidden-md">History</p>
            </md-list-item>
            <md-list-item href="/notifications">
              <i class="material-icons">notifications</i>
              <p class="hidden-lg hidden-md">Notification</p>
            </md-list-item>
            <md-list-item href="/setting">
              <i class="material-icons">settings</i>
              <p class="hidden-lg hidden-md">Setting</p>
            </md-list-item>
            <md-list-item to="/profile">
              <i class="material-icons">person</i>
              <p class="hidden-lg hidden-md">Profile</p>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </div>
  </md-toolbar>
</template>

<script>
import dropdown from "~/components/Select.vue";
export default {
  components: {
    dropdown: dropdown
  },
  data() {
    return {
      selectedEmployee: null,
      view: "thumbnail-view",
      order: "order-by-date",
      arrayView: [
        { name: "thumbnail-view" },
        { name: "thumbnail-view 2" }
      ],
      objectView: {
        name: "thumbnail-view"
      },
      arrayOrder: [
        { name: "order-by-date" },
        { name: "order-by-date 2" }
      ],
      objectOrder: {
        name: "order-by-date"
      }
    };
  },
  methods: {
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    methodView(payload) {
      console.log(payload);
    },
    methodOrder(payload) {
      console.log(payload);
    }
  }
};
</script>

<style lang="scss">
// #top-navbar {
//   position: fixed;
//   width: calc(100vw - 260px);
// }
@media screen and (max-width: 1024px) {
  #select-on-topbar {
    display: none;
  }
}
</style>