@mixin sidebar-background-color($background-color, $font-color) {
  .md-list {
    li {
      .nav-link {
        color: $font-color !important;
      }
      i {
        color: rgba($font-color, 0.8);
      }

      &.active,
      &:hover {
        [data-toggle="collapse"] {
          color: $font-color;
          i {
            color: rgba($font-color, 0.8);
          }
        }
      }
    }
  }
  .user {
    a {
      color: $font-color !important;
    }
  }
  .simple-text {
    color: $font-color;
  }
  .sidebar-background:after {
    background: $background-color;
    opacity: 0.8;
  }
}

@mixin sidebar-active-color($font-color) {
  .nav {
    li {
      &.active > a:not([data-toggle="collapse"]) {
        color: $font-color;
        opacity: 1;
        @include shadow-big-color($font-color);

        i {
          color: rgba($font-color, 0.8);
        }
      }
    }
  }
}

@mixin set-background-color-button($color) {
  li.active > a:not([data-toggle="collapse"]) {
    background-color: #1f5fb6;
    color: #ffffff !important;
    // @include shadow-big-color($color);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    .md-icon.md-theme-default.md-icon-font {
      color: $white-color !important;
      opacity: 1;
      transition: none;
    }
  }
}
