<template>
  <div id="wrapper-earning">
    <h1>Earning</h1>
    <p>Coming soon....</p>
  </div>
</template>

<script>
export default {
  layout: "StringerProfile"
};
</script>

<style lang="scss" scoped>
#wrapper-earning {
  margin: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-top: 3px solid #1f5fb6;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  p {
    margin: 0;
  }
  h1 {
    margin: 0;
    font-family: "Tabloid";
  }
}
</style>
