<template>
  <div id="setting">
    <h1>{{ $route.name }}</h1>
    <div class="container-setting">
      <tabs>
        <tab name="Profile" :selected="true">
          <div class="md-layout">
            <div class="md-layout-item md-xsmall-size-100 md-size-40">
              <div class="image-profile">
                <img :src="logo" alt />
              </div>
              <div class="change-image" v-if="disabled">
                <button>Change Image</button>
              </div>
            </div>
            <div class="md-layout-item md-xsmall-size-100 md-size-60">
              <div class="header-setting">
                <h3>Personal Info</h3>
                <div class="action">
                  <button v-if="!disabled" @click="editProfile">
                    <i class="fas fa-edit"></i>Edit
                  </button>
                  <button v-else @click="saveProfile" class="success">
                    <i class="fas fa-save"></i>Save
                  </button>
                </div>
              </div>
              <div :class="{'overlay': overlay}">
                <label>ID Card No :</label>
                <span>1-2345-67890-00-0</span>
              </div>
              <div :class="{'overlay': overlay}">
                <label v-if="!disabled">Firstname :</label>
                <input type="text" :disabled="!disabled" placeholder="Firstname" />
              </div>
              <div :class="{'overlay': overlay}">
                <label v-if="!disabled">Lastname :</label>
                <input type="text" :disabled="!disabled" placeholder="Lastname" />
              </div>
              <div :class="{'overlay': overlay}">
                <label v-if="!disabled">Date of Birth :</label>
                <span v-if="!disabled">29/09/1995</span>
                <md-datepicker v-else></md-datepicker>
              </div>
              <div :class="{'overlay': overlay}">
                <label v-if="!disabled">Mobile number:</label>
                <input type="text" :disabled="!disabled" placeholder="088-898-0000" />
              </div>
              <div :class="{'overlay': overlay}">
                <label v-if="!disabled">Email :</label>
                <input type="text" :disabled="!disabled" placeholder="example@exam.com" />
              </div>
            </div>
          </div>
        </tab>
        <tab name="Password">
          <div class="md-layout">
            <div class="md-layout-item md-xsmall-size-100 md-size-50">
              <p>Current Password</p>
              <input type="password" placeholder="Current password" />
            </div>
            <div class="md-layout-item md-xsmall-size-100 md-size-50">
              <p>New Password</p>
              <input type="password" placeholder="New password" />
              <input type="password" placeholder="Confirm new password" />
            </div>
          </div>
          <div class="action-save">
            <button>Change Password</button>
          </div>
        </tab>
        <tab name="Bank Accounts">
          <bank-accounts></bank-accounts>
        </tab>
        <tab name="Company Info">
          <company-form></company-form>
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import Tab from "~/components/Tab/Tab.vue";
import Tabs from "~/components/Tab/Tabs.vue";
import dropdown from "~/components/Select.vue";
import logo from "~/assets/img/signup_male.png";
import BankAccounts from "~/components/BankAccounts.vue"
import CompanyForm from "~/components/CompanyForm.vue"

export default {
  name: "setting",
  layout: "StringerProfile",
  components: {
    Tab,
    Tabs,
    dropdown,
    BankAccounts,
    CompanyForm
  },
  data() {
    return {
      logo,
      disabled: false,
      overlay: true,
      arrayBank: [
        { name: "SCB Bank" },
        { name: "Bangkok Bank" },
        { name: "KASIKORNBANK" },
        { name: "Krungsri" }
      ],
      bankSelected: {
        name: "SCB Bank"
      },
      arrayCompany: [
        { name: "Company 1" },
        { name: "Company 2" },
        { name: "Company 3" },
        { name: "Company 4" }
      ],
      companySelected: {
        name: "Company 1"
      }
    };
  },
  methods: {
    editProfile() {
      if (this.disabled === false) {
        this.disabled = !this.disabled;
        this.overlay = !this.overlay;
      }
    },
    saveProfile() {
      if (this.disabled === true) {
        this.disabled = !this.disabled;
        this.overlay = !this.overlay;
      }
    },
    methodBank(payload) {
      console.log(payload);
    },
    methodCompany(pl) {
      console.log(pl);
    }
  }
};
</script>
