<template>
  <div id="stringer-page">
    <div class="stringer-content" :class="{active : mainActive}">
      <div class="md-toolbar-row">
        <div class="md-layout md-gutter md-alignment-center-space-around">
          <div
            class="md-layout-item md-size-70 md-medium-size-70 md-small-size-100 md-xsmall-size-100"
          >
            <div class="col-search">
              <input class="effect-17" v-model="search" type="text" placeholder />
              <label>Search...</label>
              <span class="focus-border">
                <i></i>
              </span>
            </div>
          </div>
          <div
            class="add-news md-layout-item md-size-30 md-medium-size-30 md-small-size-100 md-xsmall-size-100"
          >
            <md-button href="/addnews">
              <md-icon>add</md-icon>Add News
            </md-button>
          </div>
        </div>
      </div>
      <div class="stringer-lists">
        <h1 v-if="notfound">Not Found</h1>
        <div v-else class="layout">
          <div
            class="layout-item"
            v-for="(n, i) in this.newsListItem"
            :key="i"
            @click="showDetail(n)"
          >
            <news-item>
              <template slot="image">
                <vue-plyr v-if="n.type === 'video'">
                  <div class="plyr__video-embed">
                    <iframe :src="n.file" allowtransparency style="width:100%;"></iframe>
                  </div>
                </vue-plyr>
                <vue-plyr v-else-if="n.type === 'audio'">
                  <audio>
                    <source :src="n.file" />
                  </audio>
                </vue-plyr>
                <img v-else :src="n.file" alt="People" />
              </template>
              <template slot="title">
                <div class="el">{{ n.title }}</div>
                <p>{{ n.create_datetime | moment("DD MMM YYYY") }}</p>
              </template>
            </news-item>
          </div>
        </div>
      </div>
    </div>
    <toggle-detail :class="{ active: isActive }" :data="detail">
      <md-button class="md-icon-button" slot="close" @click="hideDetail">
        <i class="material-icons">clear</i>
      </md-button>
    </toggle-detail>
  </div>
</template>

<script>
import moment from "moment";
import { DB, storage } from "~/service/firebase.config.js";
import NewsItem from "~/components/NewsItem.vue";
import ToggleDetail from "~/components/ToggleDetail.vue";

export default {
  layout: "StringerProfile",
  components: {
    NewsItem,
    ToggleDetail
  },
  data() {
    return {
      isActive: false,
      mainActive: false,
      detail: "",
      news: [],
      new_data: "",
      search: "",
      queryTime: "",
      notfound: false,
      condition: false
    };
  },
  mounted() {
    var database = DB.ref("media");
    database.on("value", snapshot => {
      this.new_data = snapshot.val();
      if (this.new_data === undefined || this.new_data === null) {
        this.notfound = true;
      } else {
        return this.new_data;
      }
    });
  },
  methods: {
    showDetail(data) {
      this.detail = data;
      if (this.isActive === false) {
        this.isActive = !this.isActive;
        this.mainActive = !this.mainActive;
      }
    },
    hideDetail() {
      this.isActive = false;
      this.mainActive = false;
    }
  },
  computed: {
    newslists() {
      return this.$store.getters.get;
    },
    newsListItem() {
      var dnews = this.new_data;
      var data_arr = [];
      Object.keys(dnews).forEach(key => {
        const user = dnews[key];
        data_arr.push(user);
      });
      return data_arr
        .sort(
          (a, b) => new Date(b.create_datetime) - new Date(a.create_datetime)
        )
        .filter(news => {
          return news.title.toLowerCase().includes(this.search);
        });
    }
  }
};
</script>
