<template>
  <div class="accordion" v-bind:class="theme">
    <div class="header" v-on:click="toggle">
      <slot name="header"></slot>
      <i class="fa fa-plus header-icon" v-bind:class="{ rotate: show }"></i>
    </div>
    <transition
      name="accordion"
      v-on:before-enter="beforeEnter"
      v-on:enter="enter"
      v-on:before-leave="beforeLeave"
      v-on:leave="leave"
    >
      <div class="accordion-content" v-show="show">
        <div class="accordion-content-inner">
          <slot></slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: ["theme"],
  data() {
    return {
      show: false
    };
  },

  methods: {
    toggle: function() {
      this.show = !this.show;
    },
    // enter: function(el, done) {
    //   $(el).slideDown(150, done);
    // },
    // leave: function(el, done) {
    //   $(el).slideUp(150, done);
    // },
    beforeEnter: function(el) {
      el.style.height = "0";
    },
    enter: function(el) {
      el.style.height = el.scrollHeight + "px";
    },
    beforeLeave: function(el) {
      el.style.height = el.scrollHeight + "px";
    },
    leave: function(el) {
      el.style.height = "0";
    }
  }
};
</script>

<style lang="scss" scoped>
.accordion {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid #111111;
  font-family: "Helvetica";
  .header {
    font-family: "Helvetica";
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    padding: 0 40px 0 8px;
    position: relative;
    color: #0000cd;
    cursor: pointer;
    .header-icon {
      position: absolute;
      top: 5px;
      right: 8px;
      transform: rotate(0deg);
      transition-duration: 0.3s;
    }
    .header-icon.rotate {
      transform: rotate(45deg);
      transition-duration: 0.3s;
    }
  }

  .accordion-content {
    overflow: hidden;
    color: #0000cd;
    border-top: 0;
    transition: 150ms ease-out;
    .accordion-content-inner {
      padding: 8px;
      font-size: 16px;
      overflow-wrap: break-word;
      /*   white-space: pre-wrap; */
    }
  }
}
</style>