<template>
  <div class="md-layout">
    <div class="md-layout-item md-xsmall-size-100 md-size-50">
      <div class="company-info">
        <label>Bank :</label>
        <md-field>
          <dropdown
            :options="arrayBank"
            :selected="bankSelected"
            v-on:updateOption="methodBank"
            :placeholder="'Select an Item'"
          ></dropdown>
        </md-field>
      </div>
      <div class="company-info">
        <label>Account No :</label>
        <input type="text" placeholder="Account No" />
      </div>
      <div class="company-info">
        <label>Account Name :</label>
        <input type="text" placeholder="Account Name" />
      </div>
      <div class="company-info">
        <label>Upload Book Bank :</label>
        <md-field>
          <md-file accept="image/*" placeholder="Choose file" />
        </md-field>
      </div>
      <div class="action-save">
        <button>Add Bank Account</button>
      </div>
    </div>
    <div class="md-layout-item md-xsmall-size-100 md-size-50">
      <table>
        <thead>
          <tr>
            <th scope="col">Bank</th>
            <th scope="col">Account No</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Bank">KBANK</td>
            <td data-label="Account No">03-5-11111-1</td>
            <td data-label="Remove">
              <i class="fas fa-trash-alt"></i>
            </td>
          </tr>
          <tr>
            <td scope="row" data-label="Bank">SCB</td>
            <td data-label="Account No">11-5-11111-1</td>
            <td data-label="Remove">
              <i class="fas fa-trash-alt"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import dropdown from "./Select.vue";

export default {
  name: "bank-accounts",
  components: {
    dropdown
  },
  data() {
    return {
      arrayBank: [
        { name: "SCB Bank" },
        { name: "Bangkok Bank" },
        { name: "KASIKORNBANK" },
        { name: "Krungsri" }
      ],
      bankSelected: {
        name: "SCB Bank"
      }
    };
  },
  methods: {
    methodBank(payload) {
      console.log(payload);
    }
  }
};
</script>

<style lang="scss" scoped>
.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input,
  .md-field {
    font-family: "Montserrat";
    width: 65%;
  }

  input {
    &.address {
      width: 50%;
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
}
.action-save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  button {
    border-radius: 5px;
    border: 1px solid #0ead00;
    background-color: #0ead00;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  thead {
    tr {
      background-color: #1f5fb6;
      color: #ffffff;
    }
  }
  tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  th,
  td {
    padding: 0.625em;
    text-align: center;
  }

  tbody {
    tr {
      td {
        i {
          color: #c00000;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .company-info {
    display: block;
    justify-content: space-between;
    align-items: center;
    input,
    .md-field {
      width: 100%;
    }
    input {
      &.address {
        width: 100%;
        &:first-child {
          margin-right: 0;
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  .company-info {
    display: block;
    justify-content: space-between;
    align-items: center;
    input,
    .md-field {
      width: 100%;
    }

    input {
      &.address {
        width: 100%;
        &:first-child {
          margin-right: 0;
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  table {
    border: 0;
    caption {
      font-size: 1.3em;
    }
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    td:last-child {
      border-bottom: 0;
    }
  }
}
</style>
