<template>
  <div>
    <div class="md-layout">
      <div class="md-layout-item md-xsmall-size-100 md-size-50">
        <div class="company-info">
          <label>Company Category :</label>
          <md-field>
            <dropdown
              :options="arrayCompany"
              :selected="companySelected"
              v-on:updateOption="methodCompany"
              :placeholder="'Select an Item'"
            ></dropdown>
          </md-field>
        </div>
        <div class="company-info">
          <label>Tax ID :</label>
          <input type="text" placeholder="Tax ID" />
        </div>
        <div class="company-info">
          <label>YouTube Channel ID :</label>
          <input type="text" placeholder="YouTube Channel ID" />
        </div>
        <div class="company-info">
          <label>Address :</label>
          <input type="text" placeholder="Address" />
        </div>
        <div class="company-info">
          <input type="text" class="address" placeholder="Thumbol" />
          <input type="text" class="address" placeholder="Amphor" />
        </div>
        <div class="company-info">
          <input type="text" class="address" placeholder="Province" />
          <input type="text" class="address" placeholder="Postal Code" />
        </div>
      </div>
      <div class="md-layout-item md-xsmall-size-100 md-size-50">
        <div class="company-info">
          <label>Bank :</label>
          <md-field>
            <dropdown
              :options="arrayBank"
              :selected="bankSelected"
              v-on:updateOption="methodBank"
              :placeholder="'Select an Item'"
            ></dropdown>
          </md-field>
        </div>
        <div class="company-info">
          <label>Account No :</label>
          <input type="text" placeholder="Account No" />
        </div>
        <div class="company-info">
          <label>Account Name :</label>
          <input type="text" placeholder="Account Name" />
        </div>
      </div>
    </div>
    <div class="action-save">
      <button>SAVE</button>
    </div>
  </div>
</template>

<script>
import dropdown from "./Select.vue";

export default {
  name: "company-form",
  components: {
    dropdown
  },
  data() {
    return {
      arrayBank: [
        { name: "SCB Bank" },
        { name: "Bangkok Bank" },
        { name: "KASIKORNBANK" },
        { name: "Krungsri" }
      ],
      bankSelected: {
        name: "SCB Bank"
      },
      arrayCompany: [
        { name: "Company 1" },
        { name: "Company 2" },
        { name: "Company 3" },
        { name: "Company 4" }
      ],
      companySelected: {
        name: "Company 1"
      }
    };
  },
  methods: {
    methodBank(payload) {
      console.log(payload);
    },
    methodCompany(pl) {
      console.log(pl);
    }
  }
};
</script>