<template>
  <form @submit.prevent="onLogin">
    <h1>Sign in</h1>
    <div class="social-container">
      <a href="#" class="social">
        <i class="fab fa-google-plus-g"></i>
      </a>
      <a href="#" class="social">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <span>or use your account</span>
    <div :class="{ 'md-invalid': $v.email.$invalid }">
      <input type="email" placeholder="Email" />
      <span class="md-helper-text"></span>
      <span class="md-error" v-if="$v.email.$error">{{validationMsg($v.email.$error)}}</span>
    </div>
    <div :class="{ 'md-invalid': $v.password.$error }">
      <input v-model="password" type="password" placeholder="Password" />
      <span class="md-helper-text"></span>
      <span class="md-error" v-if="$v.password.$error">{{validationMsg($v.password.$error)}}</span>
    </div>
    <button type="submit">Sign In</button>
    <a href="#">Forgot your password?</a>
  </form>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";
import { LOGIN } from "../store/auth";
export default {
  head: {
    script: [{ src: "/js/google-client.js" }, { src: "/js/fb-sdk.js" }]
  },
  data() {
    return {
      email: "",
      password: "",
      googleSignInParams: {
        client_id:
          "89257460061-n439an74pvo82rvacongtul69c154qd2.apps.googleusercontent.com"
      },
      fbSignInParams: {
        scope: "email,user_likes",
        return_scopes: true
      }
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  computed: mapState({
    auth: state => state.auth
  }),
  methods: {
    ...mapActions([LOGIN]),
    async onLogin() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return true;
      }
      const credentials = {
        email: this.email,
        password: this.password
      };
      await this.$store.dispatch(`auth/${LOGIN}`, credentials).then(() => {
        this.$router.push("/addNews");
      });
    },
    validationMsg(isError) {
      const msg = isError ? "This field is required." : "";
      return msg;
    },
    async onFBSignInSuccess(response) {
      FB.api("/me?fields=id,email", async dude => {
        console.log({ dude });
        const credentials = {
          email: dude.email,
          password: ""
        };
        await this.$store.dispatch(`auth/${LOGIN}`, credentials).then(() => {
          this.$router.push("/addNews");
        });
      });
    },
    onFBSignInError(error) {
      alert("Login Fail!");
      console.log("OH NOES", error);
    },
    async onGGSignInSuccess(googleUser) {
      const profile = googleUser.getBasicProfile(); // etc etc
      const credentials = {
        email: profile.getEmail(),
        password: ""
      };
      await this.$store.dispatch(`auth/${LOGIN}`, credentials).then(() => {
        this.$router.push("/addNews");
      });
    },
    onGGSignInError(error) {
      alert("Login Fail!");
      console.log("OH NOES", error);
    }
  }
};
</script>

<style>
.root-container-login {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  flex-wrap: wrap;
}
.wrapper-input-row {
  display: flex;
  flex-direction: row;
}
.wrapper-radio-gender {
  display: flex;
  align-items: center;
}
.label-gender {
  margin-right: 10px;
  color: #aaaaaa;
  font-size: 16px;
}
.wrapper-recaptcha {
  display: flex;
  justify-content: center;
}
.wrapper-btn-register {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.wrapper-container-radio-gender {
  display: flex;
  flex-direction: column;
}
.span-error-gender {
  font-size: 12px;
  color: #ff1744;
}
.wrapper-btn-login-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper-content-news {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 350px;
}
.wrapper-top-content-news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper-icon-camera {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.wrapper-example-news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}
.wrapper-icon-news {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.wrapper-text-news {
  width: 75%;
  word-break: break-all;
}
.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #ff1744;
  color: #fff;
  text-align: center;
  width: 160px;
}
.fb-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #4267b2;
  color: #fff;
  height: 35px;
  margin-top: 2px;
}
.wrapper-btn-google {
  padding: 5px;
}
.wrapper-btn-facebook {
  padding: 5px;
}
.wrapper-btn-login-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
</style>