<template>
  <div>
    <form-wizard
      @on-complete="onSubmit"
      step-size="xs"
      color="#1f5fb6"
      title
      subtitle
      finishButtonText="Register"
    >
      <tab-content title="Personal details">
        <div class="layout">
          <div class="layout-item">
            <md-field :class="{ 'md-invalid': $v.firstName.$error }">
              <input v-model="firstName" type="text" placeholder="Firstname" />
              <span class="md-helper-text"></span>
              <span
                class="md-error"
                v-if="$v.firstName.$error"
              >{{validationMsg($v.firstName.$error)}}</span>
            </md-field>
          </div>
          <div class="layout-item">
            <md-field :class="{ 'md-invalid': $v.lastName.$error }">
              <input v-model="lastName" type="text" placeholder="Lastname" />
              <span class="md-helper-text"></span>
              <span class="md-error" v-if="$v.lastName.$error">{{validationMsg($v.lastName.$error)}}</span>
            </md-field>
          </div>
        </div>
        <md-field :class="{ 'md-invalid': $v.email.$invalid }">
          <input :disabled="accountProvider != ''" v-model="email" type="text" placeholder="Email" />
          <span class="md-helper-text"></span>
          <span class="md-error" v-if="$v.email.$error">{{validationMsg($v.email.$error)}}</span>
        </md-field>
        <div class="layout">
          <div class="layout-item">
            <md-field v-if="accountProvider == ''" :class="{ 'md-invalid': $v.password.$error }">
              <input v-model="password" type="password" placeholder="Password" />
              <span class="md-helper-text"></span>
              <span class="md-error" v-if="$v.password.$error">{{validationMsg($v.password.$error)}}</span>
            </md-field>
          </div>
          <div class="layout-item">
            <md-field
              v-if="accountProvider == ''"
              :class="{ 'md-invalid': $v.confirmPassword.$error }"
            >
              <input v-model="confirmPassword" type="password" placeholder="Comfirm Password" />
              <span class="md-helper-text"></span>
              <span
                class="md-error"
                v-if="$v.confirmPassword.$error"
              >{{validationMsg($v.confirmPassword.$error)}}</span>
            </md-field>
          </div>
        </div>
      </tab-content>

      <tab-content title="Additional Info">
        <div class="layout">
          <div class="layout-item">
            <div class="file-input">
              <div v-if="!imageRegular">
                <div class="image-container">
                  <img :src="regularImg" title />
                </div>
              </div>
              <div class="image-container" v-else>
                <img :src="imageRegular" />
              </div>
              <div class="button-container">
                <md-button class="md-danger md-round" @click="removeImage" v-if="imageRegular">
                  <i class="fa fa-times"></i>Remove
                </md-button>
                <md-button class="md-success md-round md-fileinput">
                  <template v-if="!imageRegular">Select image</template>
                  <template v-else>Change</template>
                  <input type="file" accept="image/*" @change="changeImageAvatar" />
                </md-button>
              </div>
            </div>
          </div>
          <div class="layout-item">
            <p>Gender</p>
            <md-radio v-model="gender" value="male">Male</md-radio>
            <md-radio v-model="gender" value="female">Female</md-radio>
            <p>Date of Birth</p>
            <md-datepicker v-model="birthday" :class="{ 'md-invalid': $v.birthday.$error }">
              <span class="md-error" v-if="$v.birthday.$error">{{validationMsg($v.birthday.$error)}}</span>
            </md-datepicker>
            <md-field :class="{ 'md-invalid': $v.idCardNo.$error }">
              <input v-model="idCardNo" type="text" placeholder="ID Card No" />
              <span class="md-helper-text"></span>
              <span class="md-error" v-if="$v.idCardNo.$error">{{validationMsg($v.idCardNo.$error)}}</span>
            </md-field>
            <md-field :class="{ 'md-invalid': $v.mobileNo.$error }">
              <input v-model="mobileNo" type="text" placeholder="Mobile number" />
              <span class="md-helper-text"></span>
              <span class="md-error" v-if="$v.mobileNo.$error">{{validationMsg($v.mobileNo.$error)}}</span>
            </md-field>
          </div>
        </div>
      </tab-content>

      <tab-content title="Last step">
        <div class="layout">
          <div class="layout-item">
            <md-field :class="{ 'md-invalid': $v.bank.$error }">
              <dropdown
                :options="arrayBank"
                :selected="bankSelected"
                v-on:updateOption="methodBank"
                :placeholder="'Select an Item'"
              ></dropdown>
              <span class="md-error" v-if="$v.bank.$error">{{validationMsg($v.bank.$error)}}</span>
            </md-field>
          </div>
          <div class="layout-item">
            <md-field :class="{ 'md-invalid': $v.bankAccountNo.$error }">
              <input v-model="bankAccountNo" type="text" placeholder="Bank Account No" />
              <span class="md-helper-text"></span>
              <span
                class="md-error"
                v-if="$v.bankAccountNo.$error"
              >{{validationMsg($v.bankAccountNo.$error)}}</span>
            </md-field>
          </div>
        </div>
        <div class="layout">
          <div class="layout-item">
            <label>Copy of Book Bank</label>
            <md-field :class="{ 'md-invalid': $v.bookBankFile.name.$error }">
              <md-file
                v-model="bookBankFile.name"
                @selected="changeBookBankFile($event)"
                accept="image/*"
                placeholder="Copy of Book Bank"
              />
              <span
                class="md-error"
                v-if="$v.bookBankFile.name.$error"
              >{{validationMsg($v.bookBankFile.name.$error)}}</span>
            </md-field>
          </div>
          <div class="layout-item">
            <label>Copy of ID Card</label>
            <md-field :class="{ 'md-invalid': $v.idCardFile.name.$error }">
              <md-file
                v-model="idCardFile.name"
                @selected="changeIdCardFile($event)"
                accept="image/*"
                placeholder="Copy of ID Card"
              />
              <span
                class="md-error"
                v-if="$v.idCardFile.name.$error"
              >{{validationMsg($v.idCardFile.name.$error)}}</span>
            </md-field>
          </div>
        </div>
        <div class="layout">
          <div class="wrapper-recaptcha">
            <vue-recaptcha @verify="onVerify" sitekey="6Le-wvkSAAAAAPBMRTvw0Q4Muexq9bi0DJwx_mJ-"></vue-recaptcha>
          </div>
        </div>
      </tab-content>
    </form-wizard>
  </div>
</template>

<script>
import dropdown from "~/components/Select.vue";
import SimpleWizard from "~/components/Wizard/Wizard.vue";
import WizardTab from "~/components/Wizard/WizardTab.vue";
import swal from "sweetalert2";
import logo from "~/assets/img/signup_male.png";
import VueRecaptcha from "vue-recaptcha";
import { mapState, mapActions } from "vuex";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import { REGISTER, LOGIN } from "../store/auth";
import accountService from "../service/account";
import _ from "lodash";
export default {
  head: {
    script: [
      {
        src:
          "https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit"
      },
      { src: "https://unpkg.com/vue" },
      { src: "https://unpkg.com/vue-recaptcha@latest/dist/vue-recaptcha.js" },
      { src: "/js/google-client.js" },
      { src: "/js/fb-sdk.js" }
    ]
  },
  components: {
    "vue-recaptcha": VueRecaptcha,
    dropdown,
    SimpleWizard,
    WizardTab
  },
  props: {
    regularImg: {
      type: String,
      default: logo
    }
  },
  computed: mapState({
    auth: state => state.auth
  }),
  data() {
    return {
      wizardModel: {},
      imageRegular: "",
      arrayBank: [
        { name: "SCB Bank" },
        { name: "Bangkok Bank" },
        { name: "KASIKORNBANK" },
        { name: "Krungsri" }
      ],
      bankSelected: {
        name: "SCB Bank"
      },
      email: "",
      accountProvider: "",
      accountProviderId: "",
      password: "",
      confirmPassword: "",
      idCardNo: "",
      gender: null,
      firstName: "",
      lastName: "",
      mobileNo: "",
      birthday: null,
      bank: "SCB Bank",
      bankAccountNo: "",
      idCardFile: { name: "" },
      bookBankFile: { name: "" },
      photo: { name: "" },
      recaptchaVerified: false,
      googleSignInParams: {
        client_id:
          "89257460061-n439an74pvo82rvacongtul69c154qd2.apps.googleusercontent.com"
      },
      fbSignInParams: {
        scope: "email,user_likes",
        return_scopes: true
      }
    };
  },
  validations() {
    const validateList = {
      email: {
        required,
        email
      },
      password: {
        required
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs("password")
      },
      idCardNo: {
        required
      },
      gender: {
        required
      },
      firstName: {
        required
      },
      lastName: {
        required
      },
      mobileNo: {
        required
      },
      birthday: {
        required
      },
      lastName: {
        required
      },
      bank: {
        required
      },
      bankAccountNo: {
        required
      },
      idCardFile: {
        name: { required }
      },
      bookBankFile: {
        name: { required }
      },
      photo: {
        name: { required }
      }
    };

    if (this.accountProviderId != "") {
      return _.omit(validateList, ["password", "confirmPassword"]);
    } else {
      return validateList;
    }
  },
  methods: {
    ...mapActions([LOGIN, REGISTER]),
    async onSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return true;
      }
      if (!this.recaptchaVerified) {
        alert("Please click recapcha");
        return true;
      }
      const accountData = {
        email: this.email,
        password: this.password,
        accountProvider: this.accountProvider,
        accountProviderId: this.accountProviderId
      };
      const profileData = {
        email: this.email,
        idCardNo: this.idCardNo,
        gender: this.gender,
        firstName: this.firstName,
        lastName: this.lastName,
        mobileNo: this.mobileNo,
        birthday: this.birthday,
        bank: this.bank,
        bankAccountNo: this.bankAccountNo,
        idCardFile: this.idCardFile,
        bookBankFile: this.bookBankFile,
        photo: this.photo
      };
      await this.$store
        .dispatch(`auth/${REGISTER}`, { accountData, profileData })
        .then(() => {
          this.$router.push("/login");
        });
    },
    onVerify(response) {
      this.recaptchaVerified = true;
    },
    validationMsg(isError) {
      const msg = isError ? "This field is required." : "";
      return msg;
    },
    changeIdCardFile(e) {
      this.idCardFile = e.target.files[0];
    },
    changeBookBankFile(e) {
      this.bookBankFile = e.target.files[0];
    },
    changePhoto(e) {
      this.photo = e.target.files[0];
    },
    async onFBSignInSuccess(response) {
      FB.api("/me?fields=id,email", async dude => {
        const accountData = await accountService.getAccount({
          fieldName: "email",
          value: dude.email
        });

        if (accountData.data.length <= 0) {
          this.email = dude.email;
          this.accountProvider = "facebook";
          this.accountProviderId = dude.id;
        } else {
          const credentials = {
            email: dude.email,
            password: ""
          };
          await this.$store.dispatch(`auth/${LOGIN}`, credentials).then(() => {
            this.$router.push("/addNews");
          });
        }
      });
    },
    onFBSignInError(error) {
      console.log("OH NOES", error);
    },
    async onGGSignInSuccess(googleUser) {
      const profile = googleUser.getBasicProfile(); // etc etc

      const accountData = await accountService.getAccount({
        fieldName: "email",
        value: profile.getEmail()
      });

      if (accountData.data.length <= 0) {
        this.email = profile.getEmail();
        this.accountProvider = "facebook";
        this.accountProviderId = profile.getId();
      } else {
        const credentials = {
          email: profile.getEmail(),
          password: ""
        };
        await this.$store.dispatch(`auth/${LOGIN}`, credentials).then(() => {
          this.$router.push("/addNews");
        });
      }
    },
    onGGSignInError(error) {
      console.log("OH NOES", error);
    },
    methodBank(payload) {
      console.log(payload);
      this.bank = this.bankSelected.name;
    },
    changeImageAvatar(e) {
      // console.log(e.target.files[0])
      this.photo = e.target.files[0];
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      if (e.target.name) {
        this.createImage(files[0], "circle");
      } else {
        this.createImage(files[0]);
      }
    },
    createImage(file, type) {
      let reader = new FileReader();
      let vm = this;

      reader.onload = e => {
        if (type === "circle") {
          vm.imageCircle = e.target.result;
        } else {
          vm.imageRegular = e.target.result;
        }
      };
      reader.readAsDataURL(file);
    },
    validateStep(ref) {
      return this.$refs[ref].validate();
    },
    onStepValidated(validated, model) {
      this.wizardModel = { ...this.wizardModel, ...model };
    },
    wizardComplete() {
      swal({
        title: "Good job!",
        text: "You clicked the finish button!",
        type: "success",
        confirmButtonClass: "md-button md-success",
        buttonsStyling: false
      });
    }
  }
};
</script>

<style>
.root-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.wrapper-input-row {
  display: flex;
  flex-direction: row;
}
.wrapper-radio-gender {
  display: flex;
  align-items: center;
}
.label-custom {
  margin-right: 10px;
  color: #aaaaaa;
  font-size: 16px;
}
.wrapper-recaptcha {
  display: flex;
  justify-content: center;
}
.wrapper-btn-register {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.wrapper-container-radio-gender {
  display: flex;
  flex-direction: column;
}
.span-error-custom {
  font-size: 12px;
  color: #ff1744;
  text-align: left;
}
.wrapper-btn-login-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.wrapper-root-input-upload {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.wrapper-input-upload {
  display: flex;
  flex-direction: row;
}
.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #ff1744;
  color: #fff;
  box-shadow: 0 3px 0 #ff1744;
  width: 160px;
  text-align: center;
}
.fb-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #4267b2;
  color: #fff;
  margin-top: 2px;
}
.wrapper-btn-google {
  padding: 5px;
}
.wrapper-btn-facebook {
  padding: 5px;
}
.wrapper-field-form {
  margin-top: 10px;
}
</style>