<template>
  <div class="btn-group-select">
    <li @click="toggleMenu()" class="selected-toggle" v-if="selectedOption.name !== undefined">
      {{ selectedOption.name }}
      <span class="caret"></span>
    </li>

    <li @click="toggleMenu()" class="selected-toggle" v-if="selectedOption.name === undefined">
      {{placeholderText}}
      <span class="caret"></span>
    </li>

    <ul class="selected-menu" v-if="showMenu">
      <li v-for="(option, i) in options" :key="i" :class="{active: isActive == i}">
        <a href="javascript:void(0)" @click="updateOption(option, i)">{{ option.name }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedOption: {
        name: ""
      },
      showMenu: false,
      placeholderText: "Please select an item",
      isActive: false
    };
  },
  props: {
    options: {
      type: [Array, Object]
    },
    selected: {},
    placeholder: [String]
  },
  mounted() {
    this.selectedOption = this.selected;
    if (this.placeholder) {
      this.placeholderText = this.placeholder;
    }
  },
  methods: {
    updateOption(option, i) {
      this.selectedOption = option;
      this.showMenu = false;
      this.$emit("updateOption", this.selectedOption);
      this.isActive = i;
    },
    toggleMenu() {
      this.showMenu = !this.showMenu;
    }
  }
};
</script>

<style lang="scss" scoped>
.btn-group-select {
  //   min-width: 160px;
  background-color: #eeeeee;
  width: 100%;
  height: 40px;
  position: relative;
  margin: 10px 1px;
  display: inline-block;
  vertical-align: middle;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.selected-toggle {
  color: #636b6f;
  min-width: 160px;
  padding: 10px;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 7px;
  border: 0;
  // background-image: linear-gradient(#009688, #009688),
  //   linear-gradient(#d2d2d2, #d2d2d2);
  // background-size: 0 2px, 100% 1px;
  // background-repeat: no-repeat;
  // background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  &:hover {
    background: #e1e1e1;
    cursor: pointer;
  }
}
.selected-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  //   min-width: 160px;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

  & > li {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;
    & > a {
      padding: 10px 30px;
      display: block;
      clear: both;
      font-weight: normal;
      line-height: 1.6;
      color: #333333;
      white-space: nowrap;
      text-decoration: none;
      &:hover {
        background: #efefef;
        color: #1f5fb6;
      }
    }
    &.active {
      background: linear-gradient(to right, #2176ee, #1f5fb6);
      color: #fff;
      & > a {
        color: #ffffff;
      }
    }
  }
}
.caret {
  display: relative;
  width: 0;
  position: relative;
  top: 10px;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  float: right;
}
li {
  list-style: none;
}
</style>