<template>
  <transition name="fade" mode="out-in">
    <div id="toggle-detail">
      <slot name="close"></slot>
      <h3>{{ data.title }}</h3>
      <vue-plyr v-if="data.type === 'video'">
        <div class="plyr__video-embed">
          <iframe :src="data.file" allowtransparency style="width:100%;"></iframe>
        </div>
      </vue-plyr>
      <vue-plyr v-else-if="data.type === 'audio'">
        <audio>
          <source :src="data.file" />
        </audio>
      </vue-plyr>
      <img v-else :src="data.file" alt="People" />
      <div class="time">
        <p>{{ data.category }}: {{data.genre}}</p>
        <p>{{ data.create_datetime | moment("DD MMMM YYYY") }}</p>
      </div>
      <div class="file">
        <p>{{ data.name }}</p>
        <p class="size">{{ (data.size / 1048576).toFixed(2) }} MB</p>
      </div>
      <div class="location">
        <p>{{ data.location }}</p>
      </div>
      <div class="toggle-footer">
        <h2>TOTAL 135 COINS EARNED</h2>
        <h4>15 people have brought this media</h4>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "toggle-detail",
  props: ["data"]
};
</script>
