<template>
  <div class="table-container">
    <div class="table-header-action">
      <input type="text" v-model="search" placeholder="search..." />
      <div>
        <button class="button-approved">View</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="10%">Fullname</th>
          <th scope="col" width="10%">Status</th>
          <th scope="col" width="10%">Received Date</th>
          <th scope="col" width="10%">Payment type</th>
          <th scope="col" width="9%">Coin</th>
          <th scope="col" width="10%">Amount</th>
          <th scope="col" width="12%">Transaction</th>
          <th scope="col" width="12%">Received No</th>
          <th scope="col" width="12%">Invoiced No</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedActivation" :key="index">
          <td>
            <input type="checkbox" />
          </td>
          <td data-label="Fullname">{{ data.fullname }}</td>
          <td data-label="Status">{{ data.status }}</td>
          <td data-label="Received Date">{{ data.received_date }}</td>
          <td data-label="Payment type">{{ data.payment_type }}</td>
          <td data-label="Coin">{{ data.coin }}</td>
          <td data-label="Amount">{{ data.amount }}</td>
          <td data-label="Transaction">{{ data.transaction }}</td>
          <td data-label="Received No">{{ data.received_no }}</td>
          <td data-label="Invoiced No">{{ data.invoiced_no }}</td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  name: "account-receivable",
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "fullname",
      currentSortOrder: "asc",
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          fullname: "John",
          status: "Received",
          received_date: "01/10/2018 11:45",
          payment_type: "Cash",
          coin: "1000",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "R201908130001",
          invoiced_no: ""
        },
        {
          fullname: "Jack",
          status: "Request",
          received_date: "11/10/2018 12:00",
          payment_type: "Credit",
          coin: "200",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "",
          invoiced_no: ""
        },
        {
          fullname: "John",
          status: "Received",
          received_date: "21/07/2018 07:00",
          payment_type: "Credit",
          coin: "1000",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "R201908130002",
          invoiced_no: "I201908130001"
        },
        {
          fullname: "Jack",
          status: "Invoiced",
          received_date: "01/10/2018 11:45",
          payment_type: "Cash",
          coin: "400",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "R201908130003",
          invoiced_no: "I201908130002"
        },
        {
          fullname: "John",
          status: "Received",
          received_date: "01/08/2018 13:01",
          payment_type: "Credit",
          coin: "400",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "R201908130004",
          invoiced_no: "I201908130003"
        },
        {
          fullname: "Jack",
          status: "Invoiced",
          received_date: "01/10/2018 11:45",
          payment_type: "Credit",
          coin: "1000",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "",
          invoiced_no: "I201908130004"
        },
        {
          fullname: "Somchai",
          status: "Invoiced",
          received_date: "01/10/2018 11:45",
          payment_type: "Cash",
          coin: "100",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "",
          invoiced_no: "I201908130005"
        },
        {
          fullname: "Michael",
          status: "Invoiced",
          received_date: "11/10/2018 11:45",
          payment_type: "Cash",
          coin: "500",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "R201908130005",
          invoiced_no: ""
        },
        {
          fullname: "Jimmy",
          status: "Invoiced",
          received_date: "02/10/2018 11:45",
          payment_type: "Cash",
          coin: "200",
          amount: "500",
          transaction: "0x442232345321",
          received_no: "R201908130006",
          invoiced_no: ""
        }
      ],
      searchedData: [],
      fuseSearch: null,
      search: ""
    };
  },
  computed: {
    sortedActivation() {
      return this.tableData
        .filter((row, index) => {
          let start =
            (this.pagination.currentPage - 1) * this.pagination.perPage;
          let end = this.pagination.currentPage * this.pagination.perPage;
          if (index >= start && index < end) return true;
        })
        .filter(post => {
          return post.fullname
            .toLowerCase()
            .includes(this.search.toLowerCase());
        });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
