<template>
  <div class="table-container">
    <div class="table-header-action">
      <input type="text" v-model="search" placeholder="search..." />
      <div>
        <button class="button-approved">Approved</button>
        <button class="button-reject">Reject</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="20%">Fullname</th>
          <th scope="col" width="10%">Status</th>
          <th scope="col" width="20%">Requested Date</th>
          <th scope="col" width="20%">Account No</th>
          <th scope="col" width="10%">Amount</th>
          <th scope="col" width="15%">Transaction</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedActivation" :key="index">
          <td>
            <input type="checkbox" />
          </td>
          <td data-label="Fullname">{{ data.fullname }}</td>
          <td data-label="Status">{{ data.status }}</td>
          <td data-label="Requested Date">{{ data.requested_date }}</td>
          <td data-label="Account No">{{ data.account_no }}</td>
          <td data-label="Amount">{{ data.amount }}</td>
          <td data-label="Transaction">{{ data.transaction }}</td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  name: "account-payable",
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "fullname",
      currentSortOrder: "asc",
      pagination: {
        perPage: 7,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          fullname: "John",
          status: "Approved",
          requested_date: "01/10/2018 11:45",
          account_no: "KBANK 03-5-11111-1",
          amount: "1000",
          transaction: "0x442232345321"
        },
        {
          fullname: "Jack",
          status: "Request",
          requested_date: "11/10/2018 12:00",
          account_no: "SCB 09-5-11111-1",
          amount: "200",
          transaction: "0x442232345321"
        },
        {
          fullname: "John",
          status: "Approved",
          requested_date: "21/07/2018 07:00",
          account_no: "BAY 07-5-11111-1",
          amount: "1000",
          transaction: "0x442232345321"
        },
        {
          fullname: "Jack",
          status: "Request",
          requested_date: "01/10/2018 11:45",
          account_no: "KBANK 03-5-11111-2",
          amount: "400",
          transaction: "0x442232345321"
        },
        {
          fullname: "John",
          status: "Approved",
          requested_date: "01/08/2018 13:01",
          account_no: "SCB 09-5-11112-1",
          amount: "400",
          transaction: "0x442232345321"
        },
        {
          fullname: "Jack",
          status: "Request",
          requested_date: "01/10/2018 11:45",
          account_no: "SCB 09-5-11112-2",
          amount: "1000",
          transaction: "0x442232345321"
        },
        {
          fullname: "Somchai",
          status: "Transfered",
          requested_date: "01/10/2018 11:45",
          account_no: "KBANK 03-5-11111-4",
          amount: "100",
          transaction: "0x442232345321"
        },
        {
          fullname: "Michael",
          status: "Transfered",
          requested_date: "11/10/2018 11:45",
          account_no: "KBANK 03-5-11111-5",
          amount: "500",
          transaction: "0x442232345321"
        },
        {
          fullname: "Jimmy",
          status: "Transfered",
          requested_date: "02/10/2018 11:45",
          account_no: "KBANK 03-5-11111-6",
          amount: "200",
          transaction: "0x442232345321"
        }
      ],
      searchedData: [],
      fuseSearch: null,
      search: ""
    };
  },
  computed: {
    sortedActivation() {
      return this.tableData
        .filter((row, index) => {
          let start =
            (this.pagination.currentPage - 1) * this.pagination.perPage;
          let end = this.pagination.currentPage * this.pagination.perPage;
          if (index >= start && index < end) return true;
        })
        .filter(post => {
          return post.fullname
            .toLowerCase()
            .includes(this.search.toLowerCase());
        });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
