<template>
  <div class="table-container">
    <div class="table-header-action">
      <input type="text" v-model="search" placeholder="search..." />
      <div>
        <button class="button-approved">Approved</button>
        <button class="button-reject">Reject</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="16%">Account Id</th>
          <th scope="col" width="16%">Fullname</th>
          <th scope="col" width="16%">Email</th>
          <th scope="col" width="16%">Status</th>
          <th scope="col" width="16%">Requested Date</th>
          <th scope="col" width="15%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedActivation" :key="index">
          <td>
            <input type="checkbox" />
          </td>
          <td data-label="Account Id">{{ data.account_id }}</td>
          <td data-label="Fullname">{{ data.fullname }}</td>
          <td data-label="Email">{{ data.email }}</td>
          <td data-label="Status">{{ data.status }}</td>
          <td data-label="Requested Date">{{ data.requested_date }}</td>
          <td data-label="Action">
            <button class="button-resend">Resend</button>
            <button class="button-view">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  name: "activation",
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "account_id",
      currentSortOrder: "asc",
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          account_id: "TS0495483",
          fullname: "John",
          email: "john@email.com",
          status: "Approved",
          requested_date: "01/04/2019 10:44"
        },
        {
          account_id: "TS7384739",
          fullname: "Jane",
          email: "jane@email.com",
          status: "Register",
          requested_date: "21/05/2019 13:48"
        },
        {
          account_id: "TS0495483",
          fullname: "John",
          email: "john@email.com",
          status: "Approved",
          requested_date: "01/04/2019 10:44"
        },
        {
          account_id: "TS7384739",
          fullname: "Jane",
          email: "jane@email.com",
          status: "Register",
          requested_date: "21/05/2019 13:48"
        },
        {
          account_id: "TS0495483",
          fullname: "John",
          email: "john@email.com",
          status: "Approved",
          requested_date: "01/04/2019 10:44"
        },
        {
          account_id: "TS7384739",
          fullname: "Jane",
          email: "jane@email.com",
          status: "Register",
          requested_date: "21/05/2019 13:48"
        },
        {
          account_id: "TS4857562",
          fullname: "Daniel",
          email: "daniel@email.com",
          status: "Be Stringer",
          requested_date: "21/05/2019 10:44"
        },
        {
          account_id: "TS3949854",
          fullname: "Jimmy",
          email: "jimmy@email.com",
          status: "Approved",
          requested_date: "01/07/2019 10:44"
        },
        {
          account_id: "TS8495839",
          fullname: "Jo",
          email: "jo@email.com",
          status: "Register",
          requested_date: "11/07/2019 18:44"
        }
      ],
      searchedData: [],
      fuseSearch: null,
      search: ""
    };
  },
  computed: {
    sortedActivation() {
      return this.tableData
        .filter((row, index) => {
          let start =
            (this.pagination.currentPage - 1) * this.pagination.perPage;
          let end = this.pagination.currentPage * this.pagination.perPage;
          if (index >= start && index < end) return true;
        })
        .filter(post => {
          return post.account_id
            .toLowerCase()
            .includes(this.search.toLowerCase());
        });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
