<template>
  <div class="manage-claim">
    <h1>Claim Management</h1>
    <div class="table-container">
      <div class="table-header-action">
        <input type="text" v-model="search" placeholder="search..." />
        <button class="button-create">Add</button>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col" width="15%">Youtube Channel ID</th>
            <th scope="col" width="15%">Video Id</th>
            <th scope="col" width="20%">Youtube Status</th>
            <th scope="col" width="10%">Company</th>
            <th scope="col" width="20%">Order Id</th>
            <th scope="col" width="10%">Order Status</th>
            <th scope="col" width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data, index) in sortedManageUser" :key="index">
            <td data-label="Youtube Channel ID">{{ data.channel_id }}</td>
            <td data-label="Video Id">{{ data.video_id }}</td>
            <td data-label="Youtube Status">{{ data.youtube_status }}</td>
            <td data-label="Company">{{ data.company }}</td>
            <td data-label="Order Id">{{ data.order_id }}</td>
            <td data-label="Order Status">{{ data.order_status }}</td>
            <td data-label="Action">
              <button class="button-edit">Ban</button>
              <button class="button-delete">Take Down</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="action">
        <div class>
          <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
        </div>
        <pagination
          class="pagination-no-border pagination-success"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  name: "claim-manage",
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "channel_id",
      currentSortOrder: "asc",
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          channel_id: "chx3",
          video_id: "HGafPEAycB4",
          youtube_status: "Disputed claims",
          company: "chx3",
          order_id: "Order2019100001",
          order_status: "Paid"
        },
        {
          channel_id: "chx7",
          video_id: "HGafPrtecB4",
          youtube_status: "Potential Claim",
          company: "chx7",
          order_id: "Order2019100001",
          order_status: "Paid"
        },
        {
          channel_id: "chx9",
          video_id: "AdEdPEA_cB4",
          youtube_status: "Disputed claims",
          company: "chx9",
          order_id: "No Order",
          order_status: ""
        },
        {
          channel_id: "chx3",
          video_id: "KDfjkelKj08",
          youtube_status: "Active Cliam",
          company: "chx3",
          order_id: "Order2019100001",
          order_status: "Paid"
        },
        {
          channel_id: "chx7",
          video_id: "_UksOEA_cB4",
          youtube_status: "Disputed claims",
          company: "chx7",
          order_id: "No Order",
          order_status: ""
        },
        {
          channel_id: "chx9",
          video_id: "BnsK_EA_cB4",
          youtube_status: "Disputed claims",
          company: "chx9",
          order_id: "No Order",
          order_status: ""
        },
        {
          channel_id: "chx9",
          video_id: "BBafPEA_cB4",
          youtube_status: "Potential Claim",
          company: "chx9",
          order_id: "Order2019100001",
          order_status: "Paid"
        },
        {
          channel_id: "chx9",
          video_id: "PpafPEA_cB4",
          youtube_status: "Active Cliam",
          company: "chx9",
          order_id: "No Order",
          order_status: ""
        },
        {
          channel_id: "chx7",
          video_id: "RtdfPEA_cB4",
          youtube_status: "Active Cliam",
          company: "chx7",
          order_id: "No Order",
          order_status: ""
        }
      ],
      searchedData: [],
      fuseSearch: null,
      search: ""
    };
  },
  computed: {
    sortedManageUser() {
      return this.tableData
        .filter((row, index) => {
          let start =
            (this.pagination.currentPage - 1) * this.pagination.perPage;
          let end = this.pagination.currentPage * this.pagination.perPage;
          if (index >= start && index < end) return true;
        })
        .filter(post => {
          return post.channel_id
            .toLowerCase()
            .includes(this.search.toLowerCase());
        });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>

<style lang="scss" scoped>
.manage-claim {
  background-color: #ffffff;
  border-top: 3px solid #1f5fb6;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  h1 {
    margin: 0 10px;
    color: #333333;
    font-size: 2.5rem;
    font-family: "Tabloid";
  }
}
</style>
