<template>
  <div class="create-user">
    <div class="button-create">
      <h1>Create User</h1>
      <button>Create User</button>
    </div>
    <div class="md-layout">
      <div class="md-layout-item md-size-50 md-small-size-100">
        <div class="file-input img-circle">
          <template v-if="!imageCircle">
            <div class="image-container">
              <img :src="avatarImg" title />
            </div>
          </template>
          <div class="image-container" v-else>
            <img :src="imageCircle" />
          </div>
          <div class="button-container">
            <md-button class="remove-file" @click="removeImage('circle')" v-if="imageCircle">
              <i class="fa fa-times"></i>Remove
            </md-button>
            <md-button class="fileinput md-fileinput">
              <template v-if="!imageCircle">Add Photo</template>
              <template v-else>Change</template>
              <input type="file" name="circle" @change="onFileChange" />
            </md-button>
          </div>
        </div>
        <!-- personal info -->
        <p>ID Card No:</p>
        <input type="text" />
        <p>Date of Birth:</p>
        <md-datepicker v-model="selectedDate" />
        <div class="gender-selected">
          <p>Gender:</p>
          <md-radio v-model="gender" value="male">Male</md-radio>
          <md-radio v-model="gender" value="female">Female</md-radio>
        </div>
      </div>
      <div class="md-layout-item md-size-50 md-small-size-100">
        <p>Firstname:</p>
        <input type="text" />
        <p>Lastname:</p>
        <input type="text" />
        <p>Email:</p>
        <input type="email" />
        <p>Mobile number:</p>
        <input type="text" />
        <p>Company:</p>
        <dropdown
          :options="arrayCompany"
          :selected="companySelected"
          v-on:updateOption="methodCompany"
          :placeholder="'Select an Item'"
        ></dropdown>
        <div class="role-checked">
          <p>Role:</p>
          <md-checkbox v-model="admin">Admin</md-checkbox>
          <md-checkbox v-model="broadcaster">Broadcaster</md-checkbox>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dropdown from "../Select.vue";
import Avatar from "~/assets/img/signup_male.png";

export default {
  name: "create-user",
  components: {
    dropdown
  },
  props: {
    avatarImg: {
      type: String,
      default: Avatar
    }
  },
  data() {
    return {
      imageCircle: "",
      selectedDate: null,
      gender: "male",
      admin: null,
      broadcaster: null,
      arrayCompany: [
        { name: "Company 1" },
        { name: "Company 2" },
        { name: "Company 3" },
        { name: "Company 4" }
      ],
      companySelected: {
        name: "Company 1"
      }
    };
  },
  methods: {
    methodCompany(company) {
      console.log(company);
    },
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      if (e.target.name) {
        this.createImage(files[0], "circle");
      } else {
        this.createImage(files[0]);
      }
    },
    createImage(file, type) {
      let reader = new FileReader();
      let vm = this;

      reader.onload = e => {
        if (type === "circle") {
          vm.imageCircle = e.target.result;
        } else {
          vm.imageRegular = e.target.result;
        }
      };
      reader.readAsDataURL(file);
    },
    removeImage: function(type) {
      if (type === "circle") {
        this.imageCircle = "";
      } else {
        this.imageRegular = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.create-user {
  padding: 15px;
  background-color: #ffffff;
  border-top: 3px solid #1f5fb6;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  p {
    margin: 0;
  }
  .md-layout {
    margin-top: 30px;
    font-family: "Montserrat";
    .md-layout-item {
      p {
        color: #000000;
        font-weight: bold;
        margin-top: 5px;
      }
      input {
        width: 100%;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 13px;
        font-size: 14px;
        border-bottom: none;
        background-color: #dde4ec;
        color: #000000;
        transition: all 0.15s ease;
      }
    }
  }
  .file-input {
    &.img-circle {
      width: 100%;
      max-width: 100%;
      .image-container {
        height: 100px;
        width: 100px;
        img:not(.md-image) {
          height: 100px;
        }
      }
      .button-container {
        flex-direction: row;
      }
    }
  }
  .gender-selected,
  .role-checked {
    display: flex;
    p {
      margin-right: 15px;
      padding-top: 10px;
    }
  }
  .button-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
