<template>
  <div class="editor-package">
    <div class="edit-header">
      <h1>Package Editor</h1>
      <p>Mode: Add, Edit</p>
    </div>
    <div class="edit-form">
      <div class="md-layout">
        <div class="md-layout-item md-size-50 md-small-size-100">
          <p>Package Id:</p>
          <input type="text" />
        </div>
        <div class="md-layout-item md-size-50 md-small-size-100">
          <p>Name:</p>
          <input type="text" />
        </div>
        <div class="md-layout-item md-size-50 md-small-size-100">
          <p>Total Price:</p>
          <input type="text" />
        </div>
        <div class="md-layout-item md-size-50 md-small-size-100">
          <p>Total Coin:</p>
          <input type="text" />
        </div>
        <div class="md-layout-item md-size-50 md-small-size-100">
          <p>Expired Period:</p>
          <input type="text" />
        </div>
        <div class="md-layout-item md-size-50 md-small-size-100">
          <p>Status:</p>
          <dropdown
            :options="arrayStatus"
            :selected="statusSelected"
            v-on:updateOption="methodStatus"
            :placeholder="'Select an Item'"
          ></dropdown>
        </div>
      </div>
    </div>
    <div class="edit-action">
      <button class="button-save-new">Save and New</button>
      <button class="button-save-close">Save and Close</button>
      <button class="button-close">Close</button>
    </div>
  </div>
</template>

<script>
import dropdown from "../Select.vue";

export default {
  name: "package-editor",
  components: {
    dropdown
  },
  data() {
    return {
      arrayStatus: [
        { name: "Status 1" },
        { name: "Status 2" },
        { name: "Status 3" },
        { name: "Status 4" }
      ],
      statusSelected: {
        name: "Status 1"
      }
    };
  },
  methods: {
    methodStatus(status) {
      console.log(status);
    }
  }
};
</script>

<style lang="scss">
.editor-package {
  padding: 15px;
  font-family: "Montserrat";
  height: calc(100vh - 90px);
  background-color: #ffffff;
  border-top: 3px solid #1f5fb6;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0 10px;
      color: #333333;
      font-size: 2.5rem;
      font-family: "Tabloid";
    }
  }
  .edit-form {
    margin: 30px 30px 0px 30px;
    p {
      margin: 0;
      color: #000000;
      font-weight: bold;
      margin-top: 5px;
    }
    input {
      width: 100%;
      border: 0;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 13px;
      font-size: 14px;
      border-bottom: none;
      background-color: #dde4ec;
      color: #000000;
      transition: all 0.15s ease;
    }
    .btn-group-select {
      margin: 0;
      background-color: #dde4ec;
      border-radius: 5px;
    }
  }
  .edit-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 599px) {
  .editor-package {
    height: auto;
    .edit-header,
    .edit-action {
      display: block;
    }
    .edit-form {
      margin: 0;
    }
    .edit-action {
      button {
        width: 100%;
      }
    }
  }
}
</style>