<template>
  <div class="manage-package">
    <h1>Package Management</h1>
    <div class="table-container">
      <div class="table-header-action">
        <input type="text" v-model="search" placeholder="search..." />
        <button class="button-create" @click="$router.push('/administrator/packageeditor')">Add</button>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col" width="15%">Package ID</th>
            <th scope="col" width="20%">Name</th>
            <th scope="col" width="15%">Total Prices</th>
            <th scope="col" width="15%">Total Coins</th>
            <th scope="col" width="15%">Expired Period (days)</th>
            <th scope="col" width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data, index) in sortedManageUser" :key="index">
            <td data-label="Package ID">{{ data.package_id }}</td>
            <td data-label="Name">{{ data.name }}</td>
            <td data-label="Total Prices">{{ data.total_prices }}</td>
            <td data-label="Total Coins">{{ data.total_coins }}</td>
            <td data-label="Expired Period (days)">{{ data.expired_period }}</td>
            <td data-label="Action">
              <button class="button-edit" @click="$router.push('/administrator/packageeditor')">Edit</button>
              <button class="button-delete">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="action">
        <div class>
          <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
        </div>
        <pagination
          class="pagination-no-border pagination-success"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  name: "package-manage",
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "package_id",
      currentSortOrder: "asc",
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          package_id: "Package01",
          name: "Platinum",
          total_prices: "300,000",
          total_coins: "40,000",
          expired_period: "30"
        },
        {
          package_id: "Package02",
          name: "Sliver",
          total_prices: "100,000",
          total_coins: "10,000",
          expired_period: "30"
        },
        {
          package_id: "Package03",
          name: "Platinum",
          total_prices: "300,000",
          total_coins: "40,000",
          expired_period: "30"
        },
        {
          package_id: "Package04",
          name: "Gold",
          total_prices: "200,000",
          total_coins: "30,000",
          expired_period: "30"
        },
        {
          package_id: "Package05",
          name: "Platinum",
          total_prices: "300,000",
          total_coins: "30,000",
          expired_period: "30"
        },
        {
          package_id: "Package06",
          name: "Platinum",
          total_prices: "300,000",
          total_coins: "40,000",
          expired_period: "30"
        },
        {
          package_id: "Package07",
          name: "Sliver",
          total_prices: "100,000",
          total_coins: "10,000",
          expired_period: "30"
        },
        {
          package_id: "Package08",
          name: "Gold",
          total_prices: "200,000",
          total_coins: "20,000",
          expired_period: "30"
        },
        {
          package_id: "Package09",
          name: "Sliver",
          total_prices: "200,000",
          total_coins: "20,000",
          expired_period: "30"
        }
      ],
      searchedData: [],
      fuseSearch: null,
      search: ""
    };
  },
  computed: {
    sortedManageUser() {
      return this.tableData
        .filter((row, index) => {
          let start =
            (this.pagination.currentPage - 1) * this.pagination.perPage;
          let end = this.pagination.currentPage * this.pagination.perPage;
          if (index >= start && index < end) return true;
        })
        .filter(post => {
          return post.package_id
            .toLowerCase()
            .includes(this.search.toLowerCase());
        });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>

<style lang="scss">
.manage-package {
  background-color: #ffffff;
  border-top: 3px solid #1f5fb6;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  h1 {
    margin: 0 10px;
    color: #333333;
    font-size: 2.5rem;
    font-family: "Tabloid";
  }
}
</style>
