<template>
  <div id="wrapper-accounting">
    <div class="buypackage-container">
      <tabs>
        <tab name="Coin Balance" :selected="true">
          <CoinBalance />
        </tab>
        <tab name="Invoice">
          <Invoice />
        </tab>
        <tab name="Receipt">
          <Receipt />
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import CoinBalance from "~/components/BroadcasterAccouting/CoinBalance.vue";
import Invoice from "~/components/BroadcasterAccouting/Invoice.vue";
import Receipt from "~/components/BroadcasterAccouting/Receipt.vue";
import Tab from "~/components/Tab/Tab.vue";
import Tabs from "~/components/Tab/Tabs.vue";

export default {
  components: {
    CoinBalance,
    Invoice,
    Receipt,
    Tab,
    Tabs
  }
};
</script>
