<template>
  <div class="content" id="addnews">
    <div class="md-layout">
      <div class="md-layout-item">
        <p>
          Add news :No news related
          <a href="/">Add ralated news</a>
        </p>
      </div>
      <div class="md-layout-item btn-save-action">
        <md-button>Save Draft</md-button>
        <md-button>Ready to Sale</md-button>
      </div>
    </div>
    <div>
      <md-card>
        <md-card-content>
          <form-wizard  @on-complete="uploadNews" color="#1f5fb6" error-color="#eeeeee" title subtitle  finishButtonText="UPLOAD NEWS">
            <tab-content title="News Detail">
              <detail :detail="newsDetail" />
            </tab-content>
            <tab-content title="Sale Condition">
              <sale-condition :condition="saleCondition" />
            </tab-content>
            <tab-content title="Video Upload">
              <video-upload :videos="videoUpload" />
            </tab-content>
            <tab-content title="Image Upload">
              <image-upload :images="imageUpload" />
            </tab-content>
            <tab-content title="Article File Upload">
              <article-upload :articles="articleUpload" />
            </tab-content>
            <tab-content title="Copyright">
              <copy-right :copyright="copyright" />
            </tab-content>
          </form-wizard>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import uuidv4 from "uuid";
import Swal from "sweetalert2";
import firebase from "firebase";
import { DB, storage } from "~/service/firebase.config.js";
import StandardCard from "~/components/Card/StandardCard.vue";
import Modal from "~/components/Modal.vue";
import Detail from "~/layouts/AddNews/Detail.vue";
import SaleCondition from "~/layouts/AddNews/SaleCondition.vue";
import VideoUpload from "~/layouts/AddNews/VideoUpload.vue";
import ArticleUpload from "~/layouts/AddNews/ArticleUpload.vue";
import ImageUpload from "~/layouts/AddNews/ImageUpload.vue";
import CopyRight from "~/layouts/AddNews/Copyright.vue";
import { log } from "util";

export default {
  layout: 'StringerProfile',
  components: {
    StandardCard,
    Detail,
    SaleCondition,
    VideoUpload,
    ArticleUpload,
    ImageUpload,
    CopyRight,
    Modal
  },
  props: {
    dataBackgroundColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      arrayOrder: [{ name: "order-by-date" }, { name: "order-by-date 2" }],
      objectOrder: {
        name: "order-by-date"
      },
      showUpload: false,
      uid: uuidv4(),
      noticeModal: false,
      amount_thumbnail: 0,
      newsDetail: {
        title: "",
        category: { name: "News" },
        newsCategory: [
          { name: "News" },
          { name: "Newspaper" },
          { name: "Sport" },
          { name: "Entertainment" },
          { name: "IT" }
        ],
        short_description: "",
        full_description: "",
        tag: "",
        genre: "",
        location: "",
        thumbnail: "",
        thumbnailReader: "",
        thumbnailType: "",
        readerFile: "",
        name_file: ""
      },
      saleCondition: {
        limit_sale: false,
        time: "forever",
        time_list: [
          { value: "forever", text: "Forever" },
          { value: "before6pm", text: "Before 6PM" },
          { value: "before5pm", text: "Before 5PM" }
        ],
        select_buyer: { name: "Buyer 1" },
        buyer: [{ name: "Buyer 1" }, { name: "Buyer 2" }, { name: "Buyer 3" }],
        term_usage: { name: "Term of Usage 1" },
        usage: [
          { name: "Term of Usage 1" },
          { name: "Term of Usage 2" },
          { name: "Term of Usage 3" }
        ],
        price: ""
      },
      imageUpload: [
        {
          id: 1,
          title: "",
          file: "",
          name_file: ""
        }
      ],
      videoUpload: [
        {
          id: 1,
          title: "",
          file: "",
          fileupload: "",
          name_file: ""
        }
      ],
      articleUpload: [
        {
          id: 1,
          title: "",
          file: "",
          name_file: ""
        }
      ],
      copyright: {
        copyright_holder: "",
        copyright_notice: "",
        additional_info: "",
        progress_thumbnail: ""
      },
      uploadThumbnail: 0
    };
  },
  methods: {
    fileThumbnailUpload(e) {
      var file = e.target.files[0];
      var reader = new FileReader();
      reader.onload = file => {
        var content = file.target.result;
        this.newsDetail.thumbnailReader = content;
        return this.newsDetail.thumbnailReader;
      };
      reader.readAsDataURL(file);
    },
    noticeModalHide: function() {
      this.noticeModal = false;
    },
    uploadNews() {
      var current_time = new Date();
      var database = DB.ref("news").child(this.uid);
      var thumbnail_file = storage.ref().child(this.uid);
      var thumbnail_reader = this.newsDetail.thumbnailReader;
      var databaseMedia = DB.ref("media");

      this.showUpload = true;
      // this.$store.dispatch("ADD_NEWS", this.newsDetail)
      if (thumbnail_reader === "") {
        let timerInterval;
        Swal.fire({
          title: "Please browse thumbnall",
          onBeforeOpen: () => {
            timerInterval = setInterval(() => {
              Swal.getContent().querySelector(
                "strong"
              ).textContent = Swal.getTimerLeft();
            }, 100);
          }
        }).then(result => {
          if (result.dismiss === Swal.DismissReason.timer) {
            console.log("I was closed by the timer");
          }
        });
      } else {
        thumbnail_file
          .putString(thumbnail_reader, "data_url")
          .then(snapshot => {
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            this.uploadThumbnail = Math.floor(
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100
            );
            if (progress === 100) {
              thumbnail_file.getDownloadURL().then(url => {
                const type_thumbnall = snapshot.metadata.contentType;
                database.set({
                  create_datetime: current_time.toString(),
                  id: this.uid,
                  title: this.newsDetail.title,
                  category: this.newsDetail.category.name,
                  short_description: this.newsDetail.short_description,
                  full_description: this.newsDetail.full_description,
                  tag: this.newsDetail.tag,
                  genre: this.newsDetail.genre,
                  location: this.newsDetail.location,
                  thumbnail: url,
                  thumbnail_name: snapshot.metadata.name,
                  thumbnail_type: type_thumbnall.substring(0, 5),
                  thumbnail_size: snapshot.totalBytes,
                  limit_sale: this.saleCondition.limit_sale,
                  time: this.saleCondition.time,
                  select_buyer: this.saleCondition.select_buyer.name,
                  term_usage: this.saleCondition.term_usage.name,
                  price: this.saleCondition.price,
                  copyright_holder: this.copyright.copyright_holder,
                  copyright_notice: this.copyright.copyright_notice,
                  additional_info: this.copyright.additional_info
                });

                databaseMedia.child(this.uid).set({
                  id: this.uid,
                  category: this.newsDetail.category.name,
                  create_datetime: current_time.toString(),
                  file: url,
                  genre: this.newsDetail.genre,
                  location: this.newsDetail.location,
                  name: this.newsDetail.name_file,
                  size: snapshot.totalBytes,
                  title: this.newsDetail.title,
                  type: type_thumbnall.substring(0, 5)
                });

                var images = this.imageUpload;
                for (let index = 0; index < images.length; index++) {
                  var image_lists = database.child("images");
                  var storage_image = storage
                    .ref()
                    .child(this.uid + "-" + index);

                  if (images[index].file === "") {
                    image_lists.push({});
                  } else {
                    var imageurl = storage_image
                      .putString(images[index].file, "data_url")
                      .then(snapshot => {
                        var progress_image =
                          (snapshot.bytesTransferred / snapshot.totalBytes) *
                          100;
                        const type_image = snapshot.metadata.contentType;
                        if (progress === 100) {
                          snapshot.ref.getDownloadURL().then(download_image => {
                            image_lists.push({
                              title: images[index].title,
                              image: download_image,
                              type: type_image.substring(0, 5)
                            });

                            databaseMedia.child(this.uid + index).set({
                              id: this.uid + index,
                              title: images[index].title,
                              category: this.newsDetail.category.name,
                              file: download_image,
                              genre: this.newsDetail.genre,
                              size: snapshot.totalBytes,
                              create_datetime: current_time.toString(),
                              type: type_image.substring(0, 5),
                              location: this.newsDetail.location,
                              name: images[index].name_file
                            });
                          });
                        }
                      });
                  }
                }

                var videos = this.videoUpload;
                for (let index = 0; index < videos.length; index++) {
                  const element = videos[index];
                  var video_list = database.child("videos");
                  var storage_video = storage
                    .ref()
                    .child(this.uid + "-" + index);
                  if (videos[index].file === "") {
                    video_list.push({});
                  } else {
                    storage_video
                      .putString(videos[index].file, "data_url")
                      .then(snapshot => {
                        var progress_video =
                          (snapshot.bytesTransferred / snapshot.totalBytes) *
                          100;
                        const type_video = snapshot.metadata.contentType;
                        if (progress_video === 100) {
                          snapshot.ref.getDownloadURL().then(download_video => {
                            video_list.push({
                              title: videos[index].title,
                              image: download_video,
                              type: type_video.substring(0, 5)
                            });

                            databaseMedia.child(this.uid + index).set({
                              id: this.uid + index,
                              title: videos[index].title,
                              category: this.newsDetail.category.name,
                              file: download_video,
                              genre: this.newsDetail.genre,
                              size: snapshot.totalBytes,
                              create_datetime: current_time.toString(),
                              type: type_video.substring(0, 5),
                              location: this.newsDetail.location,
                              name: videos[index].name_file
                            });
                          });
                        }
                      });
                  }
                }

                var articles = this.articleUpload;
                for (let index = 0; index < articles.length; index++) {
                  const element = articles[index];
                  var article_lists = database.child("articles");
                  var storage_article = storage
                    .ref()
                    .child(this.uid + "-" + index);
                  if (element.file === "") {
                    article_lists.push({});
                  } else {
                    storage_article
                      .putString(element.file, "data_url")
                      .then(snapshot => {
                        var progress_article =
                          (snapshot.bytesTransferred / snapshot.totalBytes) *
                          100;
                        if (progress_article === 100) {
                          snapshot.ref.getDownloadURL().then(url => {
                            article_lists.push({
                              title: element.title,
                              article: url
                            });
                          });
                        }
                      });
                  }
                }
                this.$router.push({ path: "newslists" });
              });
            }
          });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
#search {
  display: none;
}

#addnews {
  .vue-form-wizard {
    .wizard-header {
      display: none;
      .wizard-title {
        display: none;
      }
    }
  }
  .md-button {
    text-align: center;
    // background-color: transparent !important;
    background: linear-gradient(60deg, #26c6da, #00acc1);
    border-radius: 20px;
    box-shadow: none !important;
    color: #ffffff !important;
    i {
      color: #ffffff !important;
    }
  }
  .btn-save-action {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
