<template>
  <div class="wrapper-broadcaster" id="register-page">
    <div class="container-resgis">
      <div class="overlay-regis">
        <div class="overlay">
          <div class="overlay-panel">
            <div class="rotate">
              <i class="fas fa-camera fa-7x"></i>
              <h1>Thai Stringer</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="form-register">
        <div class="form">
          <h1>Create Account Broadcaster</h1>
          <BroadcasterRegister />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BroadcasterRegister from "../components/BroadcasterRegister";
import logo from "~/assets/img/signup_male.png";

export default {
  layout: "NoSideBar",
  components: {
    BroadcasterRegister
  },
  props: {
    regularImg: {
      type: String,
      default: logo
    }
  }
};
</script>

<style>
.wrapper-broadcaster {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background: url("../assets/img/bg/finance.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 599px) {
  .wrapper-broadcaster {
    height: auto;
  }
}
</style>