<template>
  <div id="wrapper-buycoin">
    <!-- <h2>Buy Coin</h2> -->
    <tabs>
      <tab name="Buy Coin" :selected="true">
        <BuyCoins />
      </tab>
      <tab name="Buy Coin History">
        <div class="history-buycoin">
          <History />
        </div>
      </tab>
    </tabs>
  </div>
</template>

<script>
import BuyCoins from "~/components/BuyCoins/BuyCoins.vue";
import History from "~/components/BuyCoins/History.vue";
import Tab from "~/components/Tab/Tab.vue";
import Tabs from "~/components/Tab/Tabs.vue";

export default {
  components: {
    BuyCoins,
    History,
    Tab,
    Tabs
  },
  data() {
    return {
      credit_card_number: "",
      coin: [
        { id: 1, coins: "50" },
        { id: 2, coins: "100" },
        { id: 3, coins: "500" },
        { id: 4, coins: "1000" }
      ],
      activeIndex: undefined
    };
  },
  methods: {
    _formatCreditCard(value) {
      this.credit_card_number.match(/.{1,4}/g);
    },
    setActive(index) {
      this.activeIndex = index;
    }
  }
};
</script>
