<template>
  <div id="wrapper-buynews">
    <div class="header-buy-news">
      <h1>Buy News</h1>
      <div class="total-media">
        <label>
          Total media -
          <span>7 Coins</span>
        </label>
        <button class="checkout">Buy</button>
      </div>
    </div>
    <div class="content">
      <div class="shopping-cart">
        <div class="column-labels">
          <label class="product-image"></label>
          <label class="product-details">News</label>
          <label class="product-price">Price</label>
          <label class="product-period">Period</label>
          <label class="product-channel">Destribution channel</label>
          <label class="product-remove"></label>
        </div>

        <div class="product">
          <div class="product-image">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/test-4d6f1.appspot.com/o/3dfb62d1-e0fd-4fad-8bb3-4f47ae16f058?alt=media&token=f1bbdcc9-bffe-4515-874f-8495f29d180a"
            />
          </div>
          <div class="product-details">
            <div
              class="product-title"
            >“โนบิ” ผู้ต้องหาคนสุดท้าย คดีปาร์ตี้ลันลาเบล มอบตัวแล้ว-ปฏิเสธทุกข้อหา</div>
          </div>
          <div class="product-price">
            <p>2</p>
          </div>
          <div class="product-period">
            <p>1 year</p>
          </div>
          <div class="product-channel">
            <p>All</p>
          </div>
          <div class="product-remove">
            <button class="remove-product">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>

        <div class="product">
          <div class="product-image">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/test-4d6f1.appspot.com/o/79f61c83-ead7-44f4-b6f2-760212508610?alt=media&token=203836e8-4205-475d-aa8b-92a280fd3a8a"
            />
          </div>
          <div class="product-details">
            <div class="product-title">มาแล้ว "นิชิโนะ" อัปเดตเกมอุ่นเครื่องวันที่ 10 ต.ค.นี้ (คลิป)</div>
          </div>
          <div class="product-price">
            <p>5</p>
          </div>
          <div class="product-period">
            <p>2 years</p>
          </div>
          <div class="product-channel">
            <p>TV</p>
          </div>
          <div class="product-remove">
            <button class="remove-product">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$color-border: #eee;
$color-label: #aaa;

$baseColor: #398b93;
$borderRadius: 3px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

#wrapper-buynews {
  font-family: "Montserrat";
  padding: 20px;
  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }

  .header-buy-news {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    .total-media {
      text-align: right;
    }
    button {
      border-radius: 3px;
      border: 1px solid #1f5fb6;
      background-color: #1f5fb6;
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      padding: 8px 20px;
      margin: 0 8px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      //   transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    button:active {
      transform: scale(0.95);
    }

    button:focus {
      outline: none;
    }
  }

  .content {
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .shopping-cart {
    padding: 0;
  }

  .product-image,
  .product-details,
  .product-price,
  .product-period,
  .product-channel,
  .product-remove {
    float: left;
    padding: 0 5px;
    p {
      margin: 0;
    }
  }

  /* Global "table" column settings */
  .product-image {
    width: 15%;
  }
  .product-details {
    width: 35%;
  }
  .product-price {
    width: 10%;
  }
  .product-period {
    width: 10%;
  }
  .product-channel {
    width: 21%;
  }
  .product-remove {
    width: 9%;
    text-align: center;
  }

  /* This is used as the traditional .clearfix class */
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  .group:after {
    clear: both;
  }
  .group {
    zoom: 1;
  }

  /* Apply clearfix in a few places */
  .shopping-cart,
  .column-labels,
  .product,
  .totals-item {
    @extend .group;
  }

  label {
    font-weight: 700;
  }

  /* Column headers */
  .column-labels {
    label {
      color: #ffffff;
      padding: 10px 5px;
    }
    background-color: #1f5fb6;
    border-bottom: 1px solid $color-border;
  }

  /* Product entries */
  .product {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    &:nth-child(2n) {
      background-color: white;
    }
    // &:nth-child(2n + 1) {
    //   // background-color: lighten(#1f5fb6, 55%);
    // }
    .product-image {
      text-align: center;
      img {
        width: 100px;
      }
    }
    .product-details {
      .product-title {
        margin-right: 20px;
      }
      .product-description {
        margin: 5px 20px 5px 0;
        line-height: 1.4em;
      }
    }
    .product-period {
      input {
        width: 40px;
      }
    }
    .remove-product {
      border: 0;
      padding: 4px 8px;
      background-color: rgb(150, 0, 0);
      color: #fff;
      font-size: 12px;
      border-radius: 3px;
    }

    .remove-product:hover {
      background-color: #a44;
    }
  }

  /* Totals section */
  .totals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    bottom: 0;
    padding: 10px;
    width: calc(100vw - 300px);
    .totals-item {
      width: 100%;
    }
  }
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  #wrapper-buynews {
    h1 {
      font-size: 1.5rem;
      width: 50%;
    }
    .shopping-cart {
      margin: 0;
      border-top: 1px solid $color-border;
    }

    .column-labels {
      display: none;
    }

    .product-image {
      float: right;
      width: auto;
      img {
        margin: 0 0 10px 10px;
      }
    }

    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    }

    .product-price {
      clear: both;
      width: 70px;
      &:before {
        content: "Price:";
        font-weight: bold;
      }
    }

    .product-period {
      width: 100px;
      input {
        margin-left: 20px;
      }
      &:before {
        content: "Period:";
        font-weight: bold;
      }
    }

    .product-channel {
      width: auto;
      &:before {
        content: "Channel:";
        font-weight: bold;
      }
    }

    .product-remove {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      width: 50px;
    }
  }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  #wrapper-buynews {
    .product-channel {
      float: right;
    }

    .product-remove {
      float: right;
      clear: left;
      width: auto;
      margin-top: 10px;
    }

    .totals {
      .totals-item {
        label {
          width: 60%;
        }
        .totals-value {
          width: 40%;
        }
      }
    }
  }
}
</style>