<template>
  <div id="wrapper-buypackage">
    <div class="buypackage-container">
      <tabs>
        <tab name="Buy Package" :selected="true">
          <BuyPackage />
        </tab>
        <tab name="History Package">
          <HistoryPackage />
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import BuyPackage from "~/components/BuyPackage/BuyPackage.vue";
import HistoryPackage from "~/components/BuyPackage/HistoryPackage.vue";
import Tab from "~/components/Tab/Tab.vue";
import Tabs from "~/components/Tab/Tabs.vue";

export default {
  components: {
    BuyPackage,
    HistoryPackage,
    Tab,
    Tabs
  }
};
</script>
