<template>
  <div class="content">
    <ChangePasswordCard v-bind:account="account" />
  </div>
</template>

<script>
import axios from "axios";
import https from "https";
import ChangePasswordCard from "~/components/ChangePasswordCard.vue";

export default {
  computed: {
    account () {
      return this.$store.state.auth.user.account.account
    }
  },
  components: {
    ChangePasswordCard
  }
};
</script>
