<template>
  <div id="wrepper-history">
    <h3>Purchased Histrory</h3>
    <div class="history-report">
      <div class="layout">
        <div class="layout-item item-1">
          <div class="history-content">
            <div>
              <h2>230</h2>
              <span>Purchased</span>
            </div>
            <i class="fas fa-money-bill-wave"></i>
          </div>
          <button>
            More Info
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="layout-item item-2">
          <div class="history-content">
            <div>
              <h2>10</h2>
              <span>Cancelled</span>
            </div>
            <i class="fas fa-times-circle"></i>
          </div>
          <button>
            More Info
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="layout-item item-3">
          <div class="history-content">
            <div>
              <h2>4</h2>
              <span>Warning</span>
            </div>
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <button>
            More Info
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="history-list">
      <table>
        <thead>
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Datetime</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data, index) in sortedCats" :key="index">
            <td data-label="Order Id">{{ data.order_id }}</td>
            <td data-label="Product">{{ data.product }}</td>
            <td data-label="Price">{{ data.price }}</td>
            <td data-label="Datetime">{{ data.datetime }}</td>
          </tr>
        </tbody>
      </table>
      <div class="action">
        <div class>
          <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
        </div>
        <pagination
          class="pagination-no-border pagination-success"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from "../components/Pagination.vue";

export default {
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "datetime",
      currentSortOrder: "asc",
      pagination: {
        perPage: 7,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          order_id: "ZXCGSD256DF",
          product: "Printable Content",
          price: "300",
          datetime: "01 September 2019 22:45"
        },
        {
          order_id: "ZXCGSD256DF",
          product: "Printable Content",
          price: "300",
          datetime: "01 September 2019 22:45"
        },
        {
          order_id: "ZXCGSD256DF",
          product: "Printable Content",
          price: "300",
          datetime: "01 September 2019 22:45"
        },
        {
          order_id: "ZXCGSD256DF",
          product: "Printable Content",
          price: "300",
          datetime: "01 September 2019 22:45"
        },
        {
          order_id: "ZXCGSD256DF",
          product: "Printable Content",
          price: "300",
          datetime: "01 September 2019 22:45"
        }
      ],
      searchedData: [],
      fuseSearch: null
    };
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    sortedCats() {
      return (
        this.tableData
          // .sort((a, b) => {
          //   let modifier = 1;
          //   if (this.currentSortDir === "desc") modifier = -1;
          //   if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          //   if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          //   return 0;
          // })
          .filter((row, index) => {
            let start =
              (this.pagination.currentPage - 1) * this.pagination.perPage;
            let end = this.pagination.currentPage * this.pagination.perPage;
            if (index >= start && index < end) return true;
          })
      );
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  methods: {
    customSort(value) {
      return value.sort((a, b) => {
        const sortBy = this.currentSort;
        if (this.currentSortOrder === "desc") {
          return a[sortBy].localeCompare(b[sortBy]);
        }
        return b[sortBy].localeCompare(a[sortBy]);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
$color-border: #eee;
$color-label: #aaa;
#wrepper-history {
  font-family: "Montserrat";
  padding: 20px;
  .history-list {
    height: calc(100vh - 150px);
    padding: 20px;
    background-color: #ffffff;
    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
      background-color: #eeeeee;

      caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
      }
      thead {
        tr {
          background-color: #1f5fb6;
          color: #ffffff;
        }
      }
      tr {
        background-color: #ffffff;
        border-bottom: 1px solid #ddd;
      }
      th {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      th,
      td {
        padding: 1em 0.625em;
        text-align: left;
      }
    }

    .action {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      // width: 100%;
      p {
        margin: 0;
      }
    }
  }
  .history-report {
    .layout {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .layout-item {
        width: 33%;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
        h2,
        span {
          color: #ffffff;
          font-weight: 700;
          margin: 0;
          text-align: center;
        }
        &.item-1,
        &.item-2,
        &.item-3 {
          margin: 10px;
          button {
            border: none;
            color: #ffffff;
            font-size: 16px;
            padding: 10px;
            width: 100%;
            i {
              color: #ffffff;
            }
          }

          .history-content {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            i {
              font-size: 4rem;
            }
          }
        }
        &.item-1 {
          background-color: #108d00;
          i {
            color: #094b00;
          }
          button {
            background-color: #094b00;
          }
        }
        &.item-2 {
          background-color: #af0000;
          i {
            color: #750000;
          }
          button {
            background-color: #750000;
          }
        }
        &.item-3 {
          background-color: #dacb00;
          i {
            color: #8a8100;
          }
          button {
            background-color: #8a8100;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #wrepper-history {
    .history-report {
      .layout {
        display: block;
        .layout-item {
          margin: 0;
          width: 100%;
          &.item-1,
          &.item-2,
          &.item-3 {
            margin: 10px 0;
          }
        }
      }
    }
    .history-list {
      height: auto;
      table {
        border: 0;
        caption {
          font-size: 1.3em;
        }
        thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: 0.625em;
        }
        td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: 0.8em;
          text-align: right;
          display: flex;
          justify-content: space-between;
        }
        td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        td:last-child {
          border-bottom: 0;
        }
      }

      .action {
        display: block;
        position: relative;
        padding: 0;
        p {
          margin: 10px 0;
        }
      }
    }
  }
}
</style>