<template>
  <div id="wrapper-home">
    <div class="toolbar dense">
      <h3 class="title">TH STRINGERS</h3>
      <div class="md-toolbar-section-end">
        <md-button class="menu" @click="showSidepanel = !showSidepanel">
          <md-icon v-if="!showSidepanel">menu</md-icon>
          <md-icon v-else>close</md-icon>
        </md-button>
        <div class="collapse" id="action">
          <md-button>MARKERPLACE</md-button>
          <md-button class="sign-in" href="/login">SIGN IN</md-button>
          <md-button class="join-now">JOIN NOW</md-button>
        </div>
      </div>
    </div>
    <div class="nav-menu" v-if="showSidepanel">
      <ul>
        <li>
          <md-button>MARKERPLACE</md-button>
        </li>
        <li>
          <md-button class="sign-in" href="/login">SIGN IN</md-button>
        </li>
        <li>
          <md-button class="join-now">JOIN NOW</md-button>
        </li>
      </ul>
    </div>

    <section class="header">
      <div class="content">
        <div class="md-layout">
          <div class="md-layout-item md-xsmall-size-100 md-size-50">
            <h3>
              <p class="stringer-title">
                I AM A
                <span class="stringer">STRINGER</span>
              </p>
              <div class="overlay"></div>
              <div class="button-uploadwork">
                <button>Upload your work</button>
              </div>
            </h3>
          </div>
          <div class="md-layout-item md-xsmall-size-100 md-size-50">
            <h3>
              <p class="stringer-title">
                I AM A
                <span class="stringer">BROADCASTER</span>
              </p>
              <div class="overlay"></div>
              <div class="button-uploadwork">
                <button>Buy media</button>
              </div>
            </h3>
          </div>
        </div>
      </div>
    </section>

    <!-- <img :src="macbookmock" alt class="mockup" /> -->

    <section class="content-1">
      <tabs>
        <tab name="STRINGERS" :selected="true">
          <h2>WE WANT TO HELP PEOPLE</h2>
          <h2>SEE THE STORIES RECORDED</h2>
          <h2>THROUGH TECHNOLOGY.</h2>
          <div class="md-layout">
            <div class="md-layout-item md-xsmall-size-100 md-size-50">
              <div class="title">
                <h1>1</h1>
                <div>
                  <p>CHOOSE</p>
                  <p>
                    Phoducers and editors choose a video
                    <br />in the gallery, buy and broadcatest it.
                  </p>
                </div>
              </div>
              <div class="title">
                <h1>2</h1>
                <div>
                  <p>PAY</p>
                  <p>
                    We have many options in payment.
                    <br />You can pay by coins or subscription.
                  </p>
                </div>
              </div>
              <div class="title">
                <h1>3</h1>
                <div>
                  <p>DOWNLOAD</p>
                  <p>
                    After the broadcaster buys the video,
                    <br />you can download and broadcast.
                  </p>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-xsmall-size-100 md-size-50">
              <img :src="spenser" alt />
            </div>
          </div>
          <button class="learn-more">Learn more</button>
        </tab>
        <tab name="BROADCASTERS">
          <h2>WE WANT TO HELP THE WORLD</h2>
          <h2>TO SEE THE STORIES WE RECORD</h2>
          <h2>THROUGH TECHNOLOGY.</h2>
          <div class="md-layout">
            <div class="md-layout-item md-xsmall-size-100 md-size-50">
              <div class="title">
                <h1>1</h1>
                <div>
                  <p>SHOOT</p>
                  <p>
                    Witnesses of events or profressional
                    <br />videographers shoot an interesting story o
                  </p>
                </div>
              </div>
              <div class="title">
                <h1>2</h1>
                <div>
                  <p>UPLOAD</p>
                  <p>
                    Stringer register and then upload
                    <br />their video content to the platform.
                  </p>
                </div>
              </div>
              <div class="title">
                <h1>3</h1>
                <div>
                  <p>EARN</p>
                  <p>
                    When the broadcaster buys your
                    <br />video you get paid for it.
                  </p>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-xsmall-size-100 md-size-50">
              <img :src="spenser" alt />
            </div>
          </div>
          <button class="learn-more">Learn more</button>
        </tab>
      </tabs>
    </section>

    <section class="content-2">
      <div class="md-layout">
        <div class="md-layout-item md-xsmall-size-100 md-size-50">
          <img :src="macbookmock" alt class="mockup-small" />
        </div>
        <div class="md-layout-item md-xsmall-size-100 md-size-50">
          <h2>ALWAYS HAVE FRESH</h2>
          <h2>USER-GENERATED</h2>
          <h2>VIDEO CONTENT.</h2>
          <button>EXPLORE MARKETPLACE</button>
        </div>
      </div>
      <div class="sponesor">
        <img :src="thairath" alt />
        <img :src="bbc" alt />
        <img :src="cnn" alt />
        <img :src="youtube" alt />
        <img :src="fox" alt />
        <img :src="forbas" alt />
      </div>
    </section>

    <section class="content-3">
      <h1>FREQUENTLY ASKED QUESTIONS (FAQS)</h1>
      <accordion v-for="(collapse, i) in collapses" :key="i">
        <div slot="header">{{ collapse.title }}</div>
        {{ collapse.description }}
      </accordion>
    </section>

    <section class="content-4">
      <div class="content-register">
        <h1>REGISTER NOW AND CONNECT</h1>
        <h4>to the growing comunity of stringers and broadcasters</h4>
        <div class="md-layout">
          <div class="md-layout-item md-xsmall-size-100 md-size-50">
            <button>Register as stringer</button>
          </div>
          <div class="md-layout-item md-xsmall-size-100 md-size-50">
            <button @click="$router.push('broadcasterregister')">Register as broadcaster</button>
          </div>
        </div>
      </div>
    </section>

    <div class="footer">
      <div class="md-layout">
        <div class="md-layout-item md-xsmall-size-100">
          <p>
            <a href="/">HOME</a>
          </p>
          <p>
            <a href="/">ABOUT</a>
          </p>
        </div>
        <div class="md-layout-item md-xsmall-size-100">
          <h3>CONTECT US</h3>
          <ul class="footer-links">
            <li>
              <a href="/privacy">นโยบายความเป็นส่วนตัว</a>
            </li>
            <li>
              <a href="/license">ข้อตกลงด้านสิทธิ์ใช้งาน</a>
            </li>
            <li>
              <a href="/conditions">เงื่อนไขการใช้งาน</a>
            </li>
            <li>
              <a href="/supportcenter">ศูนย์สนับสนุน</a>
            </li>
          </ul>
        </div>
        <div class="md-layout-item md-xsmall-size-100">
          <h3>STRINGER</h3>
          <ul class="footer-links">
            <li>
              <a href="/guidelines">แนวทางในการขาย</a>
            </li>
            <li>
              <a href="/income">การแจกแจงรายได้</a>
            </li>
          </ul>
        </div>
        <div class="md-layout-item md-xsmall-size-100">
          <h3>BROADCASTER</h3>
          <ul class="footer-links">
            <li>
              <a href="/newslists">Marketplace</a>
            </li>
            <li>
              <a href="/pPurchase">ข้อตกลงในการซื้อ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">© Thai Stringers 2019 by KORRA Brand design agency.</div>
    </div>
  </div>
</template>

<script>
import Tab from "../components/Tab/Tab.vue";
import Tabs from "../components/Tab/Tabs.vue";
import Accordion from "../components/Accordion.vue";
import backgroundUrl from "@/assets/img/spenser.jpg";
import spenser from "@/assets/img/spenser-1.jpg";
import macbookmock from "@/assets/img/macbook-mock.png";
import bbc from "@/assets/img/logo/BBC.png";
import cnn from "@/assets/img/logo/cnn.png";
import forbas from "@/assets/img/logo/forbes-logo.png";
import fox from "@/assets/img/logo/fox.png";
import thairath from "@/assets/img/logo/thairath.png";
import youtube from "@/assets/img/logo/youtube.png";

export default {
  layout: "NoSideBar",
  components: {
    Tab,
    Tabs,
    Accordion
  },
  data() {
    return {
      backgroundUrl,
      spenser,
      macbookmock,
      bbc,
      cnn,
      forbas,
      fox,
      thairath,
      youtube,
      showSidepanel: false,
      collapses: [
        {
          title: "What is Thai Stringer?",
          description: "What is Thai Stringer?"
        },
        {
          title: "How do I make sure my video get selected?",
          description: "How do I make sure my video get selected?"
        },
        {
          title: "If my video get purchased, how do I get paid?",
          description: "If my video get purchased, how do I get paid?"
        },
        {
          title: "How do I upload video?",
          description: "How do I upload video?"
        },
        {
          title: "Which video formats does Thai Stringers accept?",
          description: "Which video formats does Thai Stringers accept?"
        },
        {
          title: "What type of content can I upload on the platform?",
          description: "What type of content can I upload on the platform?"
        }
      ]
    };
  }
};
</script>