<template>
  <div class="wrapper-content" id="login-page">
    <div class="container-login" id="container">
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel">
            <i class="fas fa-camera fa-7x"></i>
            <h1>Thai Stringer</h1>
            <p>The real story from talented people</p>
            <p>
              ข่าวด่วน Thai stringer ปรับนโยบาย
              <br />นักข่าวสามารถกำหนดตัวผู้ซื้อได้แล้ว
            </p>
          </div>
        </div>
      </div>
      <div class="form-container">
        <div class="form">
          <Login />
          <nuxt-link to="/register">
            <a>
              Create your account
              <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Login from "../components/Login";

export default {
  layout: "NoSideBar",
  components: {
    Login
  }
};
</script>

<style>
html {
  background: url("~assets/img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color: transparent;
}
.wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
</style>