<template>
  <div class="content" id="news-lists">
    <div class="main-list" :class="{active : mainActive}">
      <div class="md-toolbar-row">
        <div class="md-layout md-gutter md-alignment-center-space-around">
          <div
            class="md-layout-item md-size-70 md-medium-size-70 md-small-size-100 md-xsmall-size-100"
          >
            <div class="col-search">
              <input class="effect-17" v-model="search" type="text" placeholder />
              <label>Search...</label>
              <span class="focus-border">
                <i></i>
              </span>
            </div>
          </div>
          <div
            class="view-cart md-layout-item md-size-30 md-medium-size-30 md-small-size-100 md-xsmall-size-100"
          >
            <md-button @click="$router.push('buynews')">
              <md-icon>shopping_cart</md-icon>View Cart
            </md-button>
          </div>
        </div>
      </div>
      <div class="paginagtion">
        <div class="md-layout md-gutter md-alignment-center">
          <div
            class="md-layout-item md-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100"
          >
            <h5>Thumbnail view</h5>
          </div>
          <div
            class="md-layout-item md-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100"
          >
            <h5>Order by date</h5>
          </div>
          <div
            class="md-layout-item md-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100"
          >
            <ul class="pagination">
              <li class="page-item prev-page">
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <i class="fas fa-angle-double-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link"><label>{{ pagination.currentPage }} from {{ totalPage }}</label></a>
              </li>
              <li class="page-item page-pre next-page">
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="news-grid">
        <h1 v-if="notfound">Not Found</h1>
        <div v-else class="layout">
          <div class="layout-item" v-for="(n, i) in newsListItem" :key="i" @click="showDetail(n)">
            <news-item>
              <template slot="image">
                <vue-plyr v-if="n.thumbnail_type === 'video'">
                  <div class="plyr__video-embed">
                    <iframe :src="n.thumbnail" allowtransparency style="width:100%;"></iframe>
                  </div>
                </vue-plyr>
                <vue-plyr v-else-if="n.thumbnail_type === 'audio'">
                  <audio>
                    <source :src="n.thumbnail" />
                  </audio>
                </vue-plyr>
                <img v-else :src="n.thumbnail" alt="People" />
              </template>
              <template slot="title">
                <div class="el">{{ n.title }}</div>
              </template>
            </news-item>
          </div>
        </div>
      </div>
    </div>
    <more-news :class="{ active: isActive }" :data="detail">
      <md-button class="md-icon-button" slot="close" @click="hideDetail">
        <i class="material-icons">clear</i>
      </md-button>
    </more-news>
  </div>
</template>

<script>
import moment from "moment";
import Swal from "sweetalert2";
import { DB, storage } from "~/service/firebase.config.js";
import { mapGetters } from "vuex";
import NewsItem from "~/components/NewsItem.vue";
import Pagination from "../components/Pagination.vue";
// import NewsLists from "~/components/News/NewsLists.vue"
import MoreNews from "~/layouts/DetailNews.vue";

export default {
  components: {
    NewsItem,
    MoreNews,
    Pagination
  },
  data() {
    return {
      // newsSide: false,
      isActive: false,
      mainActive: false,
      detail: "",
      news: [],
      new_data: "",
      search: "",
      queryTime: "",
      notfound: false,
      currentSort: "title",
      currentSortOrder: "asc",
      pagination: {
        perPage: 20,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchedData: [],
      newsPaginage: []
    };
  },
  mounted() {
    var database = DB.ref("news");
    database.on("value", snapshot => {
      this.new_data = snapshot.val();
      if (this.new_data === undefined || this.new_data === null) {
        this.notfound = true;
      } else {
        return this.new_data;
      }
    });
  },
  computed: {
    newslists() {
      return this.$store.getters.get;
    },
    newsListItem() {
      var dnews = this.new_data;
      var data_arr = [];
      this.newsPaginage = [];
      Object.keys(dnews).forEach(key => {
        const user = dnews[key];
        data_arr.push(user);
        this.newsPaginage.push(user);
      });

      return this.newsPaginage
        .sort(
          (a, b) => new Date(b.create_datetime) - new Date(a.create_datetime)
        )
        .filter((row, index) => {
          let start =
            (this.pagination.currentPage - 1) * this.pagination.perPage;
          let end = this.pagination.currentPage * this.pagination.perPage;
          if (index >= start && index < end) return true;
        });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.newsPaginage.length;
    },
    totalPage() {
      let page = this.total / this.pagination.perPage;
      let parse = parseInt(this.total / this.pagination.perPage);
      if (page > this.pagination.currentPage) {
        return parse + 1
      } else {
        return this.pagination.currentPage
      }
    }
  },
  methods: {
    nextPage() {
      if (
        this.pagination.currentPage * this.pagination.perPage <
        this.newsPaginage.length
      )
        this.pagination.currentPage++;
    },
    prevPage() {
      if (this.pagination.currentPage > 1) this.pagination.currentPage--;
    },
    showDetail(data) {
      this.detail = data;
      if (this.isActive === false) {
        this.isActive = !this.isActive;
        this.mainActive = !this.mainActive;
      }
    },
    hideDetail() {
      this.isActive = false;
      this.mainActive = false;
    }
  }
};
</script>

<style lang="scss" scoped>
iframe {
  img {
    width: 100%;
  }
}

.content {
  padding-top: 0;
  padding-bottom: 0;
  .md-layout-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .item-news {
    width: calc(33% - 6px);
    // height: 40px;
    background-color: grey;
    margin: 3px;
  }
  #news-item-component {
    .md-card-media {
      img {
        height: 130px;
      }
    }
  }
}

// @media (max-width: 991px) {
//   #news-lists {
//     left: 0;
//     transform: translate3d(-260px, 0, 0);
//   }
// }
</style>