<template>
  <div>
     <div class="md-layout md-alignment-top-center">
      <div class="md-layout-item md-size-100 message-box">
        <Notification/>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from '~/components/Notification.vue'

export default {
  components: {
    Notification
  }
}
</script>

<style>
.message-box {
  margin-top: 1rem;
}
</style>
