<template>
  <div class="content">
    <ProfileCard v-bind:profile="user" />
  </div>
</template>

<script>
import axios from "axios";
import https from "https";
import ProfileCard from "~/components/ProfileCard.vue";

export default {
  computed: {
    user () {
      return this.$store.state.auth.user.profile
    }
  },
  components: {
    ProfileCard
  }
};
</script>
