<template>
  <div id="wrepper-receipt">
    <div class="receipt-content">
      <div class="receipt-header">
        <div class="receipt-total">
          <h3>Receipt</h3>
          <!-- <h4>21 Coins</h4> -->
        </div>
        <div class="layout">
          <div class="layout-item">Date:</div>
          <div class="layout-item">30 Sep 2019</div>
        </div>
        <div class="layout">
          <div class="layout-item">Order Id:</div>
          <div class="layout-item">ZXMSKJI3489390</div>
        </div>
        <div class="layout">
          <div class="layout-item">Charged to:</div>
          <div class="layout-item">VISA 8829</div>
        </div>
      </div>
      <div class="receipt-body">
        <h5>Your Order</h5>
        <table>
          <thead>
            <tr>
              <th width="40%">News</th>
              <th width="15%">Peroid</th>
              <th width="15%">Channel</th>
              <th width="10%">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CES-9000</td>
              <td>1 year</td>
              <td>All</td>
              <td>2</td>
            </tr>
            <tr>
              <td>CES-9000</td>
              <td>2 years</td>
              <td>TV</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="receipt-footer">
        <div class="layout">
          <div class="layout-item">Total coins</div>
          <div class="layout-item">7 coins</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#wrepper-receipt {
  font-family: "Montserrat";
  padding: 20px;
  .receipt-content {
    background-color: #ffffff;
    margin: 0 auto;
    width: 60%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .receipt-header {
      padding: 20px;
      background: linear-gradient(60deg, #1f5fb6, #10458f, #03275a);
      .receipt-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3,
        h4 {
          color: #ffffff;
          font-family: "Montserrat";
          font-weight: 600;
          margin: 0;
        }
      }
      p {
        margin: 0;
        color: #ffffff;
      }
      .layout {
        display: flex;
        color: #ffffff;
        .layout-item {
          width: 50%;
          &:first-child {
            font-weight: 700;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
    .receipt-body {
      padding: 10px;
      color: #333333;
      h5 {
        margin: 0;
        font-weight: bold;
      }
      table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        * {
          position: relative;
        }

        td,
        th {
          padding-left: 8px;
        }

        thead {
          tr {
            height: 30px;
            font-size: 16px;
            border-top: 2px solid #aaaaaa;
            border-bottom: 2px solid #aaaaaa;
          }
        }

        tbody tr {
          height: 48px;
          border-bottom: 1px solid #e3f1d5;
        }

        td,
        th {
          text-align: left;
          &.l {
            text-align: right;
          }
          &.c {
            text-align: center;
          }
          &.r {
            text-align: center;
          }
        }
      }
    }
    .receipt-footer {
      background-color: #333333;
      padding: 10px 20px;
      .layout {
        display: flex;
        color: #ffffff;
        .layout-item {
          width: 50%;
          &:first-child {
            font-weight: 700;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #wrepper-receipt {
    .receipt-content {
      width: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  #wrepper-receipt {
    .receipt-content {
      width: 95%;
      .receipt-header {
        .receipt-total {
          h3 {
            font-size: 1.4rem;
          }
          h4 {
            font-size: 1.2rem;
          }
        }
      }
      .receipt-body {
        table {
          display: block;
          > *,
          tr,
          td,
          th {
            display: block;
          }

          thead {
            display: none;
          }
          tbody tr {
            height: auto;
            padding: 8px 0;
            td {
              padding-left: 45%;
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0;
              }
              &:before {
                position: absolute;
                font-weight: 700;
                width: 40%;
                left: 10px;
                top: 0;
              }

              &:nth-child(1):before {
                content: "News";
              }
              &:nth-child(2):before {
                content: "Peroid";
              }
              &:nth-child(3):before {
                content: "Channel";
              }
              &:nth-child(4):before {
                content: "Price";
              }
            }
          }
        }
      }
    }
  }
}
</style>