<template>
  <div class="wrapper-content" id="register-page">
    <div class="container-resgis">
      <div class="overlay-regis">
        <div class="overlay">
          <div class="overlay-panel">
            <div class="rotate">
              <i class="fas fa-camera fa-7x"></i>
              <h1>Thai Stringer</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="form-register">
        <div class="form">
          <h1>Create Account</h1>
          <Register />

          <!-- <form-wizard @on-complete="onComplete" step-size="xs" color="#1f5fb6" title subtitle>
            <tab-content title="Personal details">
              <div class="layout">
                <div class="layout-item">
                  <input type="text" placeholder="Firstname" />
                </div>
                <div class="layout-item">
                  <input type="text" placeholder="Lastname" />
                </div>
              </div>
              <input type="email" placeholder="Email" />
              <div class="layout">
                <div class="layout-item">
                  <input type="text" placeholder="Password" />
                </div>
                <div class="layout-item">
                  <input type="text" placeholder="Comfirm Password" />
                </div>
              </div>
            </tab-content>
            <tab-content title="Additional Info">
              <div class="layout">
                <div class="layout-item">
                  <div class="file-input">
                    <div v-if="!imageRegular">
                      <div class="image-container">
                        <img :src="regularImg" title />
                      </div>
                    </div>
                    <div class="image-container" v-else>
                      <img :src="imageRegular" />
                    </div>
                    <div class="button-container">
                      <md-button
                        class="md-danger md-round"
                        @click="removeImage"
                        v-if="imageRegular"
                      >
                        <i class="fa fa-times"></i>Remove
                      </md-button>
                      <md-button class="md-success md-round md-fileinput">
                        <template v-if="!imageRegular">Select image</template>
                        <template v-else>Change</template>
                        <input type="file" @change="changeImageAvatar" />
                      </md-button>
                    </div>
                  </div>
                </div>
                <div class="layout-item">
                  <p>Gender</p>
                  <md-radio v-model="gender" value="male">Male</md-radio>
                  <md-radio v-model="gender" value="female">Female</md-radio>
                  <p>Date of Birth</p>
                  <md-datepicker v-model="selectedDate" />
                  <input type="text" placeholder="ID Card No" />
                  <input type="text" placeholder="Mobile number" />
                </div>
              </div>
            </tab-content>
            <tab-content title="Last step">
              <div class="layout">
                <div class="layout-item">
                  <dropdown
                    :options="arrayBank"
                    :selected="bankSelected"
                    v-on:updateOption="methodBank"
                    :placeholder="'Select an Item'"
                  ></dropdown>
                </div>
                <div class="layout-item">
                  <input type="text" placeholder="Bank Account No" />
                </div>
              </div>
              <div class="layout">
                <div class="layout-item">
                  <p>Upload file</p>
                  <md-field>
                    <md-file v-model="placeholder" placeholder="Copy of ID Card" />
                  </md-field>
                </div>
                <div class="layout-item">
                  <p>Upload file</p>
                  <md-field>
                    <md-file v-model="placeholder" placeholder="Copy of Book Bank" />
                  </md-field>
                </div>
              </div>
            </tab-content>
          </form-wizard>-->
        </div>
      </div>
    </div>
    <!-- <Register />  -->
  </div>
</template>

<script>
import Register from "../components/Register";
import dropdown from "~/components/Select.vue";
import logo from "~/assets/img/signup_male.png";

export default {
  layout: "NoSideBar",
  components: {
    Register,
    dropdown
  },
  props: {
    regularImg: {
      type: String,
      default: logo
    }
  },
  data() {
    return {
      imageRegular: "",
      arrayBank: [
        { name: "SCB Bank" },
        { name: "Bangkok Bank" },
        { name: "KASIKORNBANK" },
        { name: "Krungsri" }
      ],
      bankSelected: {
        name: "SCB Bank"
      }
    };
  },
  methods: {
    methodBank(payload) {
      console.log(payload);
    },
    changeImageAvatar(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      if (e.target.name) {
        this.createImage(files[0], "circle");
      } else {
        this.createImage(files[0]);
      }
    },
    createImage(file, type) {
      let reader = new FileReader();
      let vm = this;

      reader.onload = e => {
        if (type === "circle") {
          vm.imageCircle = e.target.result;
        } else {
          vm.imageRegular = e.target.result;
        }
      };
      reader.readAsDataURL(file);
    }
  }
};
</script>

<style>
.wrapper-content {
  display: flex;
  justify-content: center;
  height: 100%;
}
</style>