<template>
  <div class="package">
    <div class="md-layout">
      <div
        v-for="(p, index) in packages"
        :key="index"
        class="md-layout-item md-medium-size-25 md-small-size-33 md-xsmall-size-100 md-size-25"
      >
        <pricing-card
          card-class="md-card-plain"
          icon-color="icon-white"
          :class="{ 'active': activeIndex === index}"
        >
          <md-icon slot="icon">emoji_events</md-icon>
          <h3 slot="title" class="title">{{ p.package }}</h3>
          <p slot="description" class="card-description">{{ p.price }} bath</p>
          <p slot="description" class="card-description">{{ p.coins }} / {{ p.plan }}</p>

          <md-button slot="footer" class="md-round" @click="setActive(index)">Choose Plan</md-button>
        </pricing-card>
      </div>
    </div>
    <div class="payment-content">
      <h3>Paymant: </h3>
      <div class="payment-item">
        <md-radio v-model="radio" value="payment">Payment GW</md-radio>
        <md-radio v-model="radio" value="Credit-term">Credit Term</md-radio>
      </div>
    </div>
    <div class="md-layout">
      <button class="buy-package">Buy Package</button>
    </div>
  </div>
</template>

<script>
import PricingCard from "../Cards/PricingCard.vue";

export default {
  components: {
    PricingCard
  },
  data() {
    return {
      radio: false,
      activeIndex: null,
      packages: [
        {
          coins: "40,000 coins",
          package: "Premium",
          price: "300,000",
          plan: "30 days"
        },
        {
          coins: "30,000 coins",
          package: "Gold",
          price: "200,000",
          plan: "month"
        },
        {
          coins: "12,000 coins",
          package: "Sliver",
          price: "100,000",
          plan: "month"
        }
      ]
    };
  },
  methods: {
    setActive(index) {
      this.activeIndex = index;
    }
  }
};
</script>

<style lang="scss" scoped>
.package {
  padding: 10px;
  background-color: #ffffff;
  .payment-content {
    display: flex;
    align-items: center;
    h3 {
      margin: 0.6em 10px;
      font-weight: 600;
    }
    .payment-item {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 599px) {
  .package {
    padding: 10px;
    background-color: #ffffff;
    .payment-content {
      display: block;
      align-items: center;
      h3 {
        margin: 10px;
      }
      .payment-item {
        margin: 0 20px;
      }
    }
  }
}
</style>
