<template>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Payment by</th>
          <th scope="col">Package</th>
          <th scope="col">Amount</th>
          <th scope="col">Total</th>
          <th scope="col">Payment Type</th>
          <th scope="col">Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedCats" :key="index">
          <td data-label="Date/Time">{{data.datetime}}</td>
          <td data-label="Payment by">{{data.payment_by}}</td>
          <td data-label="Package">{{data.package}}</td>
          <td data-label="Amount">{{data.amount}}</td>
          <td data-label="Total">{{data.total}}</td>
          <td data-label="Payment Type">{{data.payment_type}}</td>
          <td data-label="Payment Status">{{data.payment_status}}</td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>
<script>
import Pagination from "../Pagination.vue";

export default {
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "datetime",
      currentSortOrder: "asc",
      pagination: {
        perPage: 7,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. John",
          package: "Platinum",
          amount: "400,000",
          total: "40,000",
          payment_type: "credit term",
          payment_status: "Unpaid"
        },
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. Beam",
          package: "Platinum",
          amount: "400,000",
          total: "30,000",
          payment_type: "credit term",
          payment_status: "Unpaid"
        },
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. John",
          package: "Platinum",
          amount: "400,000",
          total: "40,000",
          payment_type: "credit term",
          payment_status: "Unpaid"
        },
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. Sim",
          package: "Gold",
          amount: "10,000",
          total: "40,000",
          payment_type: "credit card",
          payment_status: "Paid"
        },
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. Tim",
          package: "Gold",
          amount: "10,000",
          total: "10,000",
          payment_type: "credit card",
          payment_status: "Paid"
        },
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. Moo",
          package: "Gold",
          amount: "10,000",
          total: "10,000",
          payment_type: "credit card",
          payment_status: "Paid"
        },
        {
          datetime: "01/10/2019 22:45",
          payment_by: "Mr. John",
          package: "Gold",
          amount: "10,000",
          total: "10,000",
          payment_type: "credit card",
          payment_status: "Paid "
        }
      ],
      searchedData: [],
      fuseSearch: null
    };
  },
  computed: {
    sortedCats() {
      return this.tableData.filter((row, index) => {
        let start = (this.pagination.currentPage - 1) * this.pagination.perPage;
        let end = this.pagination.currentPage * this.pagination.perPage;
        if (index >= start && index < end) return true;
      });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
