#wrapper-usermanagement,
#wrapper-createuser,
#wrapper-manage-package,
#wrapper-manage-claim,
#wrapper-admin-accounting {
  padding: 20px;
  .md-field {
    margin: 0;
    padding: 0;
    align-items: center;
    .md-input-action {
      display: none !important;
    }

    input {
      width: 100%;
      border: 0;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      border-bottom: none;
      background-color: #dde4ec !important;
      color: #000000;
    }
  }
  .md-field.md-theme-default:after {
    background-color: transparent !important;
  }
  .md-field:not(.md-disabled):after {
    background-color: transparent !important;
  }
  .md-field:before {
    background-color: transparent !important;
  }

  .md-radio,
  .md-checkbox {
    align-items: center;
    &.md-checked {
      .md-radio-container {
        border-color: #1f5fb6 !important;
        &:after {
          background-color: #1f5fb6 !important;
        }
      }
      .md-checkbox-container {
        border-color: #1f5fb6 !important;
        &:after {
          border-color: #1f5fb6 !important;
        }
      }
    }
    .md-radio-container {
      top: 2px;
      transition: 0.2s !important;
    }
    .md-radio-label,
    .md-checkbox-label {
      color: #000000;
    }
  }
  button {
    border-radius: 5px;
    border: 1px solid #1f5fb6;
    background-color: #1f5fb6;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &.button-resend,
    &.button-resetpassword, 
    &.button-edit {
      border: 1px solid #e78b00;
      background-color: #e78b00;
      margin: 5px 0;
    }
    &.button-view,
    &.button-ban {
      border: 1px solid #1f5fb6;
      background-color: #1f5fb6;
      margin: 5px 0;
    }
    &.button-reject, &.button-delete {
      border: 1px solid #be0c0c;
      background-color: #be0c0c;
    }
    &.button-approved,
    &.button-create {
      border: 1px solid #075700;
      background-color: #075700;
    }
    &.md-button.remove-file {
      border: 1px solid #be0c0c;
      background-color: #be0c0c !important;
    }
    &.md-button.fileinput {
      background-color: #1f5fb6 !important;
    }
    &.md-button {
      &.md-ripple {
        padding: 0;
      }
      &:not(.md-just-icon):not(.md-btn-fab):not(.md-icon-button):not(.md-toolbar-toggle) .md-ripple {
        padding: 0;
      }
    }
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  #wrapper-tabs {
    .tabs {
      // background-color: #ffffff;
      ul {
        li {
          &.is-active {
            color: #1f5fb6 !important;
            border-top: 2px solid #1f5fb6;
            background-color: #ffffff;
            -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: unset;
            transition: all 250ms ease-in-out;
            a {
              color: #1f5fb6;
              cursor: pointer;
              font-family: "Montserrat";
              font-weight: 900;
            }
          }
          a {
            color: #727272;
            cursor: pointer;
            font-size: 18px;
            font-family: "Montserrat";
            padding: 10px 16px;
            transition: all 250ms ease-in-out;
            -webkit-text-fill-color: unset;
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: unset;
            &:hover {
              color: #1f5fb6 !important;
              -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
              -webkit-text-stroke-width: 0;
              -webkit-text-stroke-color: unset;
            }
          }
        }
      }
    }
  }
}

#wrapper-createuser,
// #wrapper-manage-package,
// #wrapper-manage-claim,
#wrapper-statistics,
#wrapper-security,
#wrapper-appsetting,
#wrapper-admessage {
  h1 {
    margin: 0;
    color: #333333;
    font-size: 2.5rem;
    font-family: "Tabloid";
  }
}

@media screen and (max-width: 599px) {
  #wrapper-usermanagement {
    #wrapper-tabs {
      .tabs {
        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  #wrapper-createuser,
  #wrapper-manage-package,
  #wrapper-manage-claim {
    h1 {
      font-size: 2rem;
    }
  }
}
