$card-color: #3bf;
$gradient-factor: 0.5;
#wrapper-buycoin,
#wrapper-buypackage,
#wrapper-accounting {
  font-family: "Montserrat";
  padding: 20px;
  h2 {
    font-family: "Montserrat";
    font-weight: 700;
    margin: 0;
  }

  .md-field {
    margin: 0;
    padding: 0;
    align-items: center;
    .md-input-action {
      display: none !important;
    }

    input {
      width: 100%;
      border: 0;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      border-bottom: none;
      background-color: #dde4ec !important;
      color: #000000;
    }
  }
  .md-field.md-theme-default:after {
    background-color: transparent !important;
  }
  .md-field:not(.md-disabled):after {
    background-color: transparent !important;
  }
  .md-field:before {
    background-color: transparent !important;
  }

  button {
    &.buy-package {
      border-radius: 5px;
      border: 1px solid #1f5fb6;
      background-color: #1f5fb6;
      color: #ffffff;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  #wrapper-tabs {
    .tabs {
      // background-color: #ffffff;
      ul {
        li {
          &.is-active {
            color: #1f5fb6 !important;
            border-top: 2px solid #1f5fb6;
            background-color: #ffffff;
            -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: unset;
            transition: all 250ms ease-in-out;
            a {
              color: #1f5fb6;
              cursor: pointer;
              font-family: "Montserrat";
              font-weight: 900;
            }
          }
          a {
            color: #727272;
            cursor: pointer;
            font-size: 18px;
            font-family: "Montserrat";
            padding: 10px 16px;
            transition: all 250ms ease-in-out;
            -webkit-text-fill-color: unset;
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: unset;
            &:hover {
              color: #1f5fb6 !important;
              -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
              -webkit-text-stroke-width: 0;
              -webkit-text-stroke-color: unset;
            }
          }
        }
      }
    }
  }
}

#wrapper-buycoin {
  .buycoin {
    padding: 10px;
    background-color: #ffffff;
    p {
      margin: 0;
    }
    ul {
      list-style: none outside none;
      margin: 20px 0;
      padding: 0;
      text-align: center;
      li {
        display: inline;
        background-color: #ece3da;
        border-radius: 5px;
        margin: 0 10px;
        padding: 10px 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        &.active {
          background-color: #1f5fb6;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }

  .button-buycoin {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    button {
      border-radius: 5px;
      border: 1px solid #1f5fb6;
      background-color: #1f5fb6;
      color: #ffffff;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
  .layout {
    display: flex;
    justify-content: space-around;
    .layout-item {
      width: 40%;
      h4 {
        margin: 0;
      }
      input {
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #aaaaaa;
        width: 100%;
      }
    }
    .layout-item-sm {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        color: #ffffff;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  h3 {
    margin: 0;
    margin-top: 20px;
    font-family: "Montserrat";
    font-weight: bold;
  }
  .payment {
    display: flex;
    padding: 10px 0;
    align-items: center;
    .visa,
    .mastercard {
      padding: 0 20px;
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;
        position: relative;
        //   top: 4px;
      }

      input:checked {
        border: 9px solid #1f5fb6;
      }
    }

    .md-radio {
      .md-radio-label {
        height: 100px !important;
        line-height: 0;
      }
    }
    img {
      width: 50px;
    }
  }

  .card {
    width: 50%;
    .sleeve {
      flex: 1 1 0;
      margin: auto;
    }

    .credit-card {
      margin: 20px;
      display: flex;
      flex-shrink: 0;
      background: $card-color;
      position: relative;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 1px 1px 0 rgba(255, 255, 255, 0.3);
      width: 337px;
      height: 212px;
      opacity: 0.5;

      * {
        position: relative;
      }

      &.selected {
        transform: scale(1.1);
        z-index: 2;
        opacity: 1;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 10px 50px 5px rgba(0, 0, 0, 0.25),
          inset 1px 1px 0 rgba(255, 255, 255, 0.3);
      }

      &:before {
        content: "";
        border-radius: inherit;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          135deg,
          rgba(255, 255, 255, $gradient-factor) 0%,
          rgba(0, 0, 0, $gradient-factor) 100%
        );
      }
    }

    .card-type,
    .card-company {
      text-align: right;
      text-transform: uppercase;
      margin: 10px;
      color: rgba(0, 0, 40, 0.5);
    }

    .card-company {
      font-family: "Tabloid";
      box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.3);
      font-weight: normal;
      font-size: 24px;
      padding: 10px;
      background: transparent;
      color: #ffffff;
      letter-spacing: 1px;
      text-align: center;
      margin: 15px 0;
    }

    .card-number,
    .card-expire,
    .card-holder {
      display: flex;
      margin: 5px;
      justify-content: center;
      font-family: monospace;
      font-size: 24px;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      .digit-group {
        margin: 5px;
        input {
          background: transparent;
          border: none;
          border-bottom: 1px solid #ffffff4b;
          color: #ffffff;
          font-family: monospace;
          font-size: 24px;
          width: 100%;
          &::placeholder {
            color: #dddddd;
          }
        }
      }
    }

    .card-expire,
    .card-holder {
      font-size: 16px;
      justify-content: space-between;
      padding: 0;

      .card-text {
        font-size: 12px;
        font-family: sans-serif;
        color: #000;
        color: rgba(0, 0, 40, 0.5);
        text-shadow: none;
        margin: 3px;
        margin-left: 10px;
      }

      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #ffffff4b;
        color: #ffffff;
        font-family: monospace;
        font-size: 16px;
        width: 50%;
        &::placeholder {
          color: #dddddd;
        }
      }
    }

    .card-holder {
      padding: 0 10px;
      input {
        width: 70%;
      }
    }

    .card-type {
      margin-top: auto;
      font-size: 14px;
    }
  }
}

#wrapper-buypackage {
  .buypackage-container {
    padding: 10px;
    .md-layout {
      justify-content: center;
    }

    .md-radio {
      &.md-checked {
        .md-radio-container {
          border-color: #1f5fb6 !important;
          &:after {
            background-color: #1f5fb6 !important;
          }
        }
      }
      .md-radio-label {
        color: #000000;
      }
    }

    .md-card {
      border: 1px solid #aaaaaa;
      .title {
        color: #aaaaaa;
        font-family: "Montserrat";
        font-weight: bold;
      }
      p {
        margin: 0;
      }
      &.active {
        border: 1px solid #1f5fb6;
        border-radius: 5px;
        .title {
          color: #1f5fb6;
          font-weight: bold;
        }
        .card-description {
          color: #1f5fb6;
        }
        .md-button {
          background: linear-gradient(60deg, #1f5fb6, #000000) !important;
        }
      }
      &.md-card-pricing {
        .md-card-icon {
          i {
            color: #aaaaaa;
          }
        }
        .md-card-actions {
          &.md-alignment-right {
            justify-content: center;
          }
        }
      }
      &.md-card-pricing.active {
        .md-card-icon {
          i {
            color: #ffffff;
            border-color: #1f5fb6;
            background: linear-gradient(60deg, #1f5fb6, #000000) !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #wrapper-buypackage {
    .buypackage-container {
      .md-card {
        margin: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  #wrapper-buypackage,
  #wrapper-accounting {
    #wrapper-tabs {
      .tabs {
        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  #wrapper-buycoin {
    .buycoin {
      ul {
        display: flex;
        margin: 10px 0;
        li {
          display: block;
          background-color: #ece3da;
          border-radius: 5px;
          margin: 5px;
          padding: 8px;
          width: 50%;
        }
      }
    }

    .layout {
      .layout-item-sm {
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          padding: 5px;
        }
      }
    }

    .card {
      width: 100%;
      .sleeve {
        flex: 1 1 0;
        margin: auto;
      }

      .credit-card {
        margin: 0;
        display: flex;
        flex-shrink: 0;
        background: $card-color;
        position: relative;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 1px 1px 0 rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 212px;
        opacity: 0.5;

        * {
          position: relative;
        }

        &.selected {
          transform: scale(1);
          z-index: 2;
          opacity: 1;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 10px 50px 5px rgba(0, 0, 0, 0.25),
            inset 1px 1px 0 rgba(255, 255, 255, 0.3);
        }

        &:before {
          content: "";
          border-radius: inherit;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: linear-gradient(
            135deg,
            rgba(255, 255, 255, $gradient-factor) 0%,
            rgba(0, 0, 0, $gradient-factor) 100%
          );
        }
      }

      .card-type,
      .card-company {
        text-align: right;
        text-transform: uppercase;
        margin: 10px;
        color: rgba(0, 0, 40, 0.5);
      }

      .card-company {
        font-size: 24px;
        padding: 10px;
        background: transparent;
        color: #ffffff;
        letter-spacing: 1px;
        text-align: center;
        margin: 15px 0;
      }

      .card-number,
      .card-expire,
      .card-holder {
        display: flex;
        margin: 5px;
        justify-content: center;
        font-family: monospace;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        .digit-group {
          margin: 5px;
          input {
            width: 100%;
          }
        }
      }

      .card-expire,
      .card-holder {
        font-size: 16px;
        justify-content: space-between;
        padding: 0;

        .card-text {
          font-size: 12px;
          font-family: sans-serif;
          color: #000;
          color: rgba(0, 0, 40, 0.5);
          text-shadow: none;
          margin: 3px;
          margin-left: 10px;
        }
        input {
          width: 50%;
        }
      }

      .card-holder {
        padding: 0 10px;
        input {
          width: 70%;
        }
      }

      .card-type {
        margin-top: auto;
        font-size: 14px;
      }
    }
  }
}
