@mixin font-face($fontName, $fileName, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $fontName;
    src: url($path+$fileName+".eot");
    src: url($path+$fileName+".eot?") format("embedded-opentype"), url($path+$fileName+".woff") format("woff"),
      url($path+$fileName+".ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");

@font-face {
  font-family: "Tabloid";
  src: url("./fonts/Tabloid-Scuzzball.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "EkkamaiNew";
  src: url("./fonts/EkkamaiNew.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Prompt", sans-serif;
  src: url("./fonts/Prompt-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

#wrapper-home {
  background: url("./img/spenser.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Tabloid";

  button {
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
  }

  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: #1f5fb6 !important;
      text-decoration: none !important;
    }
  }

  .toolbar {
    background-color: #000000;
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;
    align-content: center;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, background-color, box-shadow, transform, color, min-height;
    will-change: opacity, background-color, box-shadow, transform, color, min-height;
    .title {
      font-family: "Tabloid";
      margin: 0;
      margin-left: 8px;
      overflow: hidden;
      font-weight: 400;
      letter-spacing: 0.02em;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
      color: #ffffff !important;
    }
    .menu {
      display: none;
    }

    #action {
      span {
        margin: auto 0;
      }
      .join-now {
        background-color: #1f5fb6 !important;
      }
    }
    .md-button {
      font-size: 16px;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }

  .nav-menu {
    display: none;
  }

  .dense {
    min-height: 48px;
  }

  .header {
    font-family: "Tabloid";
    position: relative;
    .parallax {
      position: relative;
      .bg-war {
        width: 100%;
        height: calc(100vh - 48px);
        background-color: #000000;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .content {
      z-index: 2;
      width: 100%;
      .md-layout {
        height: calc(100vh - 50px);
        .md-layout-item {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #ffffff;
          font-weight: bold;
          h3 {
            font-family: "Tabloid";
            font-size: 3rem;
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              background: rgba(0, 0, 0, 0);
              transition: background 0.5s ease;
            }
            p {
              margin: 0;
            }
            .stringer-title {
              font-size: 3rem;
              text-align: center;
              text-transform: uppercase;
              color: white;
              z-index: 1;
              transition: top 0.5s ease;
            }
            .button-uploadwork {
              text-align: center;
              opacity: 0;
              transition: opacity 0.35s ease;
              button {
                padding: 12px 32px;
                text-align: center;
                color: #ffffff;
                background: transparent;
                border: solid 2px #ffffff;
                font-size: 1.5rem;
                z-index: 1;
                &:hover {
                  color: #ffffff;
                  cursor: pointer;
                }
              }
            }
            &:hover {
              .overlay {
                display: block;
                background: rgba(0, 0, 0, 0.3);
              }
              .button-uploadwork {
                opacity: 1;
              }
            }
          }
          &:nth-child(1) {
            background-color: #0000008f;
            font-weight: 700;
          }
          &:nth-child(2) {
            background-color: #1f5fb68f;
            font-weight: 700;
          }
        }
      }
    }
  }

  .content-1 {
    padding: 30px;
    padding-left: 20em;
    // padding-bottom: 7em;
    background-color: #ece3da;
    font-family: "Tabloid";
    h3 {
      margin: 0;
    }
    h1,
    h2 {
      font-family: "Tabloid";
    }
    .md-layout {
      .md-layout-item {
        .title {
          display: flex;
          margin: 20px 0;
          color: #111111;
          h1 {
            margin: 0;
            font-size: 6em;
          }
          div {
            padding-left: 10px;
            p {
              margin-top: 0.5em;
              margin-bottom: 0;
              &:nth-child(1) {
                font-size: 2.5em;
              }
            }
          }
        }
      }
    }
    img {
      margin: auto 0;
    }
    .learn-more {
      padding: 10px 32px;
      background: none;
      border: 2px solid #1f5fb6;
      color: #1f5fb6;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #1f5fb6;
        color: #ffffff;
      }
    }
  }

  img {
    &.mockup {
      position: absolute;
      width: 700px;
      top: 90em;
      margin-left: -10em;
    }
  }

  .content-2 {
    padding: 30px 0;
    // padding-top: 10em;
    background-color: #eeeeee;
    .md-layout {
      .md-layout-item {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        h3 {
          font-family: "Tabloid";
          font-size: 35px;
          a:hover {
            color: #ffffff !important;
            cursor: pointer;
          }
        }
        &:nth-child(1) {
          img {
            display: block;
          }
          font-weight: 700;
        }
        &:nth-child(2) {
          font-weight: 700;
          text-align: left;
          h2 {
            font-family: "Tabloid";
            line-height: 1em;
            margin: 0;
            color: #1f5fb6;
            font-size: 3.5rem;
          }
          button {
            margin: 20px 0;
            padding: 10px 32px;
            background: none;
            border: 2px solid #1f5fb6;
            color: #1f5fb6;
            font-size: 1rem;
            &:hover {
              background-color: #1f5fb6;
              color: #ffffff;
            }
          }
        }
      }
    }
    .sponesor {
      text-align: center;
      padding: 20px 0;
      img {
        margin: 10px 32px;
        width: 70px;
      }
    }
  }

  .content-3 {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #ece3da;
    h1 {
      font-family: "Tabloid";
      color: #1f5fb6;
    }
  }

  .content-4 {
    padding: 20px 32px;
    text-align: center;
    background-color: #000000a9;
    color: #ffffff;
    h1 {
      font-family: "Tabloid";
      margin: 0;
    }
    .md-layout {
      .md-layout-item {
        align-items: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        h3 {
          font-family: "Tabloid";
        }
        button {
          background: transparent;
          border: 2px solid #ffffff;
          color: #ffffff;
          font-size: 18px;
          padding: 10px 32px;
          &:hover {
            background-color: #ffffff71;
          }
        }
      }
    }
  }

  .footer {
    padding-top: 30px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    h3 {
      color: #fff;
      font-family: "Tabloid";
      font-size: 24px;
      // font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      text-align: left;
    }
    p {
      font-size: 24px;
      line-height: 24px;
      color: #b3b3b3;
      margin-top: 0;
      a {
        color: #ffffff !important;
        text-decoration: none;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      &.footer-links {
        text-align: left;
        li {
          list-style-type: none;
          a {
            font-family: "Prompt";
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
    .copyright {
      border-top: 1px solid #5f5f5f;
      font-size: 16px;
      color: #b3b3b3;
      margin-top: 25px;
      padding-top: 10px;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 599px) {
  #wrapper-home {
    .toolbar {
      min-height: 56px;
      #action {
        display: none;
      }
      .md-button {
        min-width: 0;
        &.menu {
          display: inherit;
          .md-ripple {
            padding: 0;
            .md-button-content {
              i {
                font-size: 20px !important;
              }
            }
          }
        }
      }
    }
    .md-drawer {
      // background-color: #000000;
      // color: #ffffff;
      width: 230px;
      .md-button {
        background: transparent !important;
        box-shadow: none;
        color: #000000 !important;
        i {
          color: #000000 !important;
        }
      }
      .md-toolbar {
        &.md-theme-default {
          font-size: 2em;
          color: #000000 !important;
        }
      }
      .md-list.md-theme-default {
        background: transparent;
        // color: #ffffff;
        .md-list-item {
          a {
            color: #000000 !important;
          }
        }
      }
    }

    .nav-menu {
      display: block;
      position: fixed;
      background-color: #000000;
      width: 100%;
      z-index: 9999;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          list-style: none;
          text-align: center;
          .md-button {
            background: transparent !important;
            box-shadow: none;
            width: 100%;
          }
        }
      }
    }

    .header {
      .content {
        .md-layout {
          height: 50vh;
        }
      }
    }

    .content-1 {
      padding: 10px;
      #tab-content {
        h2 {
          font-size: 1.8rem;
        }
      }
      .learn-more {
        margin: 10px;
      }
    }

    .content-2 {
      padding: 10px;
      .md-layout {
        .md-layout-item {
          &:nth-child(1) {
            img {
              &.mockup-small {
                display: inline;
              }
            }
          }
        }
      }
    }

    .content-3 {
      h1 {
        margin: 0;
        font-size: 2em;
      }
      .accordion {
        .header {
          height: 40px;
          line-height: 20px;
          font-size: 16px;
        }
      }
    }

    .content-4 {
      .md-layout {
        .md-layout-item {
          button {
            margin: 10px;
          }
        }
      }
    }

    img {
      &.mockup {
        display: none;
      }
    }

    .footer {
      // padding: 20px;
      padding-top: 30px;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #000000;
      color: white;
      text-align: center;
      h3 {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        text-align: left;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        color: #b3b3b3;
        margin-top: 0;
        a {
          color: #ffffff !important;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            color: #ff7800;
          }
        }
      }
      ul {
        padding: 0;
        &.footer-links {
          text-align: left;
          li {
            list-style-type: none;
            a {
              font-size: 14px;
              line-height: 26px;
              color: #b3b3b3;
              text-decoration: none;
            }
          }
        }
      }
      .copyright {
        border-top: 1px solid #5f5f5f;
        font-size: 14px;
        color: #b3b3b3;
        margin-top: 25px;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  #wrapper-home {
    .nav-menu {
      display: none;
    }
    img {
      &.mockup {
        position: absolute;
        width: 500px;
        top: 82em;
        margin-left: -10em;
      }
    }
    .header {
      .content {
        .md-layout {
          height: 50vh;
        }
      }
    }

    .content-1 {
      padding-left: 10em;
      .md-layout {
        .md-layout-item {
          .title {
            display: flex;
            margin: 20px 0;
            h1 {
              margin: 0;
              font-size: 3em;
            }
            div {
              padding-left: 10px;
              p {
                margin-top: 0.5em;
                margin-bottom: 0;
                &:nth-child(1) {
                  font-size: 2.5em;
                }
              }
            }
          }
        }
      }
      img {
        margin: auto 0;
      }
      .learn-more {
        padding: 5px 32px;
        background: none;
        border: 1px solid #1f5fb6;
        color: #1f5fb6;
        font-size: 16px;
      }
    }

    .content-2 {
      padding: 20px 0;
      padding-top: 5em;
      .sponesor {
        text-align: center;
        padding: 20px 0;
        img {
          margin: 10px 20px;
          width: 70px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  #wrapper-home {
    .nav-menu {
      display: none;
    }
    .header {
      font-family: "Tabloid";
      .parallax {
        position: relative;
        height: 50vh;
        .bg-war {
          width: 100%;
          height: 50vh;
          // height: calc(100vh - 48px);
        }
      }
      .content {
        position: relative;
        z-index: 2;
        height: 50vh;
        width: 100%;
        .md-layout {
          height: 50vh;
          // height: calc(100vh - 48px);
          .md-layout-item {
            h3 {
              font-family: "Tabloid";
              font-size: 35px;
            }
          }
        }
      }
    }
    img {
      &.mockup {
        position: absolute;
        width: 600px;
        top: 95em;
        margin-left: -10em;
      }
    }

    .content-1 {
      padding-left: 10em;
      .md-layout {
        .md-layout-item {
          .title {
            display: flex;
            margin: 20px 0;
            h1 {
              margin: 0;
              font-size: 3em;
            }
            div {
              padding-left: 10px;
              p {
                margin-top: 0.5em;
                margin-bottom: 0;
                &:nth-child(1) {
                  font-size: 2.5em;
                }
              }
            }
          }
        }
      }
      img {
        margin: auto 0;
      }
      .learn-more {
        padding: 5px 32px;
        background: none;
        border: 1px solid #1f5fb6;
        color: #1f5fb6;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 960px) {
  #wrapper-home {
    .toolbar {
      padding: 0 8px;
    }
  }
}

@media screen and (min-width: 1440px) {
  #wrapper-home {
    button {
      cursor: pointer;
      &:active {
        transform: scale(0.95);
      }
      &:focus {
        outline: none;
      }
    }

    a {
      text-decoration: none;
      &:hover,
      &:focus {
        color: #1f5fb6 !important;
        text-decoration: none !important;
      }
    }

    .toolbar {
      min-height: 64px;
      .title {
        font-size: 3rem; //
      }
      .md-button {
        font-size: 2rem; //
      }
    }

    .nav-menu {
      display: none;
    }

    .dense {
      min-height: 64px;
      height: 64px; //
    }

    .header {
      font-family: "Tabloid";
      position: relative;
      .parallax {
        position: relative;
        .bg-war {
          width: 100%;
          height: calc(100vh - 48px);
          background-color: #000000;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .content {
        z-index: 2;
        width: 100%;
        .md-layout {
          height: calc(100vh - 50px);
          .md-layout-item {
            h3 {
              .stringer-title {
                font-size: 5rem; //
              }
            }
            &:nth-child(1) {
              background-color: #0000008f;
              font-weight: 700;
            }
            &:nth-child(2) {
              background-color: #1f5fb68f;
              font-weight: 700;
            }
          }
        }
      }
    }

    .content-1 {
      #tab-content {
        h2 {
          font-size: 3.5rem;
        }
      }
      .md-layout {
        .md-layout-item {
          .title {
            margin-bottom: 0;
            h1 {
              margin: 0;
              font-size: 8em;
            }
            div {
              padding-left: 10px;
              p {
                margin-top: 0.8em;
                margin-bottom: 0;
                &:nth-child(1) {
                  font-size: 2.7em;
                }
                &:nth-child(2) {
                  font-size: 1.6em;
                }
              }
            }
          }
        }
      }
      img {
        margin: auto 0;
      }
      .learn-more {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    .content-2 {
      .md-layout {
        .md-layout-item {
          h3 {
            font-family: "Tabloid";
            font-size: 35px;
            a:hover {
              color: #ffffff !important;
              cursor: pointer;
            }
          }
          &:nth-child(2) {
            h2 {
              font-size: 3.5rem;
            }
          }
        }
      }
      .sponesor {
        img {
          width: 80px;
        }
      }
    }

    .content-3 {
      h1 {
        margin: 0;
        font-size: 4rem;
      }
    }

    .content-4 {
      .md-layout {
        .md-layout-item {
          button {
            font-size: 22px;
          }
        }
      }
    }

    .footer {
      h3 {
        font-size: 26px;
      }
      p {
        font-size: 26px;
      }
      ul {
        &.footer-links {
          li {
            a {
              font-size: 20px;
            }
          }
        }
      }
      .copyright {
        font-size: 20px;
      }
    }
  }
}
