.md-datepicker-dialog {
  .md-datepicker-header {
    background: linear-gradient(60deg, #1f5fb6, #000000) !important;
  }
  .md-datepicker-today,
  .md-button.md-primary {
    background-color: #1f5fb6 !important;
  }
}

#login-page,
#register-page {
  h1,
  h2 {
    font-family: "Tabloid";
  }
  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    text-align: center;
  }

  p {
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  span {
    font-size: 12px;
  }

  button {
    border-radius: 20px;
    border: 1px solid #1f5fb6;
    background-color: #1f5fb6;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin: 8px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 100%;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .container-login,
  .container-resgis {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    .overlay-container {
      width: 50%;
      overflow: hidden;
      .overlay {
        background: #000000;
        background: -webkit-linear-gradient(to right, #000000, #1f5fb6);
        background: linear-gradient(to right, #000000, #1f5fb6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        height: 100%;
        .overlay-panel {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          height: 100%;
        }
      }
    }
    .form-container {
      width: 50%;
      .form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
        a {
          color: #333;
          font-size: 14px;
          text-decoration: none;
          margin: 0;
          &:hover {
            color: #1f5fb6 !important;
          }
        }
        form {
          display: block;
          .social-container {
            margin: 15px 0;
            a {
              border: 1px solid #dddddd;
              border-radius: 50%;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              margin: 0 5px;
              height: 40px;
              width: 40px;
              &:hover {
                color: #1f5fb6 !important;
                border: 1px solid #1f5fb6;
              }
            }
          }
        }
      }
    }
    .overlay-regis {
      width: 20%;
      .overlay {
        display: block;
        background: #000000;
        background: -webkit-linear-gradient(to right, #000000, #1f5fb6);
        background: linear-gradient(to right, #000000, #1f5fb6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        width: 100%;
        height: 100%;
        .overlay-panel {
          display: block;
          width: 100%;
          height: 100%;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          white-space: nowrap;
          .rotate {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            h1 {
              margin: auto 10px;
            }
            .fa-7x {
              font-size: 4em;
            }
          }
        }
      }
    }

    .form-register {
      width: 80%;
      .form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 30px;
        height: 100%;
        .vue-form-wizard {
          width: 100%;
          margin-top: 20px;
          .wizard-header {
            display: none;
          }
          .wizard-card-footer {
            padding: 20px;
            button {
              padding: 6px 12px;
            }
          }
          .wizard-tab-content {
            .md-field {
              margin: 0;
              padding: 0;
              align-items: center;
              .md-input-action {
                display: none;
              }
            }
            .md-field.md-theme-default:after {
              background-color: transparent !important;
            }
            .md-field:not(.md-disabled):after {
              background-color: transparent !important;
            }
            .md-field:before {
              background-color: transparent !important;
            }
          }
        }
        .layout {
          width: 100%;
          display: flex;
          justify-content: space-around;
          .layout-item {
            padding: 0 10px;
            width: 50%;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
            p {
              margin: 0;
            }
            .md-radio {
              margin: 0 10px;
              .md-radio-label {
                color: #333333;
              }
            }
            .md-field {
              margin: 0;
              padding: 0;
              align-items: center;
              .md-input-action {
                display: none;
              }
            }
            .md-field.md-theme-default:after {
              background-color: transparent !important;
            }
            .md-field:not(.md-disabled):after {
              background-color: transparent !important;
            }
            .md-field:before {
              background-color: transparent !important;
            }
            .file-input {
              width: 100%;
              .image-container {
                max-width: 160px;
                margin: auto;
                text-align: center;
              }
              .button-container {
                button {
                  background-color: #333333;
                  margin: 10px;
                  padding: 5px 10px;
                  border-radius: 3px;
                  border: none;
                }
              }
            }
          }
        }
        h4 {
          margin: 0;
          margin-top: 20px;
          text-align: left;
          font-weight: 700;
        }
      }
    }
  }
}

#setting {
  padding: 20px;
  h1 {
    margin: 0;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
  }

  button {
    border-radius: 5px;
    border: 1px solid #1f5fb6;
    background-color: #1f5fb6;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .header-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .action {
      button {
        width: 100%;
        i {
          margin-right: 5px;
        }
        &.success {
          border: 1px solid #0ead00;
          background-color: #0ead00;
        }
      }

      button:active {
        transform: scale(0.95);
      }

      button:focus {
        outline: none;
      }
    }
  }
  .container-setting {
    background-color: #ffffff;
    border-radius: 2px;
    height: calc(100vh - 150px);
    margin-top: 10px;
    padding: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  #wrapper-tabs {
    .tabs {
      ul {
        li {
          &.is-active {
            color: #1f5fb6 !important;
            border-bottom: 2px solid #1f5fb6;
            -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: unset;
            a {
              color: #1f5fb6;
              cursor: pointer;
              font-family: "Montserrat";
              font-weight: 700;
            }
          }
          a {
            color: #93c0ff;
            cursor: pointer;
            font-size: 18px;
            font-family: "Montserrat";
            padding: 10px 16px;
            &:hover {
              color: #1f5fb6 !important;
              -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
              -webkit-text-stroke-width: 0;
              -webkit-text-stroke-color: unset;
            }
          }
        }
      }
    }
    .tabs-details {
      font-family: "Montserrat";
      padding-top: 20px;
      h3 {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 12px;
      }
      .image-profile {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          border-radius: 50%;
          border: 2px solid #1f5fb6;
          margin: 10px auto;
          width: 150px;
        }
      }

      .change-image {
        display: flex;
        justify-content: center;
        width: 100%;
        button {
          width: 50%;
        }
      }

      .overlay {
        padding: 12px 0;
      }
      label {
        padding: 12px 0;
        padding-right: 12px;
      }
      input {
        background-color: #eee;
        border: none;
        font-family: "Montserrat";
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
      }
      input:disabled {
        background: transparent;
        color: #000000;
        font-size: 14px;
        margin: 0;
        padding: 0;
        width: 50%;
      }

      .md-field {
        margin: 0;
        padding: 0;
        align-items: center;
        .md-input-action {
          display: none;
        }
      }
      .md-field.md-theme-default:after {
        background-color: transparent !important;
      }
      .md-field:not(.md-disabled):after {
        background-color: transparent !important;
      }
      .md-field:before {
        background-color: transparent !important;
      }

      .company-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input,
        .md-field {
          font-family: "Montserrat";
          width: 65%;
        }

        input {
          &.address {
            width: 50%;
            &:first-child {
              margin-right: 5px;
            }
            &:last-child {
              margin-left: 5px;
            }
          }
        }
      }
      .action-save {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        button {
          border: 1px solid #0ead00;
          background-color: #0ead00;
        }
      }

      table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;

        caption {
          font-size: 1.5em;
          margin: 0.5em 0 0.75em;
        }
        thead {
          tr {
            background-color: #1f5fb6;
            color: #ffffff;
          }
        }
        tr {
          background-color: #f8f8f8;
          border: 1px solid #ddd;
          padding: 0.35em;
        }
        th {
          font-size: 0.85em;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        th,
        td {
          padding: 0.625em;
          text-align: center;
        }

        tbody {
          tr {
            td {
              i {
                color: #c00000;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  #login-page,
  #register-page {
    .container-login,
    .container-resgis {
      display: block; //
      background-color: transparent; //
      width: 100%; //
      max-width: unset; //
      min-height: 0; //
      .overlay-container {
        width: 100%; //
        overflow: hidden;
        .overlay {
          padding: 20px 0; //
          .overlay-panel {
            .fa-7x {
              font-size: 5em;
            }
            h1 {
              font-size: 2rem;
            }
            p {
              margin: 0;
            }
          }
        }
      }
      .form-container {
        width: 100%; //
        .form {
          padding-bottom: 20px;
          form {
            padding-bottom: 20px;
          }
        }
      }

      .overlay-regis {
        width: 100%;
        .overlay {
          .overlay-panel {
            padding: 20px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            .rotate {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              h1 {
                margin: auto 10px;
                font-size: 2.5rem;
              }
              .fa-7x {
                font-size: 4em;
              }
            }
          }
        }
      }

      .form-register {
        width: 100%;
        height: auto;
        h1 {
          font-size: 2rem;
        }
        .form {
          padding: 20px 20px;
          // padding-bottom: 0;
          .vue-form-wizard {
            .wizard-card-footer {
              padding: 10px 0;
              button {
                padding: 6px 12px;
              }
            }
            .wizard-tab-content {
              padding: 20px 0;
            }
          }
          .layout {
            width: 100%;
            display: block;
            .layout-item {
              padding: 0;
              width: 100%;
              p {
                margin: 0;
              }
              .md-radio {
                margin: 0 10px;
                .md-radio-label {
                  color: #333333;
                }
              }
              .md-field {
                margin: 0;
                padding: 0;
                align-items: center;
                .md-input-action {
                  display: none;
                }
              }
              .md-field.md-theme-default:after {
                background-color: transparent !important;
              }
              .md-field:not(.md-disabled):after {
                background-color: transparent !important;
              }
              .md-field:before {
                background-color: transparent !important;
              }
              .file-input {
                width: 100%;
                .image-container {
                  max-width: 160px;
                  margin: auto;
                  text-align: center;
                }
                .button-container {
                  button {
                    background-color: #333333;
                    margin: 10px;
                    padding: 5px 10px;
                    border-radius: 3px;
                    border: none;
                  }
                }
              }
            }
          }
          h4 {
            margin: 0;
            margin-top: 20px;
            text-align: left;
            font-weight: 700;
          }
        }
      }
    }
  }
  #setting {
    h1 {
      margin: 0;
      font-family: "Montserrat";
      font-size: 30px;
      font-weight: 600;
    }
    .container-setting {
      height: auto;
      margin-top: 10px;
      padding: 10px;
    }
    #wrapper-tabs {
      .tabs {
        ul {
          li {
            width: 100%;
            &.is-active {
              color: #1f5fb6 !important;
              border-bottom: 2px solid #1f5fb6;
              -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
              -webkit-text-stroke-width: 0;
              -webkit-text-stroke-color: unset;
              a {
                color: #1f5fb6;
                cursor: pointer;
                font-family: "Montserrat";
                font-weight: 700;
              }
            }
            a {
              color: #93c0ff;
              cursor: pointer;
              font-size: 18px;
              font-family: "Montserrat";
              padding: 10px 16px;
              &:hover {
                color: #1f5fb6 !important;
                -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 0;
                -webkit-text-stroke-color: unset;
              }
            }
          }
        }
      }
      .tabs-details {
        .change-image {
          margin-bottom: 30px;
          button {
            width: 90%;
          }
        }
        .company-info {
          display: block;
          justify-content: space-between;
          align-items: center;
          input,
          .md-field {
            width: 100%;
          }
          input {
            &.address {
              width: 100%;
              &:first-child {
                margin-right: 0;
              }
              &:last-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  #setting {
    .container-setting {
      height: auto;
      margin-top: 10px;
      padding: 10px;
    }
    #wrapper-tabs {
      .tabs-details {
        .change-image {
          margin-bottom: 30px;
          button {
            width: 90%;
          }
        }
        .company-info {
          display: block;
          justify-content: space-between;
          align-items: center;
          input,
          .md-field {
            width: 100%;
          }

          input {
            &.address {
              width: 100%;
              &:first-child {
                margin-right: 0;
              }
              &:last-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  #setting {
    #wrapper-tabs {
      .tabs-details {
        table {
          border: 0;
          caption {
            font-size: 1.3em;
          }
          thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
          tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 0.625em;
          }
          td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right;
          }
          td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
          }
          td:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
