.table-container {
  padding: 20px;
  background-color: #ffffff;
  font-family: "Montserrat";
  p {
    margin: 0;
  }
  .table-header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: 0;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      border-bottom: none;
      background-color: #dde4ec;
      color: #000000;
      transition: all 0.15s ease;
    }
  }
  .button__search {
    border-radius: 5px;
    border: 1px solid #1f5fb6;
    background-color: #1f5fb6;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background-color: #eeeeee;

    caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }
    thead {
      tr {
        background-color: #1f5fb6;
        color: #ffffff;
      }
    }
    tr {
      background-color: #ffffff;
      border-bottom: 1px solid #ddd;
    }
    th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    th,
    td {
      padding: 1em 0.625em;
      text-align: left;
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    ul {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .table-container {
    height: auto;
    table {
      border: 0;
      caption {
        font-size: 1.3em;
      }
      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
      }
      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
        display: flex;
        justify-content: space-between;
      }
      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      td:last-child {
        border-bottom: 0;
      }
    }

    .action {
      display: block;
      position: relative;
      padding: 0;
      p {
        margin: 10px 0;
      }
    }
  }
}
