@import "material/_colors";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#top-navbar {
  #select-on-topbar {
    .md-layout {
      display: flex;
      flex-wrap: nowrap;
      .md-layout-item {
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        .md-field {
          margin: 0;
          padding: 0;
          min-height: 0;
          .md-input {
            margin-top: 0;
          }
        }
      }
    }
  }

  #btn-add-news {
    border-radius: 50px;
    .md-list-item-container .md-ripple {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #292929;
        border-radius: 50px;
        padding: 0px 10px;
        i,
        p {
          color: #ffffff;
          margin: 0;
        }
      }
      i,
      p {
        color: #ffffff;
        margin: 0;
      }
    }
  }
}

#stringer-page {
  font-family: "Prompt";
  .md-toolbar-row {
    .md-layout-item {
      padding: 0 15px;
    }
  }
  .add-news {
    .md-button {
      font-family: "Tabloid";
      font-size: 20px;
      background: transparent !important;
      color: #000000 !important;
      box-shadow: none;
      height: unset;
      .md-ripple {
        padding: 0;
      }
      i {
        margin: 0 10px;
        padding: 15px;
        font-size: 20px;
        border-radius: 50%;
        background-color: #1f5fb6;
        color: #ffffff !important;
      }
    }
  }

  .col-search {
    float: left;
    font-family: "Tabloid";
    width: 100%;
    margin: 0 3%;
    position: relative;
  }

  /* necessary to give position: relative to parent. */
  input[type="text"] {
    font: 15px/24px "Muli", sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }

  :focus {
    outline: none;
  }

  /* necessary to give position: relative to parent. */
  input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }
  .effect-17 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }
  .effect-17 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #26c6da;
    background: linear-gradient(to right, #26c6da, #00acc1);
    transition: 0.4s;
  }
  .effect-17:focus ~ .focus-border,
  .has-content.effect-17 ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
  .effect-17 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
  }
  .effect-17:focus ~ label,
  .has-content.effect-17 ~ label {
    top: -16px;
    font-size: 12px;
    color: #26c6da;
    transition: 0.3s;
  }

  .main-list {
    width: calc(100vw - 270px);
    &.active {
      width: 56vw;
    }
    img {
      height: 154px;
    }
  }
  .stringer-content {
    &.active {
      width: 56vw;
      .stringer-lists {
        .layout {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .layout-item {
            width: 33%;
            min-width: 33%;
            max-width: 33%;
            flex: 0 1 33%;
            padding: 0 15px;
          }
        }
      }
    }
    .stringer-lists {
      .layout {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .layout-item {
          width: 25%;
          min-width: 25%;
          max-width: 25%;
          flex: 0 1 25%;
          padding: 0 15px;
        }
      }
      .md-card {
        background-color: transparent !important;
        box-shadow: none;
        .md-card-media {
          padding: 0;
          img {
            height: 154px;
          }
        }
        .md-card-header {
          padding: 0 10px;
          background-color: transparent !important;
          .el {
            padding: 0.5em 0;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: bold;
          }
          p {
            margin: 0;
          }
        }
      }

      .md-card:hover {
        color: #1f5fb6;
        cursor: pointer;
      }
    }
  }
}

#toggle-detail {
  display: none;
  position: fixed;
  top: 48px;
  right: 0;
  width: 300px;
  height: calc(100vh - 48px);
  background-color: #111111;
  z-index: 3000;
  color: #ffffff;
  padding: 20px;
  &.active {
    display: block;
    button {
      float: right;
      &.md-button {
        background: transparent !important;
        box-shadow: none;
      }
    }
  }

  h3 {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Prompt";
    font-weight: 700;
    font-size: 1.8rem;
  }

  div.time,
  div.file,
  div.location {
    p {
      margin: 0;
      margin-bottom: 5px;
      font-family: "Prompt";
      font-size: 1rem;
    }
  }

  .toggle-footer {
    display: block;
    position: fixed;
    padding: 0.5em;
    bottom: 0;
    width: 300px;
    h2 {
      margin-bottom: 0;
      font-size: 2em;
      font-family: "Tabloid";
    }
    h4 {
      margin-top: 0;
      font-size: 1rem;
    }
  }
}

#news-lists {
  font-family: "Prompt";
  .main-list {
    &.active {
      width: calc(100vw - 300px);
      .news-grid {
        .layout {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .layout-item {
            width: 33%;
            min-width: 33%;
            max-width: 33%;
            flex: 0 1 33%;
            padding: 0 15px;
          }
        }
      }
    }
    .news-grid {
      .layout {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .layout-item {
          width: 25%;
          min-width: 25%;
          max-width: 25%;
          flex: 0 1 25%;
          padding: 15px;
        }
      }
      .md-card {
        background-color: transparent !important;
        box-shadow: none;
        .md-card-media {
          padding: 0;
          img {
            height: 154px;
          }
        }
        .md-card-header {
          padding: 0 10px;
          background-color: transparent !important;
          .el {
            padding: 0.5em 0;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: bold;
          }
          p {
            margin: 0;
            font-family: "Prompt";
          }
        }
      }
    }
  }
}

#news-lists {
  display: flex;
  .md-toolbar-row {
    .md-layout-item {
      padding: 0 15px;
    }
  }
  .view-cart {
    .md-button {
      font-family: "Tabloid";
      font-size: 20px;
      background: transparent !important;
      box-shadow: none;
      height: unset;
      .md-ripple {
        padding: 0;
      }
      i {
        margin: 10px;
        padding: 20px;
        border-radius: 50%;
        background-color: #1f5fb6;
        color: #ffffff !important;
      }
    }
  }
  .paginagtion {
    .md-layout-item {
      padding: 0 15px;
      h5 {
        font-family: "Helvetica";
        margin: 5px;
      }
    }
  }
  .main-list {
    width: 100vw;
    &.active {
      width: 56vw;
    }
  }
  .md-card {
    background: transparent;
    box-shadow: none;
    .el {
      padding: 0.5em 0;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

  .md-card:hover {
    color: #1f5fb6;
  }

  .col-search {
    float: left;
    width: 100%;
    margin: 0 3%;
    position: relative;
  }

  /* necessary to give position: relative to parent. */
  input[type="text"] {
    font: 15px/24px "Muli", sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }

  :focus {
    outline: none;
  }

  /* necessary to give position: relative to parent. */
  input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }
  .effect-17 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }
  .effect-17 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #26c6da;
    background: linear-gradient(to right, #26c6da, #00acc1);
    transition: 0.4s;
  }
  .effect-17:focus ~ .focus-border,
  .has-content.effect-17 ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
  .effect-17 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
  }
  .effect-17:focus ~ label,
  .has-content.effect-17 ~ label {
    top: -16px;
    font-size: 12px;
    color: #26c6da;
    transition: 0.3s;
  }

  .md-button {
    // background-color: transparent !important;
    // box-shadow: none !important;
    color: #000000 !important;
    i {
      color: #000000 !important;
    }
  }
  .news-grid {
    position: relative;
    .md-card {
      margin: 0;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      .md-card-header {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
      }
      .md-card-media + .md-card-header {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .md-card-example {
    .md-subhead {
      .md-icon {
        $size: 16px;
        width: $size;
        min-width: $size;
        height: $size;
        font-size: $size !important;
      }

      span {
        vertical-align: middle;
      }
    }

    .card-reservation {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .md-icon {
        margin: 8px;
      }
    }

    .md-button-group {
      display: flex;

      .md-button {
        min-width: 60px;
        border-radius: 2px;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  #stringer-page {
    .stringer-content {
      &.active {
        width: 56vw;
        .stringer-lists {
          .layout {
            .layout-item {
              width: 100%;
              min-width: 100%;
              max-width: 100%;
              flex: 0 1 100%;
              padding: 0 15px;
              //  md-xlarge-size-20 md-large-size-25 md-medium-size-33 md-small-size-50 md-xsmall-size-100
            }
          }
        }
      }
      .stringer-lists {
        .layout {
          .layout-item {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            flex: 0 1 100%;
            padding: 0 15px;
            //  md-xlarge-size-20 md-large-size-25 md-medium-size-33 md-small-size-50 md-xsmall-size-100
          }
        }
      }
    }
  }

  #news-lists {
    .main-list {
      &.active {
        // width: calc(100vw - 300px);
        .news-grid {
          .layout {
            .layout-item {
              width: 100%;
              min-width: 100%;
              max-width: 100%;
              flex: 0 1 100%;
              padding: 0 15px;
            }
          }
        }
      }
      .news-grid {
        .layout {
          .layout-item {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            flex: 0 1 100%;
            padding: 0 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  #stringer-page {
    .stringer-content {
      &.active {
        width: calc(100vw - 300px);
        .stringer-lists {
          .layout {
            .layout-item {
              width: 50%;
              min-width: 50%;
              max-width: 50%;
              flex: 0 1 50%;
              padding: 0 15px;
            }
          }
        }
      }
      .stringer-lists {
        .layout {
          .layout-item {
            width: 33%;
            min-width: 33%;
            max-width: 33%;
            flex: 0 1 33%;
            padding: 0 15px;
          }
        }
      }
    }
  }

  #news-lists {
    .main-list {
      &.active {
        width: calc(100vw - 300px);
        .news-grid {
          .layout {
            .layout-item {
              width: 50%;
              min-width: 50%;
              max-width: 50%;
              flex: 0 1 50%;
              padding: 0 15px;
            }
          }
        }
      }
      .news-grid {
        .layout {
          .layout-item {
            width: 33%;
            min-width: 33%;
            max-width: 33%;
            flex: 0 1 33%;
            padding: 0 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #news-lists {
    display: flex;
    .main-list {
      width: 100vw;
      &.active {
        width: 70vw;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #stringer-page {
    .stringer-content {
      &.active {
        width: calc(100vw - 300px);
      }
    }
  }
  #news-lists {
    .main-list {
      &.active {
        width: calc(100vw - 300px);
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  #news-lists {
    display: flex;
    .main-list {
      width: 100vw;
      &.active {
        width: 70vw;
      }
    }
  }

  #stringer-page {
    .stringer-content {
      &.active {
        width: calc(100vw - 300px);
        .stringer-lists {
          .layout {
            .layout-item {
              width: 25%;
              min-width: 25%;
              max-width: 25%;
              flex: 0 1 25%;
              padding: 0 15px;
              //  md-xlarge-size-20 md-large-size-25 md-medium-size-33 md-small-size-50 md-xsmall-size-100
            }
          }
        }
      }
      .stringer-lists {
        .layout {
          .layout-item {
            width: 20%;
            min-width: 20%;
            max-width: 20%;
            flex: 0 1 20%;
            padding: 0 15px;
            //  md-xlarge-size-20 md-large-size-25 md-medium-size-33 md-small-size-50 md-xsmall-size-100
          }
        }
      }
    }
  }

  #news-lists {
    .main-list {
      &.active {
        width: calc(100vw - 300px);
        .news-grid {
          .layout {
            .layout-item {
              width: 25%;
              min-width: 25%;
              max-width: 25%;
              flex: 0 1 25%;
              padding: 0 15px;
            }
          }
        }
      }
      .news-grid {
        .layout {
          .layout-item {
            width: 20%;
            min-width: 20%;
            max-width: 20%;
            flex: 0 1 20%;
            padding: 0 15px;
          }
        }
      }
    }
  }
}

#addnews {
  #card-news-detail {
    .md-field {
      margin: 4px;
      padding: 0;
    }
    &.md-card {
      .md-card-content {
        .md-form-label {
          padding-top: 10px;
        }

        .md-field {
          min-height: 0;
        }
      }
    }
  }
  #sale-condition {
    .md-checkbox {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .md-field {
      margin-top: 0;
      margin-bottom: 4px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 0;
    }
    .md-button {
      text-align: center;
      // background-color: transparent !important;
      background: linear-gradient(60deg, #26c6da, #00acc1);
      border-radius: 20px;
      box-shadow: none !important;
      color: #ffffff !important;
      i {
        color: #ffffff !important;
      }
    }
  }
  #upload-file {
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .md-card-stats {
    .md-card-content {
      text-align: left;
      .category {
        margin-top: 1rem;
        color: $black;
      }
      .short-description,
      .genre {
        min-height: 32px;
      }
      // .md-field:before {
      //   background-color: $orange !important;
      // }
      // .md-field.md-focused {
      //   .md-input {
      //     color: $orange;
      //   }
      // }
    }
  }
  .md-radio {
    display: flex;
  }
}

@media screen and (min-width: 1279px) {
  .md-toolbar .md-button:first-child {
    display: none;
  }
}
