<template>
  <div id="card-article-upload">
    <md-card-content v-for="(article, i) in articles" :key="i">
      <div class="form-group">
        <label for="signup-name">Title</label>
        <input type="text" name="name" v-model="article.title" />
      </div>
      <div class="thumbnall">
        <md-field>
          <label>Article files</label>
          <md-file @change="previewFiles($event, i)" />
        </md-field>
      </div>
    </md-card-content>
    <md-card-actions md-alignment="right">
      <md-button class="md-info" @click="createNewFileArticle">
        <md-icon>add</md-icon>Add Articles
      </md-button>
    </md-card-actions>
  </div>
</template>

<script>
export default {
  name: "article-upload",
  props: ["articles"],
  methods: {
    createNewFileArticle() {
      const newId = Math.max.apply(null, this.articles.map(t => t.id)) + 1;
      this.articles.push({ id: newId, title: "", file: "" });
    },
    previewFiles(event, index) {
      var file = event.target.files[0];
      this.articles.name_file = file.name;
      var reader = new FileReader();
      reader.onload = file => {
        var content = file.target.result;
        this.articles[index].file = content;
        return this.articles[index].file;
      };
      reader.readAsDataURL(file);
      return this.articles[index].file;
    }
  }
};
</script>

<style lang="scss" scoped>
#card-article-upload {
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
    &:last-child {
      margin: 0;
    }
    label {
      display: block;
      margin: 0 0 10px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    input,
    textarea {
      outline: none;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(0, 0, 0, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .md-field {
    margin: 13px;
    padding: 0;
  }

  .thumbnall {
    .md-field {
      min-height: 0;
    }
    .md-field label {
      top: 8px;
    }
    .md-field.md-focused label,
    .md-field.md-has-value label {
      display: none;
    }
    .md-field:before {
      background-color: #00acc1 !important;
    }
  }

  input[type="text"] {
    font: 15px/24px "Muli", sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    & :focus {
      outline: none;
    }
  }

  input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }

  .effect-2 {
    border: 0;
    padding: 7px 14px 9px;
    border-bottom: 1px solid #ccc;
  }

  .effect-2 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #26c6da, #00acc1);
    transition: 0.4s;
  }

  .effect-2:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
}
.md-button {
  text-align: center;
  // background-color: transparent !important;
  background: linear-gradient(60deg, #26c6da, #00acc1);
  border-radius: 20px;
  box-shadow: none !important;
  color: #ffffff !important;
  i {
    color: #ffffff !important;
  }
}
</style>