<template>
  <div id="card-news-detail">
    <div class="form-group">
      <label for="signup-name">Title</label>
      <input type="text" name="name" v-model="detail.title" />
    </div>
    <div class="form-group">
      <label for="signup-name">News Category</label>
      <dropdown
        :options="detail.newsCategory"
        :selected="detail.category"
        v-on:updateOption="methodCategory"
        :placeholder="detail.category.name"
      ></dropdown>
    </div>
    <div class="form-group">
      <label for="signup-name">Short Description</label>
      <input type="text" name="name" v-model="detail.short_description" />
    </div>
    <div class="form-group">
      <label for="signup-name">Full Description</label>
      <textarea type="text" name="name" v-model="detail.full_description"></textarea>
    </div>

    <div class="md-layout md-gutter md-alignment-center">
      <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
        <div class="form-group">
          <label for="signup-name">Tag</label>
          <input type="text" name="name" v-model="detail.tag" />
        </div>
      </div>
      <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
        <div class="form-group">
          <label for="signup-name">Genre</label>
          <input type="text" name="name" v-model="detail.genre" />
        </div>
      </div>
    </div>

    <div class="md-layout md-gutter md-alignment-center">
      <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
        <div class="form-group">
          <label for="signup-name">Location</label>
          <input type="text" name="name" v-model="detail.location" />
        </div>
      </div>
      <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
        <div class="form-group">
          <label for="signup-name">Thumbnall</label>
          <md-field>
            <md-file @change="fileUpload($event)" />
          </md-field>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dropdown from "~/components/Select.vue";

export default {
  name: "detail",
  props: ["detail"],
  components: {
    dropdown: dropdown
  },
  data() {
    return {
      filename: ""
    };
  },
  methods: {
    fileUpload(e) {
      var file = e.target.files[0];
      const type = file.type;
      this.detail.thumbnailType = type.substring(0, 5);
      this.detail.name_file = file.name;
      this.filename = file.name;
      var reader = new FileReader();
      reader.onload = file => {
        var content = file.target.result;
        this.detail.thumbnailReader = content;
        return this.thumbnailReader;
      };
      reader.readAsDataURL(file);
    },
    methodCategory(cagetory) {
      this.detail.category = cagetory.name;
    }
  }
};
</script>

<style lang="scss" scoped>
#card-news-detail {
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
    // &:last-child {
    //   margin: 0;
    // }
    label {
      display: block;
      margin: 0 0 10px;
      color: #1f5fb6;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    input,
    textarea {
      outline: none;
      display: block;
      background: rgba(0, 0, 0, 0);
      width: 100%;
      border: 1px solid #d6d6d6;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(0, 0, 0, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  textarea {
    height: 20em;
  }
  .md-field {
    margin: 13px;
    padding: 0;
  }

  &.md-card {
    .md-card-content {
      .md-form-label {
        padding-top: 10px;
      }

      .md-field {
        min-height: 0;
      }
    }
  }

  .thumbnall {
    .md-field:before {
      background-color: #00acc1 !important;
    }
  }

  .md-field.md-has-textarea:not(.md-autogrow):before {
    border-color: #00acc1 !important;
  }

  .col-detail {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;

    input[type="text"],
    textarea {
      font: 15px/24px "Muli", sans-serif;
      color: #333;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: 1px;
    }
    :focus {
      outline: none;
    }

    .effect-2 {
      border: 0;
      padding: 7px 0;
      border-bottom: 1px solid #ccc;
      & ~ .focus-border {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #26c6da;
        background: linear-gradient(to right, #26c6da, #00acc1);
        transition: 0.4s;
      }
      &:focus {
        & ~ .focus-border {
          width: 100%;
          transition: 0.4s;
          left: 0;
        }
      }
    }

    .effect-8 {
      height: 100px;
      padding: 0;
      display: block;
      flex: 1;
      border: none;
      background: none;
      transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: font-size, padding-top, color;
      font-family: inherit;
      font-size: 16px;
      line-height: 32px;
    }

    .effect-8:focus {
      // height: 100%;
      border: 2px solid #00acc1;
      transition: 0.4s;
    }
  }

  .box {
    background-color: #cef9ff;
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      & + label {
        max-width: 80%;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.325rem 1.25rem;
        vertical-align: middle;
        fill: currentColor;
      }
    }
    .inputfile:focus + label,
    .inputfile.has-focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
    .inputfile-1 {
      & + label {
        color: #ffffff;
        background: linear-gradient(60deg, #26c6da, #00acc1);
      }
    }
    .inputfile-1:focus + label,
    .inputfile-1.has-focus + label,
    .inputfile-1 + label:hover {
      background-color: #007d8d;
    }

    .data-file {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0 0.25rem;
      vertical-align: middle;
      fill: currentColor;
    }
  }
}
.md-button {
  text-align: center;
  // background-color: transparent !important;
  background: linear-gradient(60deg, #26c6da, #00acc1);
  border-radius: 20px;
  box-shadow: none !important;
  color: #ffffff !important;
  i {
    color: #ffffff !important;
  }
}
</style>
