<template>
  <div id="sale-condition">
    <md-checkbox v-model="condition.limit_sale">Limit Sale</md-checkbox>
    <p>Select Buyer</p>
    <dropdown
      :options="condition.buyer"
      :selected="condition.select_buyer"
      v-on:updateOption="methodCondition"
      :placeholder="condition.select_buyer.name"
    ></dropdown>
    <div class="select">
      <md-radio
        v-model="condition.time"
        v-for="(t, i) in condition.time_list"
        :value="t.value"
        :key="i"
      >{{ t.text }}</md-radio>
    </div>
    <p>Term of Usage</p>
    <dropdown
      :options="condition.usage"
      :selected="condition.term_usage"
      v-on:updateOption="methodUsage"
      :placeholder="condition.term_usage.name"
    ></dropdown>
    <div class="form-group">
      <label for="signup-name">Price</label>
      <input type="text" name="name" v-model="condition.price" />
    </div>
  </div>
</template>

<script>
import dropdown from "~/components/Select.vue";

export default {
  name: "sale-condition",
  props: ["condition"],
  components: {
    dropdown: dropdown
  },
  methods: {
    methodCondition(condition) {
      this.condition.select_buyer = condition.name;
    },
    methodUsage(usage) {
      this.condition.term_usage = usage.name;
    }
  }
};
</script>

<style lang="scss" scoped>
#sale-condition {
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
    &:last-child {
      margin: 0;
    }
    label {
      display: block;
      margin: 0 0 10px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    input,
    textarea {
      outline: none;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(0, 0, 0, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .md-checkbox {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .md-field {
    margin-top: 0;
    margin-bottom: 4px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
  }
  input[type="text"] {
    font: 15px/24px "Muli", sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    & :focus {
      outline: none;
    }
  }

  input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }

  .effect-2 {
    border: 0;
    padding: 7px 14px 9px;
    border-bottom: 1px solid #ccc;
  }

  .effect-2 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #26c6da, #00acc1);
    transition: 0.4s;
  }

  .effect-2:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
}
.md-button {
  text-align: center;
  background: linear-gradient(60deg, #26c6da, #00acc1);
  border-radius: 20px;
  box-shadow: none !important;
  color: #ffffff !important;
  i {
    color: #ffffff !important;
  }
}
</style>
