<template>
  <div id="wrapper-admin-accounting">
    <div class="admin-accounting">
      <tabs>
        <!-- <tab name="Account Management">
          <AccountManagement />
        </tab> -->
        <tab name="Account Payable" :selected="true">
          <AccountPayable />
        </tab>
        <tab name="Account Receivable">
          <AccountReceivable />
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import AccountManagement from "~/components/Administrator/AccountManagement.vue";
import AccountPayable from "~/components/Administrator/AccountPayable.vue";
import AccountReceivable from "~/components/Administrator/AccountReceivable.vue";
import Tab from "~/components/Tab/Tab.vue";
import Tabs from "~/components/Tab/Tabs.vue";

export default {
  layout: "AdminLayout",
  components: {
    AccountManagement,
    AccountPayable,
    AccountReceivable,
    Tab,
    Tabs
  }
};
</script>
