<template>
  <div id="wrapper-usermanagement">
    <div class="usermanagement-container">
      <tabs>
        <tab name="Activation" :selected="true">
          <Activation />
        </tab>
        <tab name="Manage User">
          <ManageUser />
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import Activation from "~/components/Administrator/Activation.vue";
import ManageUser from "~/components/Administrator/ManageUser.vue";
import CreateUser from "~/components/Administrator/CreateUser.vue";
import Tab from "~/components/Tab/Tab.vue";
import Tabs from "~/components/Tab/Tabs.vue";

export default {
  layout: "AdminLayout",
  components: {
    Activation,
    ManageUser,
    CreateUser,
    Tab,
    Tabs
  }
};
</script>
