<template>
  <div id="wrapper-manage-claim">
      <claim-manage></claim-manage>
  </div>
</template>

<script>
import ClaimManage from "~/components/Administrator/ClaimManage.vue";
export default {
  layout: "AdminLayout",
  components: {
    ClaimManage
  }
};
</script>