<template>
  <div id="wrapper-createuser">
    <create-user></create-user>
  </div>
</template>

<script>
import CreateUser from "~/components/Administrator/CreateUser.vue";
export default {
  layout: "AdminLayout",
  components: {
    CreateUser
  }
};
</script>
