<template>
  <div id="wrapper-manage-package">
      <package-manage></package-manage>
  </div>
</template>

<script>
import PackageManage from "~/components/Administrator/PackageManage.vue";
export default {
  layout: "AdminLayout",
  components: {
    PackageManage
  }
};
</script>