<template>
  <div id="wrapper-manage-package">
      <package-editor></package-editor>
  </div>
</template>

<script>
import PackageEditor from "~/components/Administrator/PackageEditor.vue";
export default {
  layout: "AdminLayout",
  components: {
    PackageEditor
  }
};
</script>