<template>
  <div v-show="isActive" id="tab-content">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "tab",
  props: {
    name: { required: true },
    selected: { default: false }
  },
  data() {
    return {
      isActive: false
    };
  },
  // computed: {
  //   href() {
  //     return "#";
  //   }
  // },
  mounted() {
    this.isActive = this.selected;
  }
};
</script>

<style lang="scss" scoped>
#tab-content {
  h1 {
    font-size: 5em;
    // margin: 0;
    // margin-block-start: 0;
    // margin-block-end: 0;
  }
  h2 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2.6rem;
    line-height: 1em;
    color: #0000cd;
    font-family: "Tabloid";
  }
}
</style>