<template>
  <div id="wrapper-tabs">
    <div class="tabs">
      <ul>
        <li v-for="tab in tabs" :class="{ 'is-active': tab.isActive }" :key="tab">
          <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
        </li>
      </ul>
    </div>

    <div class="tabs-details">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "tabs",
  data() {
    return { tabs: [] };
  },
  created() {
    this.tabs = this.$children;
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = tab.name == selectedTab.name;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#wrapper-tabs {
  .tabs {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // background-color: #333;
      li {
        list-style: none;
        float: left;
        &.is-active {
          a {
            color: #111111;
            -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: #111111;
          }
        }
        a {
          display: block;
          color: #111111;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 24px;
          -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #111111;
          // font-weight: bold;
          cursor: pointer;
          &:hover {
            color: #333333 !important;
            -webkit-text-fill-color: unset; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0;
            // -webkit-text-stroke-color: #aaaaaa;
          }
        }
      }
    }
  }
}
</style>