<template>
  <div class="table-container">
    <div class="md-layout md-gutter md-alignment-center-center">
      <div class="md-layout-item md-size-33 md-small-100">
        <p>Start Date:</p>
        <md-datepicker v-model="startDate" />
      </div>
      <div class="md-layout-item md-size-33 md-small-100">
        <p>End Date:</p>
        <md-datepicker v-model="endDate" />
      </div>
      <div class="md-layout-item md-size-33 md-small-100">
        <button class="button__search">Search</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Coin Activity</th>
          <th scope="col">Total Coins</th>
          <th scope="col">Items</th>
          <th scope="col">Debit/Credit</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedCats" :key="index">
          <td data-label="Date/Time: ">{{ data.datetime }}</td>
          <td data-label="Coin Activity: ">{{ data.coin_activity }}</td>
          <td data-label="Total Coins: ">{{ data.total_coins }}</td>
          <td data-label="Items: ">{{ data.items }}</td>
          <td data-label="Debit/Credit: ">{{ data.payment }}</td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  components: {
    Pagination
  },
  data() {
    return {
      startDate: null,
      endDate: null,
      currentSort: "datetime",
      currentSortOrder: "asc",
      pagination: {
        perPage: 20,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Buy Package",
          total_coins: "40,000",
          items: "Platinum",
          payment: "Debit"
        },
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Buy News",
          total_coins: "500",
          items: "Details",
          payment: "Credit"
        },
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Cell News",
          total_coins: "100",
          items: "Details",
          payment: "Credit"
        },
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Transfer Money",
          total_coins: "10,000",
          items: "",
          payment: "Credit"
        },
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Package Expired",
          total_coins: "20,000",
          items: "",
          payment: "Credit"
        },
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Consolidated Coin",
          total_coins: "10,000",
          items: "",
          payment: "Credit"
        },
        {
          datetime: "01/10/2019 22:45",
          coin_activity: "Cancelled Package",
          total_coins: "10,000",
          items: "Platinium Gold",
          payment: "Credit"
        }
      ],
      searchedData: [],
      fuseSearch: null
    };
  },
  computed: {
    sortedCats() {
      return this.tableData.filter((row, index) => {
        let start = (this.pagination.currentPage - 1) * this.pagination.perPage;
        let end = this.pagination.currentPage * this.pagination.perPage;
        if (index >= start && index < end) return true;
      });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
