<template>
  <div class="table-container">
    <div class="md-layout md-gutter">
      <div class="md-layout-item md-size-33 md-small-100">
        <md-datepicker v-model="startDate" />
      </div>
      <div class="md-layout-item md-size-33 md-small-100">
        <md-datepicker v-model="endDate" />
      </div>
      <div class="md-layout-item md-size-33 md-small-100">
        <button class="button__search">Search</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Invoice No</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">Amount</th>
          <th scope="col">Due Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedCats" :key="index">
          <td data-label="Date/Time">{{data.datetime}}</td>
          <td data-label="Invoice No">{{ data.invoice_no }}</td>
          <td data-label="Item">{{ data.item }}</td>
          <td data-label="Price">{{ data.price }}</td>
          <td data-label="Amount">{{ data.amount }}</td>
          <td data-label="Due Date">{{ data.due_date }}</td>
          <td data-label="Status">{{ data.status}}</td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  components: {
    Pagination
  },
  data() {
    return {
      startDate: null,
      endDate: null,
      currentSort: "datetime",
      currentSortOrder: "asc",
      pagination: {
        perPage: 20,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          datetime: "01/10/2019 22:45",
          invoice_no: "Inv2019070001",
          item: "Gold Package",
          price: "200,000",
          amount: "214,000",
          due_date: "01/10/2019",
          status: "Unpaid"
        },
        {
          datetime: "01/10/2019 22:45",
          invoice_no: "Inv2019070001",
          item: "Sliver Package",
          price: "200,000",
          amount: "107,000",
          due_date: "01/10/2019",
          status: "Paid"
        },
        {
          datetime: "01/10/2019 22:45",
          invoice_no: "Inv2019070001",
          item: "Platnium Package",
          price: "200,000",
          amount: "234,000",
          due_date: "01/10/2019",
          status: "Unpaid"
        },
        {
          datetime: "01/10/2019 22:45",
          invoice_no: "Inv2019070001",
          item: "Gold Package",
          price: "200,000",
          amount: "123,000",
          due_date: "01/10/2019",
          status: "Unpaid"
        },
        {
          datetime: "01/10/2019 22:45",
          invoice_no: "Inv2019070001",
          item: "Gold Package",
          price: "200,000",
          amount: "107,000",
          due_date: "01/10/2019",
          status: "Paid"
        }
      ],
      searchedData: [],
      fuseSearch: null
    };
  },
  computed: {
    sortedCats() {
      return (
        this.tableData.filter((row, index) => {
            let start =
              (this.pagination.currentPage - 1) * this.pagination.perPage;
            let end = this.pagination.currentPage * this.pagination.perPage;
            if (index >= start && index < end) return true;
          })
      );
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
