<template>
  <li class="md-list-item">
    <nuxt-link
      class="md-list-item-router md-list-item-container md-button-clean"
      @click="hideSidebar"
      v-bind="$attrs"
    >
      <div class="md-list-item-content md-ripple">
        <slot>
          <!-- <md-icon>{{ link.icon }}</md-icon> -->
          <i></i>
          <p>{{ link.name }}</p>
        </slot>
      </div>
    </nuxt-link>
    <!-- <div>
      <ul>
        <slot></slot>
        <li>Today</li>
      </ul>
    </div> -->
    <div>
      <ul>
        <li>Last Open</li>
        <li>My own media</li>
        <li>Purchased</li>
        <li>Last hour</li>
        <li>Today</li>
        <li>This Week</li>
        <li>Excusive media</li>
      </ul>
    </div>
  </li>
</template>
<script>
export default {
  inject: {
    autoClose: {
      default: true
    }
  },
  props: {
    link: {
      type: [String, Object],
      default: () => {
        return {
          name: "",
          path: "",
          icon: ""
        };
      }
    },
    tag: {
      type: String,
      default: "router-link"
    }
  },
  methods: {
    hideSidebar() {
      if (
        this.autoClose &&
        this.$sidebar &&
        this.$sidebar.showSidebar === true
      ) {
        this.$sidebar.displaySidebar(false);
      }
    }
  }
};
</script>
