<template>
  <div class="buycoin">
    <ul class="coins">
      <li
        v-for="(c, index) in coin"
        :class="{ 'active': activeIndex === index}"
        :key="c.id"
        @click="setActive(index)"
      >{{ c.coins }} coins</li>
    </ul>

    <div class="layout">
      <div class="layout-item">
        <h4>Thai Bath</h4>
        <input type="text" placeholder="1000" />
      </div>
      <div class="layout-item-sm">
        <button>
          <md-icon>sync_alt</md-icon>
        </button>
      </div>
      <div class="layout-item">
        <h4>Coin</h4>
        <input type="text" placeholder="100" />
      </div>
    </div>
    <h3>Payment</h3>
    <div class="payment">
      <div class="visa">
        <input type="radio" name="payment" value="visa" checked />
        <img src="~/assets/img/logo/visa.png" alt />
      </div>
      <div class="mastercard">
        <input type="radio" name="payment" value="mastercard" />
        <img src="~/assets/img/logo/mastercard.png" alt />
      </div>
    </div>

    <div class="card">
      <div class="sleeve">
        <div class="credit-card selected" style="background: #555">
          <div class="card-company">Thai Stringer</div>
          <div class="card-number">
            <div class="digit-group">
              <input
                v-model="credit_card_number"
                type="text"
                placeholder="4234 1302 3798 0265"
                @keyup="_formatCreditCard(value)"
              />
            </div>
          </div>
          <div class="card-expire">
            <div>
              <span class="card-text">CVC</span>
              <input type="text" placeholder="321" />
            </div>
            <div>
              <span class="card-text">Expires</span>
              <input type="text" placeholder="MM/YY" />
            </div>
          </div>

          <div class="card-holder">
            <input type="text" placeholder="John P. Smith" />
          </div>
          <div class="card-type">Debit card</div>
        </div>
      </div>
    </div>

    <div class="button-buycoin">
      <button>Buy Coin</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      credit_card_number: "",
      coin: [
        { id: 1, coins: "50" },
        { id: 2, coins: "100" },
        { id: 3, coins: "500" },
        { id: 4, coins: "1000" }
      ],
      activeIndex: undefined
    };
  },
  methods: {
    _formatCreditCard(value) {
      this.credit_card_number.match(/.{1,4}/g);
    },
    setActive(index) {
      this.activeIndex = index;
    }
  }
};
</script>