<template>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Amount</th>
          <th scope="col">Transaction</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedCats" :key="index">
          <td data-label="Date/Time">{{ data.datetime }}</td>
          <td data-label="Amount">{{ data.amount }}</td>
          <td data-label="Transaction">{{ data.transaction }}</td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      <div class>
        <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
      </div>
      <pagination
        class="pagination-no-border pagination-success"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </div>
  </div>
</template>

<script>
import Pagination from "../Pagination.vue";

export default {
  components: {
    Pagination
  },
  data() {
    return {
      currentSort: "datetime",
      currentSortOrder: "asc",
      pagination: {
        perPage: 20,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: "",
      tableData: [
        {
          datetime: "01 September 2019 22:45",
          amount: "500",
          transaction: "0x47594795020588"
        },
        {
          datetime: "01 September 2019 22:45",
          amount: "200",
          transaction: "0x47594795020588"
        },
        {
          datetime: "01 September 2019 22:45",
          amount: "500",
          transaction: "0x47594795020588"
        },
        {
          datetime: "01 September 2019 22:45",
          amount: "100",
          transaction: "0x47594795020588"
        },
        {
          datetime: "01 September 2019 22:45",
          amount: "100",
          transaction: "0x47594795020588"
        }
      ],
      searchedData: [],
      fuseSearch: null
    };
  },
  computed: {
    sortedCats() {
      return this.tableData.filter((row, index) => {
        let start = (this.pagination.currentPage - 1) * this.pagination.perPage;
        let end = this.pagination.currentPage * this.pagination.perPage;
        if (index >= start && index < end) return true;
      });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  }
};
</script>
